.common_step {
  margin-top: vw(125);
  &_ttl {
    padding: vw(20) 0 vw(24) vw(125);
    position: relative;
    font-size: vw(42);
    line-height: 1.5;
    font-weight: bold;
    &::before {
      position: absolute;
      content: "";
      width: vw(106);
      height: vw(97);
      left: -1px;
      top: vw(-14);
    }
  }
  &_sub_ttl {
    padding: 0 0 0 vw(32);
    position: relative;
    font-size: vw(36);
    line-height: vw(54);
    font-weight: bold;
    color: #000;
    margin-top: vw(72);
    &::before {
      position: absolute;
      content: "";
      width: vw(10);
      height: vw(54);
      left: 0;
      top: 0;
    }
  }
  &_note {
    border-width: vw(3);
    border-style: solid;
    border-radius: vw(6);
    margin-top: vw(63);
    h4 {
      padding: vw(19) 0 vw(19) vw(157);
      position: relative;
      font-size: 0;
      &::before {
        position: absolute;
        content: "";
        width: vw(146);
        height: vw(114);
        background: url('../images/lion_02.png') 0 0 no-repeat;
        background-size: contain;
        left: vw(-6);
        bottom: 0;
      }
    }
    &_c {
      background: #fff;
      padding: vw(38) vw(20);
      font-size: vw(28);
      line-height: vw(50);
      font-weight: 500;
      &._flex {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      }
      &_txt {
        width: 100%;
      }
      figure {
        width: vw(530);
        text-align: right;
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
      ul {
        li {
          position: relative;
          padding: 0 0 0 vw(35);
          &::before {
            position: absolute;
            content: "";
            width: vw(24);
            height: vw(24);
            background: #3D3A39;
            border-radius: 50%;
            left: 0;
            top: vw(13);
          }
        }
      }
    }
  }
  &.gas_manage {
    .common_step_ttl {
      border-top: vw(4) solid #00428A;
      color: #00428A;
      &::before {
        background: url('../images/icon_gas_manage.png') 0 0 no-repeat;
        background-size: contain;
      }
    }
    .common_step_sub_ttl {
      &::before {
        background: #00428A;
      }
    }
    .common_step_note {
      border-color: #00428A;
      h4 {
        background: #00428A;
      }
    }
  }
  &.gas_house {
    .common_step_ttl {
      border-top: vw(4) solid #006EB5;
      color: #006EB5;
      &::before {
        background: url('../images/icon_gas_house.png') 0 0 no-repeat;
        background-size: contain;
      }
    }
    .common_step_sub_ttl {
      &::before {
        background: #006EB5;
      }
    }
    .common_step_note {
      border-color: #006EB5;
      h4 {
        background: #006EB5;
      }
    }
  }
  &.gas_stove {
    .common_step_ttl {
      border-top: vw(4) solid #0093D4;
      color: #0093D4;
      &::before {
        background: url('../images/icon_gas_stove.png') 0 0 no-repeat;
        background-size: contain;
      }
    }
    .common_step_sub_ttl {
      &::before {
        background: #0093D4;
      }
    }
  }
  &.gas_caution {
    .common_step_ttl {
      border-top: vw(4) solid #00AEEB;
      color: #00AEEB;
      &::before {
        background: url('../images/icon_gas_caution.png') 0 0 no-repeat;
        background-size: contain;
      }
    }
    .common_step_sub_ttl {
      &::before {
        background: #00AEEB;
      }
    }
    .common_step_note {
      border-color: #00AEEB;
      h4 {
        background: #00AEEB;
      }
    }
  }
  span.red {
    color: #ff0000;
    font-weight: bold;
  }
}
.gas_manage {
  &_figure_i {
    margin-top: vw(40);
    text-align: center;
    figcaption {
      font-size: vw(20);
      line-height: 1.5;
      margin-top: vw(15);
    }
  }
  &_title {
    font-size: vw(32);
    line-height: vw(50);
    font-weight: bold;
    color: #00428A;
    margin-top: vw(25);
  }
  &_list {
    margin-top: vw(30);
    li {
      font-size: vw(30);
      line-height: vw(50);
      font-weight: 500;
      position: relative;
      &:not(:first-child) {
        margin-top: vw(10);
      }
      &::before {
        position: relative;
        content: "";
        width: vw(24);
        height: vw(24);
        background: #00428A;
        border-radius: 50%;
        display: inline-block;
      }
    }
  }
  .common_step_note {
    h4 {
      img {
        width: vw(235);
      }
    }
    &_c {
      figure {
        figcaption {
          font-size: vw(20);
        }
      }
    }
  }
  &_detail {
    margin-top: vw(70);
    figure {
      img {

      }
    }
    &_txt {
      color: #E84722;
      font-size: vw(22);
      line-height: vw(38);
      font-weight: bold;
      padding: vw(30) vw(30) vw(105);
      position: relative;
      transform: translateZ(0);
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url('../images/mess.png') 0 0 no-repeat;
        background-size: 100% 100%;
        z-index: -2;
      }
      &::after {
        position: absolute;
        content: "";
        width: vw(272);
        height: vw(197);
        background: url('../images/lion_03.png') 0 0 no-repeat;
        background-size: contain;
        right: vw(75);
        bottom: vw(-68);
        z-index: -1;
      }
    }
  }
}
.gas_house {
  margin-top: vw(171);
  &_wrap {
    article {
      background: #EEF7FF;
      border-radius: vw(8);
      padding: vw(50) vw(42) vw(30);
      margin-top: vw(38);
      h4 {
        font-size: vw(32);
        line-height: vw(52);
        color: #006EB5;
        padding: 0 0 0 vw(35);
        position: relative;
        font-weight: bold;
        &::before {
          position: absolute;
          content: "";
          width: vw(24);
          height: vw(24);
          background: #006EB5;
          border-radius: 50%;
          left: 0;
          top: vw(14);
        }
      }
      p {
        font-size: vw(32);
        line-height: vw(52);
        font-weight: 500;
        margin-top: vw(20);
      }
      figure {
        text-align: center;
        margin-top: vw(34);
      }
      &:nth-of-type(1) {
        figure {
          img {
            width: vw(448);
          }
        }
      }
      &:nth-of-type(2) {
        figure {
          img {
            width: vw(445);
          }
        }
      }
    }
  }
  &_sec {
    margin-top: vw(51);
    h5 {
      text-align: center;
      transform: translateY(#{vw(28)});
      img {
        width: vw(611);
      }
    }
    &_wrap {
      border: vw(4) solid #006EB5;
      border-radius: vw(8);
      padding: vw(71) vw(20) vw(40);
    }
    &_col {
      &:not(:first-child) {
        margin-top: vw(70);
      }
      ul {
        li {
          position: relative;
          padding: vw(10) 0 vw(10) vw(35);
          font-size: vw(30);
          line-height: vw(50);
          font-weight: bold;
          color: #3D3A39;
          &:not(:first-child) {
            border-top: 1px dashed #3D3A39;
          }
          &::before {
            position: absolute;
            content: "";
            width: vw(24);
            height: vw(24);
            background: #3D3A39;
            border-radius: 50%;
            left: 0;
            top: vw(23);
          }
        }
      }
      p {
        font-size: vw(22);
        line-height: vw(42);
        font-weight: 500;
      }
      figure {
        margin-top: vw(20);
      }
    }
  }
  .common_step_note {
    h4 {
      img {
        width: vw(311);
      }
    }
  }
}
.gas_stove {
  &_intro {
    font-size: vw(30);
    line-height: vw(50);
    font-weight: 500;
    margin-top: vw(22);
  }
  &_sec {
    &_top {
      margin-top: vw(40);
      figure {
      }
      &_r {
        font-size: vw(30);
        line-height: vw(50);
        font-weight: 500;
        margin-top: vw(34);
        ul {
          margin-top: vw(24);
          li {
            padding: 0 0 0 vw(35);
            position: relative;
            &::before {
              position: absolute;
              content: "";
              width: vw(24);
              height: vw(24);
              background: #3D3A39;
              border-radius: 50%;
              left: 0;
              top: vw(13);
            }
          }
        }
      }
    }
    &_mid {
      margin-top: vw(47);
      h4 {
        text-align: center;
        transform: translateY(#{vw(28)});
        img {
          width: vw(611);
        }
      }
      &_w {
        background: #EEF7FF;
        border-radius: vw(8);
        padding: vw(90) vw(20) vw(40);
        section {
          padding: vw(42) vw(20);
          background: #fff;
          border-radius: 8px;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            width: vw(62);
            height: vw(62);
            left: 0;
            top: 0;
          }
          &:nth-of-type(1) {
            &::before {
              background: url('../images/num_01.png') 0 0 no-repeat;
              background-size: contain;
            }
            figure {
              img {
                width: vw(229);
              }
            }
          }
          &:nth-of-type(2) {
            &::before {
              background: url('../images/num_02.png') 0 0 no-repeat;
              background-size: contain;
            }
            figure {
              img {
                width: vw(209);
              }
            }
          }
          &:nth-of-type(3) {
            &::before {
              background: url('../images/num_03.png') 0 0 no-repeat;
              background-size: contain;
            }
            figure {
              img {
                width: vw(167);
              }
            }
          }
          &:nth-of-type(4) {
            &::before {
              background: url('../images/num_04.png') 0 0 no-repeat;
              background-size: contain;
            }
            figure {
              img {
                width: vw(140);
              }
            }
          }
          &:not(:last-child) {
            margin-bottom: vw(40);
          }
          figure {
            text-align: center;
          }
          ._right {
            h5 {
              font-size: vw(32);
              line-height: vw(52);
              font-weight: bold;
              color: #0093D4;
            }
            p {
              font-size: vw(28);
              line-height: vw(48);
              font-weight: 500;
              margin-top: vw(12);
            }
          }
        }
      }
    }
    &_bot {
      margin-top: vw(54);;
      h4 {
        font-size: vw(32);
        line-height: vw(52);
        font-weight: bold;
        color: #333;
        position: relative;
        padding: 0 0 0 vw(57);
        margin-bottom: vw(40);
        &::before {
          position: absolute;
          content: "";
          width: vw(39);
          height: vw(39);
          background: url('../images/exclamation.png') 0 0 no-repeat;
          background-size: contain;
          left: 0;
          top: 0;
        }
      }
      &_w {
        figure {
          border-radius: vw(8);
          border: vw(4) solid #F2F2F2;
          text-align: center;
          padding: vw(30) 0;
          &:nth-child(1) {
            img {
              width: vw(447);
            }
          }
          &:nth-child(2) {
            margin-top: vw(42);
            img {
              width: vw(339);
            }
          }
          figcaption {
            font-size: vw(22);
            line-height: 1;
            font-weight: bold;
            margin-top: vw(20);
          }
        }
      }
    }
  }
}
.gas_caution {
  margin-bottom: vw(109);
  &_smell {
    border-radius: vw(8);
    background: #F7F7F7;
    padding: vw(20);
    margin-top: vw(20);
    position: relative;
    background: url(../images/bkg_dd.png) 0% 0% / cover no-repeat rgb(244, 244, 244);
    &::after {
      position: absolute;
      content: "";
      width: vw(130);
      height: vw(68);
      background: url('../images/rectangle.png') 0 0 no-repeat;
      background-size: contain;
      left: 50%;
      transform: translateX(-50%);
      bottom: vw(-110);
    }
    figure {
      background: #fff;
      padding: vw(70) vw(20) vw(20);
      text-align: center;
      border-radius: 8px;
      &:not(:nth-child(-n+1)) {
        margin-top: vw(20);
      }
      &:nth-of-type(1) {
        img {
          width: vw(442);
        }
      }
      &:nth-of-type(2) {
        img {
          width: vw(416);
        }
      }
      &:nth-of-type(3) {
        img {
          width: vw(233);
        }
      }
      &:nth-of-type(4) {
        img {
          width: vw(177);
        }
      }
      img {
        margin-top: vw(24);
      }
      figcaption {
        position: relative;
        padding: 0 0 0 vw(46);
        font-size: vw(30);
        line-height: vw(50);
        font-weight: bold;
        text-align: left;
        &::before {
          position: absolute;
          content: "";
          width: vw(35);
          height: vw(33);
          background: url('../images/icon_check.png') 0 0 no-repeat;
          background-size: contain;
          left: 0;
          top: vw(8);
        }
      }
    }
    &_n {
      margin-top: vw(137);
      display: flex;
      padding: vw(22) vw(27) vw(45);
      justify-content: space-between;
      flex-flow: row wrap;
      align-items: center;
      background: #FAF8EA;
      border-radius: vw(8);
      figure {
        width: vw(208)
      }
      h4 {
        width: vw(361);
      }
      p {
        width: 100%;
        margin-top: vw(40);
        font-size: vw(28);
        line-height: vw(48);
        font-weight: bold;
      }
    }
  }
  &_disater_w {
    margin-top: vw(24);
    article {
      padding: vw(30) vw(20);
      border-radius: vw(8);
      border: 2px solid #ccc;
      &:first-child {
        margin-bottom: vw(44);
      }
      h5 {
        font-size: vw(30);
        line-height: vw(50);
        font-weight: bold;
        padding: 0 0 0 vw(35);
        position: relative;
        color: #00AEEB;
        &::before {
          position: absolute;
          content: "";
          width: vw(24);
          height: vw(24);
          background: #00AEEB;
          border-radius: 50%;
          left: 0;
          top: vw(13);
        }
      }
      p {
        font-size: vw(30);
        line-height: vw(50);
        margin-top: vw(10);
        font-weight: 500;
      }
      figure {
        text-align: center;
        &._mar {

          img {
            width: vw(368);
          }
        }
        img {
          width: vw(164);
          margin-top: vw(42);
        }
      }
    }
  }
  .common_step_note {
    h4 {
      img {
        width: vw(416);
      }
    }
  }
}