@charset "utf-8";

// ===================================================================
//  use index page
// ===================================================================

/* home
------------------------------------------------- */

/* slider */

.home_slider_loading {
  width: 100%;
  height: vw(355);
  display: table;
  span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    img{
      width: auto;
      max-width: 100%;
    }
  }
}

.home_slider {
  position: relative;
  display: none;
}
