.ttl {
  margin: vw(53) 0 vw(70);
  &:before {
    background: url(../images/icon_ttl.png) no-repeat;
    background-size: contain;
    width: vw(39);
    height: vw(54);
  }
}

.list_anc {
  display: flex;
  flex-flow: row wrap;
  margin-left: vw(-38);
  li {
    position: relative;
    transform: translateZ(0);
    width: calc(50% - #{vw(38)});
    margin: 0 0 vw(46) vw(38);
    &:nth-of-type(1) {
      width: 100%;
      a {
        background-color: #00428A;
        position: relative;
        padding: vw(124) vw(20) vw(25);
        &:before {
          background: url(../images/icon_book.png) no-repeat;
          background-size: contain;
          width: vw(81);
          height: vw(74);
        }
        &:after {
          content: "";
          background: url(../images/af_li_01.png) no-repeat;
          background-size: contain;
          width: vw(22);
          height: vw(22);
          position: absolute;
          bottom: vw(18);
          right: vw(20);
        }
        strong {
          color: #fff;
          margin-bottom: 0;
        }
        em {
          color: #fff;
          text-align: center;
        }
      }
    }
    &:nth-of-type(2) {
      a {
        &:before {
          background: url(../images/icon_pipe.png) no-repeat;
          background-size: contain;
          width: vw(60);
          height: vw(83);
        }
        &:after {
          content: "";
          background: #00428A url(../images/icon_arrow_down_sp.png) no-repeat;
          background-size: vw(29) vw(16);
          background-position: center center;
          width: vw(315);
          height: vw(34);
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &:nth-of-type(3) {
      a {
        border-color: #006EB5;
        &:before {
          background: url(../images/icon_house.png) no-repeat;
          background-size: contain;
          width: vw(85);
          height: vw(75);
        }
        &:after {
          content: "";
          background: #006EB5 url(../images/icon_arrow_down_sp.png) no-repeat;
          background-size: vw(29) vw(16);
          background-position: center center;
          width: vw(315);
          height: vw(34);
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        strong {
          letter-spacing: vw(-3);
          color: #006EB5;
        }
      }
      &:after {
        background-color: #003756;
      }
    }
    &:nth-of-type(4) {
      a {
        border-color: #0093D4;
        &:before {
          background: url(../images/icon_stove.png) no-repeat;
          background-size: contain;
          width: vw(82);
          height: vw(83);
        }
        &:after {
          content: "";
          background: #0093D4 url(../images/icon_arrow_down_sp.png) no-repeat;
          background-size: vw(29) vw(16);
          background-position: center center;
          width: vw(315);
          height: vw(34);
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        strong {
          color: #0093D4;
        }
      }
      &:after {
        background-color: #005C7C;
      }
    }
    &:nth-of-type(5) {
      a {
        border-color: #00AEEB;
        &:before {
          background: url(../images/icon_caution.png) no-repeat;
          background-size: contain;
          width: vw(81);
          height: vw(73);
        }
        &:after {
          content: "";
          background: #00AEEB url(../images/icon_arrow_down_sp.png) no-repeat;
          background-size: vw(29) vw(16);
          background-position: center center;
          width: vw(315);
          height: vw(34);
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        strong {
          color: #00AEEB;
        }
      }
      &:after {
        background-color: #006E8C;
      }
    }
    a {
      background-color: #fff;
      display: block;
      border: vw(3) solid #00428A;
      border-radius: vw(5);
      height: 100%;
      padding: vw(127) vw(20) vw(57);
      position: relative;
      overflow: hidden;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
      &:before {
        content: "";
        position: absolute;
        top: vw(30);
        left: 50%;
        transform: translateX(-50%);
      }
      strong {
        font-size: vw(32);
        line-height: vw(46);
        color: #00428A;
        display: block;
        text-align: center;
        margin-bottom: vw(26);
      }
      em {
        font-size: vw(28);
        line-height: vw(44);
        color: #000;
        font-style: normal;
        display: block;
        letter-spacing: -1px;
      }
    }
    &:after {
      position: absolute;
      content: "";
      z-index: -1;
      width: 100%;
      height: 100%;
      left: 0;
      top: vw(7);
      border-radius: vw(5);
      background: #002547;
    }
  }
}

.des_tel {
  margin-top: vw(77);
  dt {
    font-size: vw(36);
    line-height: 1;
    color: #fff;
    font-weight: bold;
    padding: vw(34) vw(163) vw(30) 0;
    text-align: center;
    background: linear-gradient(90deg, rgba(0, 69, 146, 1) 0%, rgba(0, 174, 235, 1) 80%);
    border-top-right-radius: vw(12);
    border-top-left-radius: vw(12);
    position: relative;
    &:after {
      content: "";
      background: url(../images/lion_01.png) no-repeat;
      background-size: contain;
      width: vw(182);
      height: vw(157);
      position: absolute;
      right: vw(22);
      top: vw(-57);
    }
  }
  dd {
    padding: vw(32) vw(30);
    background: url(../images/bkg_dd.png) no-repeat #F4F4F4;
    background-size: cover;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    h3 {
      font-size: vw(30);
      line-height: vw(36);
      position: relative;
      text-align: center;
      color: #000;
      font-weight: bold;
      margin-bottom: vw(20);
      &:before {
        content: "";
        width: vw(100);
        height: vw(2);
        background: #000;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &:after {
        content: "";
        width: vw(100);
        height: vw(2);
        background: #000;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
    article {
      background-color: #fff;
      border-radius: vw(12);
      padding: vw(38) vw(32) vw(30);
      &:nth-of-type(1) {
        h4 {
          img {
            width: vw(485);
            height: vw(31);
          }
        }
      }
      &:nth-of-type(2) {
        margin-top: vw(32);
        h4 {
          margin-bottom: vw(33);
          img {
            width: vw(346);
            height: vw(30);
          }
        }
        .ttl_tbl {
          margin-bottom: vw(34);
        }
      }
      table {
        width: 100%;
        border-spacing: inherit;
        .tel {
          &.tel_01 {
            img {
              width: vw(373);
              height: vw(49);
            }
          }
          &.tel_02 {
            img {
              width: vw(397);
              height: vw(51);
            }
          }
          &.tel_03 {
            img {
              width: vw(330);
              height: vw(43);
            }
          }
          &.tel_04 {
            img {
              width: vw(317);
              height: vw(42);
            }
          }
          &.tel_05 {
            img {
              width: vw(350);
              height: vw(51);
            }
          }
          &.tel_06 {
            img {
              width: vw(390);
              height: vw(51);
            }
          }
          &.tel_07 {
            img {
              width: vw(330);
              height: vw(42);
            }
          }
          &.tel_08 {
            img {
              width: vw(317);
              height: vw(43);
            }
          }
        }
      }
      h4 {
        text-align: center;
        border-bottom: vw(4) solid #006EB5;
        padding-bottom: vw(20);
        margin-bottom: vw(17);
      }
      .ttl_tbl {
        font-size: vw(30);
        line-height: vw(50);
        font-weight: bold;
        margin-bottom: vw(18);
      }
      .txt_org {
        border-top: vw(2) solid #ccc;
        border-left: vw(2) solid #ccc;
        border-right: vw(2) solid #ccc;
        &_f {
          background-color: #E84722;
          color: #fff !important;
          padding: vw(11) 0 !important;
          text-align: center;
        }
        span {
          color: #E84722;
          font-size: vw(28);
          line-height: vw(33);
          font-weight: bold;
          display: block;
          padding: vw(22) 0 vw(19) vw(15);
          small {
            font-size: vw(20);
            margin-left: vw(24);
          }
        }
      }
      .tbl_tel_01 {
        border: vw(2) solid #ccc;
        tr {
          td {
            border-bottom: 1px solid #ccc;
          }
          &:first-of-type,
          &:nth-of-type(2) {
            td {
              text-align: center;
              padding: vw(19) 0 vw(33);
              p {
                font-size: vw(22);
                line-height: vw(26);
                color: #333;
                margin-bottom: vw(20);
                letter-spacing: -1px;
                text-align: center;
                span {
                  font-size: vw(28);
                  line-height: vw(33);
                  font-weight: bold;
                  display: block;
                  margin-bottom: vw(15);
                }
              }
            }
          }
          &:last-of-type {
            td {
              border-bottom: none;
            }
          }
          .dt_flex {
            padding: vw(20) 0 vw(29) vw(26);
            p {
              font-size: vw(22);
              line-height: vw(40);
              font-weight: bold;
              margin-bottom: vw(18);
            }
            strong {
              font-size: vw(28);
              line-height: vw(33);
              margin: 0 vw(30) 0 0;
            }
          }
        }
      }
      .tbl_tel_02 {
        border: vw(2) solid #ccc;
        tr {
          td {
            border-bottom: 1px solid #ccc;
          }
          &:last-of-type{
            td{
              border-bottom: none;
            }
          }
          .bx_center {
            text-align: center;
            padding: vw(32) 0 vw(26);
            p {
              font-size: vw(22);
              line-height: vw(26);
              color: #333;
              margin-bottom: vw(20);
              letter-spacing: -1px;
              text-align: center;
              span {
                font-size: vw(28);
                line-height: vw(33);
                font-weight: bold;
                display: block;
                margin-bottom: vw(15);
              }
            }
          }
          &:nth-of-type(4) {
            td {
              padding: vw(12) vw(10) vw(4) vw(17);
              border-bottom: none;
              p {
                font-size: vw(20);
                line-height: vw(40);
              }
            }
          }
          &:nth-of-type(5) {
            .bx_t{
              padding: vw(88) 0 vw(26) vw(86);
            }
          }
          .bx_t {
            padding: vw(77) 0 0 vw(72);
            position: relative;
            .bkg_grey {
              background-color: #ccc;
              color: #fff;
              font-size: vw(28);
              line-height: vw(33);
              font-weight: bold;
              height: vw(52);
              text-align: center;
              vertical-align: middle;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .time {
              display: block;
              font-style: normal;
              font-size: vw(28);
              line-height: vw(33);
              font-weight: bold;
              margin-bottom: vw(22);
              span {
                &:first-of-type {
                  margin-right: vw(14);
                  display: inline-block;
                  width: vw(198);
                }
              }
            }
            .txt_center {
              padding-left: vw(77);
              display: block;
            }
            em {
              font-style: normal;
              font-size: vw(28);
              line-height: vw(33);
              font-weight: bold;
            }
          }
          .dt_flex {
            padding: vw(20) 0 vw(29) vw(26);
            p {
              font-size: vw(22);
              line-height: vw(40);
              font-weight: bold;
              margin-bottom: vw(18);
            }
            strong {
              font-size: vw(28);
              line-height: vw(33);
              margin: 0 vw(30) 0 0;
            }
          }
        }
      }
    }
  }
}