/* home
------------------------------------------------- */
/* slider */
.slick-dotted.slick-slider {
  margin-bottom: 25px;
}

.slider.center-item img {
  width: 100%;
  height: auto;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.slick-prev::before,
.slick-next::before {
  font-size: 40px;
}

.slick-dots {
  background: #008FD1;
  height: 28px;
  font-size: 14px;
}

.home_slider_loading {
  width: 100%;
  height: 300px;
  display: table;
}

.home_slider_loading span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.home_slider {
  position: relative;
  display: none;
}

.center-item .slick-next {
  right: 50px;
  z-index: 99;
}

.center-item .slick-prev {
  left: 50px;
  z-index: 100;
}

.home_slider .slick-prev, .home_slider .slick-next {
  width: 36px;
  height: 51px;
}

.home_slider .slick-prev:before, .home_slider .slick-next:before {
  content: "";
  display: block;
  -moz-background-size: 36px 51px;
       background-size: 36px 51px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 36px;
  height: 51px;
  opacity: 1;
}

.home_slider .slick-prev:before {
  background-image: url(../images/home_slider_previous.png);
}

.home_slider .slick-next:before {
  background-image: url(../images/home_slider_next.png);
}

.home_slider .slick-dots li {
  margin: 0 15px;
  width: 35px;
  height: 7px;
  padding: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.home_slider .slick-dots li button {
  width: 35px;
  height: 7px;
  padding: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background: #fff;
}

.home_slider .slick-dots li button:hover {
  background: #414042;
}

.home_slider .slick-dots li.slick-active button {
  background: #414042;
}

.home_slider .slick-dots li button:before {
  display: none;
}

#bnr_simulation_home {
  position: absolute;
  top: 50%;
  margin-top: -127px;
  right: 120px;
  -moz-border-radius: 3px;
       border-radius: 3px;
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
       box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border: 3px solid #f59233;
  padding: 10px;
  background: #fff;
}

#bnr_simulation_home a {
  display: block;
}

a#bnr_simulation_home_link {
  background: url(../images/bnr_simulation_home_hover.png) no-repeat center center;
  -moz-background-size: cover;
       background-size: cover;
}

a#bnr_mypage_home_link {
  background: url(../images/btn_mypage_on.png) no-repeat center center;
  -moz-background-size: cover;
       background-size: cover;
}

#bnr_simulation_home a:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

#bnr_simulation_home img {
  display: block;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#bnr_simulation_home img:hover {
  filter: alpha(opacity=0);
  opacity: 0;
}

.ttl {
  margin: 82px 0 55px;
}

.ttl:before {
  background: url(../../gas/images/icon_ttl.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 24px;
  height: 33px;
}

.list_anc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -22px;
}

.list_anc li {
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  width: -webkit-calc(20% - 22px);
  width: -moz-calc(20% - 22px);
  width: calc(20% - 22px);
  margin: 0 0 0 22px;
}

.list_anc li:nth-of-type(1) a {
  background-color: #00428A;
  position: relative;
}

.list_anc li:nth-of-type(1) a:before {
  background: url(../../gas/images/icon_book.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 64px;
  height: 59px;
}

.list_anc li:nth-of-type(1) a:after {
  content: "";
  background: url(../../gas/images/af_li_01.png) no-repeat;
  width: 20px;
  height: 14px;
  position: absolute;
  bottom: 6px;
  right: 10px;
}

.list_anc li:nth-of-type(1) a strong {
  color: #fff;
}

.list_anc li:nth-of-type(1) a em {
  color: #fff;
}

.list_anc li:nth-of-type(2) a:before {
  background: url(../../gas/images/icon_pipe.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 46px;
  height: 63px;
}

.list_anc li:nth-of-type(2) a:after {
  content: "";
  background: #00428A url(../../gas/images/icon_arrow_down_sp.png) no-repeat;
  -moz-background-size: 23px 13px;
       background-size: 23px 13px;
  background-position: center center;
  width: 190px;
  height: 26px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.list_anc li:nth-of-type(3) a {
  border-color: #006EB5;
}

.list_anc li:nth-of-type(3) a:before {
  background: url(../../gas/images/icon_house.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 63px;
  height: 56px;
}

.list_anc li:nth-of-type(3) a:after {
  content: "";
  background: #006EB5 url(../../gas/images/icon_arrow_down_sp.png) no-repeat;
  -moz-background-size: 23px 13px;
       background-size: 23px 13px;
  background-position: center center;
  width: 190px;
  height: 26px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.list_anc li:nth-of-type(3) a strong {
  letter-spacing: -3px;
  color: #006EB5;
}

.list_anc li:nth-of-type(3):after {
  background-color: #003756;
}

.list_anc li:nth-of-type(4) a {
  border-color: #0093D4;
}

.list_anc li:nth-of-type(4) a:before {
  background: url(../../gas/images/icon_stove.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 54px;
  height: 57px;
}

.list_anc li:nth-of-type(4) a:after {
  content: "";
  background: #0093D4 url(../../gas/images/icon_arrow_down_sp.png) no-repeat;
  -moz-background-size: 23px 13px;
       background-size: 23px 13px;
  background-position: center center;
  width: 190px;
  height: 26px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.list_anc li:nth-of-type(4) a strong {
  color: #0093D4;
}

.list_anc li:nth-of-type(4):after {
  background-color: #005C7C;
}

.list_anc li:nth-of-type(5) a {
  border-color: #00AEEB;
}

.list_anc li:nth-of-type(5) a:before {
  background: url(../../gas/images/icon_caution.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 61px;
  height: 54px;
}

.list_anc li:nth-of-type(5) a:after {
  content: "";
  background: #00AEEB url(../../gas/images/icon_arrow_down_sp.png) no-repeat;
  -moz-background-size: 23px 13px;
       background-size: 23px 13px;
  background-position: center center;
  width: 190px;
  height: 26px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.list_anc li:nth-of-type(5) a strong {
  color: #00AEEB;
}

.list_anc li:nth-of-type(5):after {
  background-color: #006E8C;
}

.list_anc li a {
  background-color: #fff;
  display: block;
  border: 3px solid #00428A;
  -moz-border-radius: 5px;
       border-radius: 5px;
  height: 100%;
  padding: 97px 15px 44px;
  position: relative;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
}

.list_anc li a:before {
  content: "";
  position: absolute;
  top: 23px;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.list_anc li a strong {
  font-size: 2rem;
  line-height: 30px;
  color: #00428A;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.list_anc li a em {
  font-size: 1.5rem;
  line-height: 26px;
  color: #000;
  font-style: normal;
  display: block;
}

.list_anc li:after {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 5px;
  -moz-border-radius: 5px;
       border-radius: 5px;
  background: #002547;
}

.list_anc li:hover a {
  opacity: 1;
  -webkit-transform: translateY(5px);
     -moz-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.des_tel {
  margin-top: 125px;
}

.des_tel dt {
  font-size: 3.5rem;
  line-height: 1;
  color: #fff;
  font-weight: bold;
  padding: 34px 0 30px;
  text-align: center;
  background: -webkit-linear-gradient(left, #004592 0%, #00aeeb 80%);
  background: -moz-linear-gradient(left, #004592 0%, #00aeeb 80%);
  background: linear-gradient(90deg, #004592 0%, #00aeeb 80%);
  -moz-border-radius-topright: 12px;
       border-top-right-radius: 12px;
  -moz-border-radius-topleft: 12px;
       border-top-left-radius: 12px;
  position: relative;
}

.des_tel dt:after {
  content: "";
  background: url(../../gas/images/lion_01.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 182px;
  height: 157px;
  position: absolute;
  right: 35px;
  top: -57px;
}

.des_tel dd {
  padding: 20px 30px 32px;
  background: url(../images/bkg_dd.png) no-repeat #F4F4F4;
  -moz-background-size: cover;
       background-size: cover;
  -moz-border-radius-bottomright: 12px;
       border-bottom-right-radius: 12px;
  -moz-border-radius-bottomleft: 12px;
       border-bottom-left-radius: 12px;
}

.des_tel dd h3 {
  font-size: 2.5rem;
  line-height: 30px;
  position: relative;
  text-align: center;
  color: #000;
  font-weight: bold;
  margin-bottom: 25px;
}

.des_tel dd h3:before {
  content: "";
  width: 243px;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 39px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.des_tel dd h3:after {
  content: "";
  width: 243px;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  right: 39px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.des_tel dd article {
  background-color: #fff;
  -moz-border-radius: 12px;
       border-radius: 12px;
  padding: 26px 40px 35px;
  /* &:nth-of-type(1) {
        h4{
          img{
            width: 379px;
            height: 23px;
          }
        }
      } */
}

.des_tel dd article:nth-of-type(2) {
  margin-top: 32px;
  padding: 19px 40px 35px;
  /* h4{
          img{
            width: 296px;
            height: 23px;
          }
        } */
}

.des_tel dd article:nth-of-type(2) .ttl_tbl {
  margin-bottom: 12px;
}

.des_tel dd article table {
  border-collapse: collapse;
  width: 100%;
  /* .tel {
          &.tel_01 {
            img {
              width: 260px;
              height: 34px;
            }
          }
          &.tel_02 {
            img {
              width: 277px;
              height: 34px;
            }
          }
          &.tel_03 {
            img {
              width: 210px;
              height: 26px;
            }
          }
          &.tel_04 {
            img {
              width: 202px;
              height: 23px;
            }
          }
          &.tel_05 {
            img {
              width: 186px;
              height: 26px;
            }
          }
          &.tel_06 {
            img {
              width: 207px;
              height: 26px;
            }
          }
          &.tel_07 {
            img {
              width: 197px;
              height: 24px;
            }
          }
          &.tel_08 {
            img {
              width: 189px;
              height: 24px;
            }
          }
        } */
}

.des_tel dd article table,
.des_tel dd article td {
  border: 1px solid #ccc;
}

.des_tel dd article table .tel,
.des_tel dd article td .tel {
  pointer-events: none;
}

.des_tel dd article h4 {
  text-align: center;
  border-bottom: 4px solid #006EB5;
  padding-bottom: 20px;
  margin-bottom: 14px;
}

.des_tel dd article .ttl_tbl {
  font-size: 2rem;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 18px;
}

.des_tel dd article .txt_org {
  margin-bottom: 18px;
}

.des_tel dd article .txt_org_f {
  background-color: #E84722;
  color: #fff !important;
  padding: 5px 24px;
  margin-right: 21px;
}

.des_tel dd article .txt_org span {
  color: #E84722;
  font-size: 2.6rem;
  line-height: 31px;
  font-weight: bold;
}

.des_tel dd article .txt_org span small {
  font-size: 2rem;
  margin-left: 20px;
}

.des_tel dd article .tbl_tel_01 {
  border: 2px solid #ccc;
}

.des_tel dd article .tbl_tel_01 tr:first-of-type td {
  text-align: center;
  padding: 19px 0 15px;
}

.des_tel dd article .tbl_tel_01 tr:first-of-type td p {
  font-size: 1.4rem;
  line-height: 17px;
  color: #333;
  margin-bottom: 11px;
}

.des_tel dd article .tbl_tel_01 tr:first-of-type td p span {
  font-size: 2.4rem;
  line-height: 24px;
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
}

.des_tel dd article .tbl_tel_01 tr:last-of-type .dt_flex {
  padding: 11px 0 9px 92px;
}

.des_tel dd article .tbl_tel_01 tr:last-of-type .dt_flex strong {
  margin: 0 33px 0 70px;
}

.des_tel dd article .tbl_tel_01 tr .dt_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0 5px 92px;
}

.des_tel dd article .tbl_tel_01 tr .dt_flex p {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: bold;
}

.des_tel dd article .tbl_tel_01 tr .dt_flex strong {
  font-size: 2rem;
  line-height: 24px;
  margin: 0 32px 0 91px;
}

.des_tel dd article .tbl_tel_02 {
  border: 2px solid #ccc;
}

.des_tel dd article .tbl_tel_02 tr .bx_center {
  text-align: center;
  padding: 18px 0 15px;
}

.des_tel dd article .tbl_tel_02 tr .bx_center:last-of-type {
  padding: 18px 0 15px;
}

.des_tel dd article .tbl_tel_02 tr .bx_center p {
  font-size: 1.4rem;
  line-height: 17px;
  color: #333;
  margin-bottom: 11px;
}

.des_tel dd article .tbl_tel_02 tr .bx_center p span {
  font-size: 1.5rem;
  line-height: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
}

.des_tel dd article .tbl_tel_02 tr:nth-of-type(2) td {
  padding: 10px 0 4px 27px;
}

.des_tel dd article .tbl_tel_02 tr:nth-of-type(2) td p {
  font-size: 1.3rem;
  line-height: 16px;
}

.des_tel dd article .tbl_tel_02 tr:nth-of-type(2) td p + p {
  margin-top: 5px;
}

.des_tel dd article .tbl_tel_02 tr .bx_t {
  width: 160px;
  vertical-align: middle;
  padding: 30px 0 0 0;
  position: relative;
}

.des_tel dd article .tbl_tel_02 tr .bx_t .bkg_grey {
  background-color: #ccc;
  color: #fff;
  font-size: 1.4rem;
  line-height: 17px;
  font-weight: bold;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.des_tel dd article .tbl_tel_02 tr .bx_t .time {
  display: block;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

.des_tel dd article .tbl_tel_02 tr .bx_t .time span:first-of-type {
  margin-right: 10px;
}

.des_tel dd article .tbl_tel_02 tr .bx_t .txt_center {
  text-align: center;
  display: block;
}

.des_tel dd article .tbl_tel_02 tr .bx_t em {
  font-style: normal;
  font-size: 1.4rem;
  line-height: 17px;
  font-weight: bold;
  padding-left: 14px;
}

.des_tel dd article .tbl_tel_02 tr .dt_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 40px 6px 29px;
}

.des_tel dd article .tbl_tel_02 tr .dt_flex p {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: bold;
  width: -webkit-calc(100% - 320px);
  width: -moz-calc(100% - 320px);
  width: calc(100% - 320px);
}

.des_tel dd article .tbl_tel_02 tr .dt_flex strong {
  font-size: 2rem;
  line-height: 24px;
  width: 100px;
  text-align: right;
}

.des_tel dd article .tbl_tel_02 tr .dt_flex .tel {
  width: 220px;
  text-align: right;
}

.wrap_gas {
  padding-top: 125px;
}

.common_step:not(:last-child) {
  margin-bottom: 125px;
}

.common_step_ttl {
  padding: 30px 0 24px 125px;
  position: relative;
  font-size: 3.5rem;
  line-height: 1;
  font-weight: bold;
}

.common_step_ttl::before {
  position: absolute;
  content: "";
  width: 106px;
  height: 98px;
  left: -1px;
  top: -14px;
}

.common_step_pad {
  padding: 0 60px;
}

.common_step_sub_ttl {
  padding: 0 0 0 32px;
  position: relative;
  font-size: 2.5rem;
  line-height: 37px;
  font-weight: bold;
  color: #000;
  margin-top: 49px;
}

.common_step_sub_ttl::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 100%;
  left: 0;
  top: 0;
}

.common_step_note {
  border-width: 3px;
  border-style: solid;
  -moz-border-radius: 6px;
       border-radius: 6px;
  margin-top: 63px;
}

.common_step_note h4 {
  padding: 19px 0 19px 125px;
  position: relative;
  font-size: 0;
}

.common_step_note h4::before {
  position: absolute;
  content: "";
  width: 122px;
  height: 96px;
  background: url("../images/lion_02.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: -6px;
  bottom: 0;
}

.common_step_note_c {
  background: #fff;
  padding: 23px 20px;
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: 500;
}

.common_step_note_c._flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.common_step_note_c_txt {
  width: -webkit-calc(100% - 246px - 24px);
  width: -moz-calc(100% - 246px - 24px);
  width: calc(100% - 246px - 24px);
}

.common_step_note_c figure {
  width: 246px;
  text-align: right;
}

.common_step_note_c figure img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.common_step_note_c ul li {
  position: relative;
  padding: 0 0 0 20px;
}

.common_step_note_c ul li::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: #3D3A39;
  -moz-border-radius: 50%;
       border-radius: 50%;
  left: 0;
  top: 8px;
}

.common_step.gas_manage .common_step_ttl {
  border-top: 4px solid #00428A;
  color: #00428A;
}

.common_step.gas_manage .common_step_ttl::before {
  background: url("../images/icon_gas_manage.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.common_step.gas_manage .common_step_sub_ttl::before {
  background: #00428A;
}

.common_step.gas_manage .common_step_note {
  border-color: #00428A;
}

.common_step.gas_manage .common_step_note h4 {
  background: #00428A;
}

.common_step.gas_house .common_step_ttl {
  border-top: 4px solid #006EB5;
  color: #006EB5;
}

.common_step.gas_house .common_step_ttl::before {
  background: url("../images/icon_gas_house.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.common_step.gas_house .common_step_sub_ttl::before {
  background: #006EB5;
}

.common_step.gas_house .common_step_note {
  border-color: #006EB5;
}

.common_step.gas_house .common_step_note h4 {
  background: #006EB5;
}

.common_step.gas_stove .common_step_ttl {
  border-top: 4px solid #0093D4;
  color: #0093D4;
}

.common_step.gas_stove .common_step_ttl::before {
  background: url("../images/icon_gas_stove.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.common_step.gas_stove .common_step_sub_ttl::before {
  background: #0093D4;
}

.common_step.gas_caution .common_step_ttl {
  border-top: 4px solid #00AEEB;
  color: #00AEEB;
}

.common_step.gas_caution .common_step_ttl::before {
  background: url("../images/icon_gas_caution.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.common_step.gas_caution .common_step_sub_ttl::before {
  background: #00AEEB;
}

.common_step.gas_caution .common_step_note {
  border-color: #00AEEB;
}

.common_step.gas_caution .common_step_note h4 {
  background: #00AEEB;
}

.common_step span.red {
  color: #ff0000;
  font-weight: bold;
}

.gas_manage_figure_i {
  margin-top: 30px;
  text-align: center;
}

.gas_manage_figure_i img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.gas_manage_title {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  color: #00428A;
  margin-top: 27px;
}

.gas_manage_list {
  margin-top: 16px;
}

.gas_manage_list li {
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: 500;
  padding: 0 0 0 20px;
  position: relative;
}

.gas_manage_list li::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: #00428A;
  left: 0;
  top: 8px;
  -moz-border-radius: 50%;
       border-radius: 50%;
}

.gas_manage_detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 70px;
}

.gas_manage_detail figure {
  width: 556px;
}

.gas_manage_detail figure img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.gas_manage_detail_txt {
  color: #E84722;
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: bold;
  width: 297px;
  padding: 34px 20px 90px;
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
}

.gas_manage_detail_txt::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../images/mess.png") 0 0 no-repeat;
  -moz-background-size: 100% 100%;
       background-size: 100% 100%;
  z-index: -1;
}

.gas_manage_detail_txt::after {
  position: absolute;
  content: "";
  width: 233px;
  height: 214px;
  background: url("../images/lion_03.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -160px;
  z-index: -2;
}

.gas_house_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gas_house_wrap article {
  width: 430px;
  background: #EEF7FF;
  -moz-border-radius: 8px;
       border-radius: 8px;
  padding: 50px 42px 30px;
  margin-top: 38px;
}

.gas_house_wrap article h4 {
  font-size: 2rem;
  line-height: 30px;
  color: #006EB5;
  padding: 0 0 0 25px;
  position: relative;
  font-weight: bold;
}

.gas_house_wrap article h4::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: #006EB5;
  -moz-border-radius: 50%;
       border-radius: 50%;
  left: 0;
  top: 8px;
}

.gas_house_wrap article p {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 500;
  margin-top: 22px;
}

.gas_house_wrap article figure {
  text-align: center;
  margin-top: 23px;
}

.gas_house_wrap article figure img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.gas_house_sec {
  margin-top: 37px;
}

.gas_house_sec h5 {
  text-align: center;
  -webkit-transform: translateY(20px);
     -moz-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}

.gas_house_sec_wrap {
  border: 4px solid #006EB5;
  -moz-border-radius: 8px;
       border-radius: 8px;
  padding: 44px 33px 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gas_house_sec_col {
  width: 410px;
}

.gas_house_sec_col ul li {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: bold;
  color: #3D3A39;
}

.gas_house_sec_col ul li:not(:first-child) {
  border-top: 1px dashed #3D3A39;
}

.gas_house_sec_col ul li::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: #3D3A39;
  -moz-border-radius: 50%;
       border-radius: 50%;
  left: 0;
  top: 8px;
}

.gas_house_sec_col p {
  font-size: 1.3rem;
  line-height: 1;
  padding: 0 0 0 25px;
  font-weight: 500;
}

.gas_house_sec_col figure {
  margin-top: 20px;
}

.gas_house_sec_col figure img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.gas_stove_intro {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 500;
  margin-top: 22px;
}

.gas_stove_sec_top {
  margin-top: 43px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gas_stove_sec_top figure {
  width: 399px;
  margin-right: 61px;
}

.gas_stove_sec_top figure img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.gas_stove_sec_top_r {
  width: -webkit-calc(100% - 399px - 61px);
  width: -moz-calc(100% - 399px - 61px);
  width: calc(100% - 399px - 61px);
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 500;
}

.gas_stove_sec_top_r ul {
  margin-top: 24px;
}

.gas_stove_sec_top_r ul li {
  padding: 0 0 0 25px;
  position: relative;
}

.gas_stove_sec_top_r ul li::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: #3D3A39;
  -moz-border-radius: 50%;
       border-radius: 50%;
  left: 0;
  top: 8px;
}

.gas_stove_sec_mid {
  margin-top: 47px;
}

.gas_stove_sec_mid h4 {
  text-align: center;
  -webkit-transform: translateY(20px);
     -moz-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}

.gas_stove_sec_mid_w {
  background: #EEF7FF;
  -moz-border-radius: 8px;
       border-radius: 8px;
  padding: 57px 25px 40px;
}

.gas_stove_sec_mid_w section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 55px 20px 0;
  background: #fff;
  -moz-border-radius: 8px;
       border-radius: 8px;
  position: relative;
}

.gas_stove_sec_mid_w section::before {
  position: absolute;
  content: "";
  width: 53px;
  height: 52px;
  left: 0;
  top: 0;
}

.gas_stove_sec_mid_w section:nth-of-type(1)::before {
  background: url("../images/num_01.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.gas_stove_sec_mid_w section:nth-of-type(1) figure img {
  width: 142px;
}

.gas_stove_sec_mid_w section:nth-of-type(2)::before {
  background: url("../images/num_02.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.gas_stove_sec_mid_w section:nth-of-type(2) figure img {
  width: 161.5px;
}

.gas_stove_sec_mid_w section:nth-of-type(3)::before {
  background: url("../images/num_03.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.gas_stove_sec_mid_w section:nth-of-type(3) figure img {
  width: 128px;
}

.gas_stove_sec_mid_w section:nth-of-type(4)::before {
  background: url("../images/num_04.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.gas_stove_sec_mid_w section:nth-of-type(4) figure img {
  width: 116px;
}

.gas_stove_sec_mid_w section:not(:last-child) {
  margin-bottom: 20px;
}

.gas_stove_sec_mid_w section figure {
  width: -webkit-calc(100% - 500px);
  width: -moz-calc(100% - 500px);
  width: calc(100% - 500px);
  text-align: center;
}

.gas_stove_sec_mid_w section ._right {
  width: 500px;
}

.gas_stove_sec_mid_w section ._right h5 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  color: #0093D4;
}

.gas_stove_sec_mid_w section ._right p {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 500;
  margin-top: 12px;
}

.gas_stove_sec_bot {
  margin-top: 54px;
}

.gas_stove_sec_bot h4 {
  font-size: 2rem;
  line-height: 3.1rem;
  font-weight: bold;
  color: #333;
  position: relative;
  padding: 0 0 0 45px;
}

.gas_stove_sec_bot h4::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 31px;
  background: url("../images/exclamation.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 0;
  top: 0;
}

.gas_stove_sec_bot_w {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.gas_stove_sec_bot_w figure {
  width: 440px;
  -moz-border-radius: 8px;
       border-radius: 8px;
  border: 2px solid #F2F2F2;
  text-align: center;
  padding: 30px 0 27px;
}

.gas_stove_sec_bot_w figure:nth-of-type(1) img {
  width: 314px;
}

.gas_stove_sec_bot_w figure:nth-of-type(2) img {
  width: 238px;
}

.gas_stove_sec_bot_w figure figcaption {
  font-size: 1.6rem;
  line-height: 1;
  font-weight: bold;
  margin-top: 20px;
}

.gas_caution {
  margin-bottom: 109px;
}

.gas_caution_smell {
  -moz-border-radius: 8px;
       border-radius: 8px;
  background: #F7F7F7;
  padding: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 30px;
  position: relative;
  background: url(../images/bkg_dd.png) 0% 0%/cover no-repeat #f4f4f4;
}

.gas_caution_smell::after {
  position: absolute;
  content: "";
  width: 104px;
  height: 55px;
  background: url("../images/rectangle.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -75px;
}

.gas_caution_smell figure {
  background: #fff;
  padding: 40px 30px 20px;
  text-align: center;
  width: 410px;
  -moz-border-radius: 8px;
       border-radius: 8px;
}

.gas_caution_smell figure:not(:nth-child(-n+2)) {
  margin-top: 25px;
}

.gas_caution_smell figure:nth-of-type(3) img {
  width: 161.5px;
}

.gas_caution_smell figure:nth-of-type(4) img {
  width: 121.5px;
}

.gas_caution_smell figure img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.gas_caution_smell figure figcaption {
  position: relative;
  padding: 0 0 0 40px;
  font-size: 1.6rem;
  line-height: 22px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.gas_caution_smell figure figcaption::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 22px;
  background: url("../images/icon_check.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 0;
  top: 0;
}

.gas_caution_smell_n {
  margin-top: 94px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 21px 65px 0 43px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FAF8EA;
  -moz-border-radius: 8px;
       border-radius: 8px;
}

.gas_caution_smell_n_t {
  padding: 30px 0 0;
}

.gas_caution_smell_n_t p {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  margin-top: 25px;
}

.gas_caution_smell_n figure img {
  width: 188px;
}

.gas_caution_disater_w {
  margin-top: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gas_caution_disater_w article {
  width: 440px;
  padding: 33px;
  -moz-border-radius: 8px;
       border-radius: 8px;
  border: 2px solid #ccc;
}

.gas_caution_disater_w article h5 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  padding: 0 0 0 25px;
  position: relative;
  color: #00AEEB;
}

.gas_caution_disater_w article h5::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: #00AEEB;
  -moz-border-radius: 50%;
       border-radius: 50%;
  left: 0;
  top: 8px;
}

.gas_caution_disater_w article p {
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: 10px;
  font-weight: 500;
}

.gas_caution_disater_w article figure {
  text-align: center;
}

.gas_caution_disater_w article figure._mar {
  margin-top: 24px;
}

.gas_caution_disater_w article figure img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.gas_caution_disater_w article:nth-of-type(1) figure img {
  width: 242.5px;
}

.gas_caution_disater_w article:nth-of-type(2) figure img {
  width: 107.5px;
}

@-webkit-keyframes scrollDown {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    top: 100%;
  }
  50% {
    left: 1px;
    top: -100%;
  }
  75% {
    top: 0%;
  }
  85% {
    left: 1px;
    top: -100%;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@-moz-keyframes scrollDown {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    top: 100%;
  }
  50% {
    left: 1px;
    top: -100%;
  }
  75% {
    top: 0%;
  }
  85% {
    left: 1px;
    top: -100%;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes scrollDown {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    top: 100%;
  }
  50% {
    left: 1px;
    top: -100%;
  }
  75% {
    top: 0%;
  }
  85% {
    left: 1px;
    top: -100%;
  }
  100% {
    left: 0;
    top: 0;
  }
}
