@charset "utf-8";
// ===================================================================
//  use index page
// ===================================================================
main {
  margin-top: 35px;
}

.ttl {
  padding-left: 50px;
  &:before {
    background: url(../images/icon_ttl.png) no-repeat;
    background-size: contain;
    width: 37px;
    height: 23px;
  }
}

.ttl_st {
  font-size: rem(25);
  line-height: 30px;
  color: #333;
  position: relative;
  padding-left: 25px;
  font-weight: bold;
  &:before {
    content: "";
    width: 7px;
    height: 37px;
    background-color: #00428A;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.st_method_cal {
  margin: 63px 0 0 0;
  .ttl_st {
    margin-bottom: 21px;
  }
  .txt_top {
    font-size: rem(15);
    line-height: 30px;
    padding-left: 25px;
  }
  .bx_m_cal {
    margin: 19px auto 70px;
  }
  .tbl_mt {
    .dl_m {
      border: 3px solid #E83843;
      >dt {
        font-size: rem(26);
        line-height: 45px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        display: block;
        padding: 13px 0;
        background-color: #E83843;
      }
    }
    dd {
      table,
      th,
      td {
        border-collapse: collapse;
      }
    }
    &_top {
      tr {
        border-bottom: 1px solid #999999;
      }
      th {
        width: 116px;
        font-size: rem(15);
        line-height: 30px;
        vertical-align: middle;
        text-align: center;
        border-right: 1px solid #999999;
      }
      td {
        font-size: rem(15);
        line-height: 30px;
        padding: 9px 15px 7px 21px;
      }
    }
    &_b {
      padding: 51px 27px 23px;
      dl {
        border: 3px solid #ccc;
        border-radius: 10px;
        dt {
          font-size: rem(20);
          line-height: 35px;
          color: #fff;
          font-weight: bold;
          text-align: center;
          display: block;
          padding: 18px 0 15px;
          background-color: #E83843;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
        dd {
          padding: 34px 28px 35px 28px;
          background-color: #F6F6F6;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
      &_price {
        width: 100%;
        thead {
          &:nth-of-type(1) {
            background-color: #FFC1C7;
            border-right: 1px solid #FFC1C7;
            th {
              color: #E83843;
              font-size: rem(13);
              line-height: 30px;
              font-weight: normal;
              text-align: center;
              vertical-align: middle;
              padding: 6px 0;
            }
          }
          &:nth-of-type(2) {
            background-color: #000;
            border-right: 1px solid #000;
            th {
              font-size: rem(13);
              line-height: 30px;
              color: #fff;
              text-align: center;
              vertical-align: middle;
              padding: 4px 0 0;
            }
          }
        }
        tbody {
          border: 1px solid #000;
          background-color: #fff;
          tr {
            border-bottom: 1px solid #000;
            td {
              text-align: center;
              font-size: rem(15);
              line-height: 30px;
              vertical-align: middle;
              padding: 3px 0 0 0;
              &:not(:last-child) {
                border-right: 1px solid #000;
              }
              .red {
                color: #E83843;
              }
              &:nth-of-type(1) {
                font-weight: bold;
                width: 90px;
              }
            }
          }
        }
      }
      &_art {
        margin-top: 35px;
        article {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          h4 {
            font-size: rem(16);
            line-height: 20px;
            position: relative;
            padding-left: 14px;
            font-weight: bold;
            margin-bottom: 10px;
            &:before {
              content: "";
              width: 5px;
              height: 19px;
              position: absolute;
              top: 50%;
              background-color: #000;
              transform: translateY(-50%);
              left: 0;
            }
          }
          em {
            font-size: rem(15);
            line-height: 30px;
            padding: 7px 18px 4px;
            display: block;
            font-style: normal;
            border: 1px solid #000;
            background-color: #fff;
          }
        }
      }
    }
    .link_pdf {
      font-size: rem(15);
      line-height: 30px;
      color: #00428A;
      text-decoration: underline;
      text-align: center;
      display: block;
      margin-bottom: 21px;
      span {
        position: relative;
        padding-left: 40px;
        &:before {
          content: "";
          background: url(../images/icon_pdf.png) no-repeat;
          background-size: contain;
          width: 35px;
          height: 17px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
      }
    }
  }
}

.st_app_flow {
  padding: 107px 0 0 0;
  .ttl_st {
    margin-bottom: 35px;
  }
  .inner {
    padding: 0 30px;
    dl {
      margin-top: 98px;
      dt {
        font-size: rem(20);
        line-height: 35px;
        color: #fff;
        font-weight: bold;
        background-color: #0093D4;
        text-align: center;
        padding: 21px 0 14px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        span {
          position: relative;
          &:before {
            content: "";
            background: url(../images/sun.png) no-repeat;
            background-size: contain;
            width: 135px;
            height: 106px;
            position: absolute;
            top: -60px;
            left: -160px;
          }
        }
      }
      dd {
        background-color: #EEF7FF;
        padding: 25px 30px;
        .bx_art {
          background-color: #fff;
          border-radius: 10px;
          padding: 34px 33px 13px;
          font-size: 0;
          &_item {
            margin-left: -77px;
            display: flex;
            flex-flow: row wrap;
          }
          article {
            width: calc(50% - 77px);
            margin: 0 0 20px 77px;
            display: inline-block;
            &:last-of-type {
              width: 100%;
            }
            h4 {
              font-size: rem(18);
              line-height: 30px;
              color: #00428A;
              font-weight: bold;
              position: relative;
              padding-left: 23px;
              span {
                color: #333;
                font-weight: normal;
              }
              &:before {
                content: "●";
                font-size: rem(18);
                line-height: 30px;
                color: #00428A;
                position: absolute;
                top: 0;
                left: 0;
              }
            }
            p {
              font-size: rem(15);
              line-height: 30px;
              &.txt_a {
                font-size: 18px;
              }
            }
            ul {
              border: 2px solid #D8D9D9;
              display: flex;
              justify-content: space-between;
              padding: 18px 150px 15px 30px;
              margin: 20px 0 0 0;
              background-color: #F6F6F6;
              li {
                font-size: rem(18);
                line-height: 30px;
                color: #333;
                position: relative;
                padding-left: 15px;
                &:before {
                  content: "・";
                  font-size: rem(18);
                  line-height: 30px;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

.btn_signup {
  a {
    position: relative;
    width: 406px;
    height: 54px;
    display: block;
    transform: translateZ(0);
    margin: 60px auto 102px;
    span {
      font-size: rem(22);
      line-height: 1;
      color: #00428A;
      display: flex;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
      background: #fff;
      width: 100%;
      height: 100%;
      border: 3px solid #00428A;
      border-radius: 5px;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
      &:before {
        content: "";
        background: url(../images/icon_btn.png) no-repeat;
        background-size: contain;
        width: 24px;
        height: 25px;
        margin-right: 10px;
      }
    }
    &:after {
      position: absolute;
      content: "";
      z-index: -1;
      width: 100%;
      height: 100%;
      left: 0;
      top: 5px;
      border-radius: 5px;
      background: #00428A;
    }
    &:hover {
      opacity: 1;
      span {
        transform: translateY(5px);
      }
    }
  }
}