@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.show_sp {
  display: none !important;
}

.row {
  max-width: 1042px;
  width: 100%;
  margin: 0 auto;
}

@import "./_header_pc.scss";
@import "./_footer_pc.scss";
@import "./_pagination_pc.scss";
@import "./_ttl_pc.scss";
@import "./_btn_pc.scss";