footer {
  .ft_top {
    border-top: vw(16) solid #D7D7D7;
    padding: vw(40) 0 vw(52);
    &_l {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: vw(-30);
      li {
        width: calc(50% - #{vw(30)});
        margin-left: vw(30);
        img {
          width: vw(319);
          height: vw(195);
        }
      }
    }
  }
  .ft_easy {
    .row {
      display: flex;
      justify-content: space-between;
    }
    figure {
      margin-left: vw(-17);
      img {
        width: vw(238);
        height: vw(216);
      }
    }
    &_btn {
      text-align: center;
      margin-top: vw(30);
      p {
        font-size: vw(27);
        line-height: 1;
        margin-bottom: vw(20);
        font-weight: bold;
        color: #00428A;
        font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
      }
      a {
        position: relative;
        width: vw(420);
        height: vw(100);
        display: block;
        transform: translateZ(0);
        em {
          font-size: vw(32);
          line-height: 1;
          color: #fff;
          display: flex;
          font-weight: bold;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
          background: #00428A;
          width: 100%;
          height: 100%;
          border-radius: vw(5);
          transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
          font-style: normal;
          padding-left: vw(70);
          small {
            display: block;
            font-size: vw(26);
            width: 100%;
            margin-bottom: vw(5);
          }
          &:before {
            content: "";
            background: url(../../common/images/icon_check_sp.png) no-repeat;
            background-size: contain;
            width: vw(50);
            height: vw(52);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: vw(45);
          }
        }
        &:after {
          position: absolute;
          content: "";
          z-index: -1;
          width: 100%;
          height: 100%;
          left: 0;
          top: vw(8);
          border-radius: vw(5);
          background: #001B33;
        }
      }
    }
  }
  .ft_ct {
    background: linear-gradient(0deg, rgba(0, 69, 146, 1) 0%, rgba(0, 174, 235, 1) 100%);
    position: relative;
    text-align: center;
    padding: vw(60) 0 vw(70);
    &_txt {
      font-size: vw(36);
      line-height: vw(27);
      color: #fff;
      text-align: center;
      font-weight: bold;
      font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
      margin-bottom: vw(30);
    }
    &_tel {
      text-align: center;
      a {
        font-size: vw(87);
        line-height: 1;
        color: #fff;
        font-weight: bold;
        font-family: $avenir;
        position: relative;
        display: block;
        letter-spacing: vw(2);
        padding-left: vw(73);
        white-space: nowrap;
        &:before {
          content: "";
          background: url(../../common/images/icon_tel.png) no-repeat;
          background-size: contain;
          width: vw(61);
          height: vw(80);
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
      em {
        font-size: vw(28);
        color: #fff;
        line-height: 1;
        font-style: normal;
        display: block;
        margin-top: vw(25);
        font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
        span {
          +span {
            margin-left: vw(25);
          }
        }
      }
    }
    &_contact {
      a {
        position: relative;
        width: vw(568);
        height: vw(113);
        display: block;
        transform: translateZ(0);
        margin: vw(40) auto 0;
        span {
          font-size: vw(36);
          line-height: 1;
          color: #fff;
          display: flex;
          font-weight: bold;
          align-items: center;
          justify-content: center;
          font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
          background: #FBB713;
          width: 100%;
          height: 100%;
          border-radius: vw(5);
          transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
          &:before {
            content: "";
            background: url(../../common/images/icon_mail.png) no-repeat;
            background-size: contain;
            width: vw(61);
            height: vw(42);
            margin-right: vw(26);
          }
        }
        &:after {
          position: absolute;
          content: "";
          z-index: -1;
          width: 100%;
          height: 100%;
          left: 0;
          top: vw(8);
          border-radius: vw(5);
          background: #AF7E0E;
        }
      }
    }
  }
  .ft_nav {
    background-color: #F0F0F0;
    &_l {
      dl {
        dd {
          ul {
            margin: 0 vw(-40);
            li {
              border-bottom: 1px solid #333;
              padding: 0 vw(40);
              a {
                font-size: vw(30);
                line-height: vw(36);
                color: #333;
                position: relative;
                font-weight: bold;
                display: block;
                padding: vw(35) 0 vw(35) vw(70);
                &:before {
                  content: "";
                  background: url(../../common/images/icon_nav.png) no-repeat;
                  background-size: contain;
                  width: vw(25);
                  height: vw(25);
                  position: absolute;
                  top: 50%;
                  left: 0;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }
      }
    }
    &_s {
      ul {
        padding: vw(25) 0;
        li {
          display: inline-block;
          padding: 0 vw(5);
        }
      }
    }
    &_r {
      ul {
        li {
          margin-bottom: 10px;
        }
      }
    }
  }

  .ft_bottom {
    background: linear-gradient(0deg, rgba(0, 69, 146, 1) 0%, rgba(0, 174, 235, 1) 100%);
    padding: vw(35) 0;
    text-align: center;
    &_copyright {
      font-size: vw(25);
      line-height: vw(44);
      font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
      color: #fff;
      white-space: nowrap;
    }
    &_r {
      em {
        font-size: vw(25);
        line-height: vw(44);
        color: #fff;
        font-weight: bold;
        font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
        font-style: normal;
        display: block;
      }
    }
  }
}