.header {
  &_top {
    border-bottom: 10px solid #008FD0;
    &_row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0 11px;
    }
    h1 {
      font-size: 0;
      a {
        display: inline-block;
      }
    }
    &_r {
      display: flex;
      &_b {
        display: flex;
        margin-right: 10px;
        a {
          display: block;
          width: 76px;
          height: 48px;
          position: relative;
          transform: translateZ(0);
          &::after {
            position: absolute;
            content: "";
            z-index: -1;
            width: 100%;
            height: 100%;
            left: 0;
            top: 3px;
            border-radius: 5px;
          }
          span {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            font-size: 1rem;
            line-height: 1;
            font-weight: 500;
            position: relative;
            z-index: 2;
            transition: transform 0.3s ease;
            &::before {
              position: relative;
              content: "";
            }
          }
          &:hover {
            opacity: 1;
            span {
              transform: translateY(3px);
            }
          }
          &._person {
            margin-right: 10px;
            span {
              color: #F59233;
              border: 1px solid #F59233;
              background: #fff;
              &::before {
                width: 20px;
                height: 20px;
                background: url('/common/images/icon_person.png') 0 0 no-repeat;
                background-size: contain;
                margin-bottom: 6px;
              }
            }
            &::after {
              background: #F59233;
            }
          }
          &._mess {
            span {
              color: #fff;
              background: #FBB713;
              &::before {
                width: 30px;
                height: 22px;
                background: url('/common/images/icon_mess.png') 0 0 no-repeat;
                background-size: contain;
                margin-bottom: 4px;
              }
            }
            &::after {
              background: #AF7E0E;
            }
          }
        }
      }
      &_s {
        
      }
      &_size {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-6px);
        p {
          font-size: 1.2rem;
          line-height: 1;
          font-weight: 500;
          margin-right: 10px;
        }
        ul {
          display: flex;
          li {
            a {
              font-size: 1.2rem;
              width: 23px;
              height: 23px;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              &:not(:last-child) {
                margin-right: 4px;
              }
              &.active {
                color: #fff;
                font-weight: bold;
                background: #B8B8B8;
              }
            }
          }
        }
      }
      &_search {
        width: 146px;
        border: 0.5px solid #909295;
        border-radius: 4px;
        padding: 1px 32px 1px 7px;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: 16px;
          height: 16px;
          background: url('/common/images/icon_search.png') 0 0 no-repeat;
          background-size: contain;
          right: 9px;
          top: 50%;
          transform: translateY(-50%);
        }
        input[type="text"] {
          outline: none;
          font-size: 1.2rem;
          line-height: 2.4rem;
          height: 25px;
          border: 0;
          box-shadow: none;
          width: 100%;
        }
      }
    }
  }
  &_middle {
    display: flex;
    align-items: center;
    padding: 15px 0 0;
    &_link {
      margin-right: 165px;
      ul {
        display: flex;
        li {
          width: 245px;
          height: 40px;
          position: relative;
          transform: translateZ(0);
          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 3px;
            display: block;
            border-radius: 4px;
            z-index: -1;
          }
          a {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            padding: 3px;
            transition: transform 0.3s ease;
            span {
              display: block;
              width: 100%;
              height: 100%;
              background: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              text-indent: 9999px;
              text-align: right;
              overflow: hidden;
              &::after {
                position: absolute;
                content: "";
                width: 7px;
                height: 12px;
                top: 50%;
                transform: translateY(-50%);
                right: 12px;
              }
              &::before {
                position: absolute;
                content: "";
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
          &:hover {
            a {
              opacity: 1;
              transform: translateY(3px);
              &:hover {
                opacity: 1;
              }
            }
          }
          &._electric {
            margin-right: 25px;
            a {
              background: linear-gradient(90deg, rgba(209,15,43,1) 0%, rgba(242,150,27,1) 100%);
              span {
                &::after {
                  background: url('/common/images/icon_arrow_electric.png') 0 0 no-repeat;
                  background-size: contain;
                }
                &::before {
                  width: 164px;
                  height: 25px;
                  background: url('/common/images/logo_electric_pc.png') 0 0 no-repeat;
                  background-size: contain;
                }
              }
            }
            &::after {
              background: linear-gradient(90deg, rgba(209,15,43,1) 0%, rgba(242,150,27,1) 100%);
            }
            &:hover {
              a {
                span {
                  background: linear-gradient(90deg, rgba(209,15,43,1) 0%, rgba(242,150,27,1) 100%);
                  &::before {
                    background: url('/common/images/logo_electric_pc_hover.png') 0 0 no-repeat;
                    background-size: contain;
                  }
                  &::after {
                    background: url('/common/images/icon_arrow_hover.png') 0 0 no-repeat;
                    background-size: contain;
                  }
                }
              }
            }
          }
          &._gas {
            a {
              background: linear-gradient(90deg, rgba(0,70,147,1) 0%, rgba(0,174,235,1) 100%);
              span {
                &::after {
                  background: url('/common/images/icon_arrow_gas.png') 0 0 no-repeat;
                  background-size: contain;
                }
                &::before {
                  width: 151px;
                  height: 24px;
                  background: url('/common/images/logo_gas_pc.png') 0 0 no-repeat;
                  background-size: contain;
                }
              }
            }
            &::after {
              background: linear-gradient(90deg, rgba(0,70,147,1) 0%, rgba(0,174,235,1) 100%);
            }
            &:hover {
              a {
                span {
                  background: linear-gradient(90deg, rgba(0,70,147,1) 0%, rgba(0,174,235,1) 100%);
                  &::before {
                    background: url('/common/images/logo_gas_pc_hover.png') 0 0 no-repeat;
                    background-size: contain;
                  }
                  &::after {
                    background: url('/common/images/icon_arrow_hover.png') 0 0 no-repeat;
                    background-size: contain;
                  }
                }
              }
            }
          }
        }
      }
    }
    &_contact {
      display: flex;
      align-items: center;
      &_phone {
        display: inline-block;
        padding: 0 0 0 25px;
        position: relative;
        font-size: 2.6rem;
        line-height: 1;
        font-family: $avenir;
        margin-right: 15px;
        pointer-events: none;
        &::before {
          position: absolute;
          content: "";
          width: 20px;
          height: 26px;
          background: url('/common/images/icon_phone.png') 0 0 no-repeat;
          background-size: contain;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &_time {
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: bold;
      }
    }
  }
  &_nav {
    border-bottom: 7px solid #ccc;
    ul {
      padding: 25px 0;
      position: relative;
      display: flex;
      align-items: center;
      &::after {
        position: absolute;
        content: "";
        width: 134px;
        height: 100px;
        background: url('/common/images/mascot.png') top center no-repeat;
        right: -48px;
        bottom: 0;
      }
      li {
        a {
          padding: 0 25px;
          font-weight: bold;
          position: relative;
          transform: translateZ(0);
          border-left: 1px dotted #ccc;
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          line-height: 1;
          height: 20px;
          &:hover {
            color: #004592;
            &::after {
              width: 100%;
            }
          }
          &::after {
            position: absolute;
            content: "";
            width: 0;
            height: 7px;
            background: #004592;
            left: 50%;
            transform: translateX(-50%);
            bottom: -12px;
            transition: width 0.3s ease;
            z-index: -1;
          }
          &::before {
            position: relative;
            content: "";
            margin-right: 7px;
            display: inline-block;
          }
          @each $url,$w,$h in ('icon_fire',17,24),('icon_yen',28,18),('icon_pencil',21,21),('icon_plus',25,25),('icon_note',18,23),('icon_envelop',24,17) {
            &.#{$url} {
              &::before {
                background: url('/common/images/#{$url}.png') 0 0 no-repeat;
                background-size: contain;
                width: #{$w}px;
                height: #{$h}px;
              }
              &:hover {
                &::before {
                  background: url('/common/images/#{$url}_hr.png') 0 0 no-repeat;
                  background-size: contain;
                }
              }
            } 
          }
        }
      }
    }
  }
}