header {
  .hd_top {
    background-color: #008FD0;
    padding: vw(15) 0;
    p {
      font-size: vw(28);
      line-height: vw(48);
      color: #fff;
      font-weight: bold;
      text-align: center;
    }
  }
  .hd_bottom {
    padding: vw(31) 0 vw(22);
    border-bottom: vw(14) solid #CCCCCC;
    .row{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo{
      a{
        display: block;
        img{
          width: vw(375);
          height: vw(58);
        }
      }
    }
    &_r{
      &_l{
        font-size: vw(0);
        li{
          width: vw(112);
          height: vw(112);
          background-color: #008FD0;
          padding: vw(4);
          border-radius: vw(3);
          display: inline-block;
          &:not(:last-child){
            margin-right: vw(22);
          }
          &:nth-of-type(1){
            a{
              &:before{
                background:url(../../common/images/icon_person_sp.png) no-repeat;
                background-size: contain;
                width: vw(50);
                height: vw(50);
              }
            }
          }
          &:nth-of-type(2){
            a{
              &:before{
                background:url(../../common/images/icon_search_sp.png) no-repeat;
                background-size: contain;
                width: vw(51);
                height: vw(51);
              }
            }
          }
        }
        a{
          font-size: vw(22);
          background-color: #fff;
          width: 100%;
          height: 100%;
          font-weight: bold;
          display: block;
          line-height: 1;
          color: #008FD0;
          text-align: center;
          position: relative;
          letter-spacing: vw(-2);
          white-space: nowrap;
          padding-top: vw(75);
          &:before{
            content:"";
            position: absolute;
            top: vw(10);
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}
.menu {
  position: fixed;
  width: vw(675);
  height: 100vh;
  overflow: scroll;
  right: vw(-675);
  top: 0;
  background: #fff;
  z-index: 99;
  padding: vw(30) 0;
  transition: all 0.3s ease;
  &.open {
    right: 0;
  }
  &_close {
    font-size: vw(36);
    display: inline-block;
    color: #008FD0;
    padding: 0 vw(55) 0 0;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: vw(39);
      height: vw(40);
      background: url('../images/icon_close.png') 0 0 no-repeat;
      background-size: contain;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &_w {
      text-align: right;
      padding:0 vw(20) 0 0;
    }
  }
  &_btn {
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: vw(20);
    margin-top: vw(30);
    a {
      display: flex;
      width: vw(308);
      height: vw(100);
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      border: vw(4) solid #00428A;
      border-radius: vw(6);
      font-size: vw(30);
      font-weight: bold;
      &::before {
        position: relative;
        content: "";
        margin-right: vw(16);
      }
      &:nth-of-type(1) {
        color: #00428A;
        background: #fff;
        &::before {
          width: vw(71);
          height: vw(50);
          background: url('../images/icon_envelop_sp.png') 0 0 no-repeat;
          background-size: contain;
        }
      }
      &:nth-of-type(2) {
        color: #fff;
        background: #00428A;
        &::before {
          width: vw(46);
          height: vw(48);
          background: url('../images/icon_check_sp.png') 0 0 no-repeat;
          background-size: contain;
        }
      }
    }
  }
  &_main {
    li {
      border-bottom: 1px solid #ccc;
      a {
        display: block;
        width: 100%;
        font-size: vw(36);
        line-height: 1;
        color: #008FD0;
        padding: vw(48) 0 vw(40) vw(125);
        position: relative;
        &::before,&::after {
          position: absolute;
          content: '';
          top: 50%;
          transform: translateY(-50%);
        }
        &::after {
          width: vw(15);
          height: vw(29);
          background: url('../images/arrow_menu_main.png') 0 0 no-repeat;
          background-size: contain;
          right: vw(20);
        }
      }
      &:nth-of-type(1) {
        a::before {
          width: vw(37);
          height: vw(51);
          background: url('../images/icon_fire_sp.png') 0 0 no-repeat;
          background-size: contain;
          left: vw(40);
        }
      }
      &:nth-of-type(2) {
        a::before {
          width: vw(61);
          height: vw(39);
          background: url('../images/icon_yen_sp.png') 0 0 no-repeat;
          background-size: contain;
          left: vw(28);
        }
      }
      &:nth-of-type(3) {
        a::before {
          width: vw(47);
          height: vw(47);
          background: url('../images/icon_pencil_sp.png') 0 0 no-repeat;
          background-size: contain;
          left: vw(35);
        }
      }
      &:nth-of-type(4) {
        a::before {
          width: vw(53);
          height: vw(53);
          background: url('../images/icon_plus_sp.png') 0 0 no-repeat;
          background-size: contain;
          left: vw(30);
        }
      }
    }
  }
  &_extra {
    display: flex;
    flex-flow: row wrap;
    li {
      width: 50%;
      border-bottom: 1px solid #ccc;
      a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        font-size: vw(32);
        line-height: 1.5;
        background: #F2F2F2;
        padding: vw(25) 0 vw(20) vw(25);
      }
      &:nth-child(even) {
        border-left: 1px solid #ccc;
      }
    }
  }
  &_pad {
    padding: vw(35) vw(20) 0;
  }
  &_phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 vw(10);
    a {
      position: relative;
      display: inline-flex;
      padding: 0 0 0 vw(50);
      font-size: vw(61);
      font-family: $avenir;
      &::before {
        position: absolute;
        content: "";
        width: vw(44);
        height: vw(58);
        background: url('../images/icon_phone_sp.png') 0 0 no-repeat;
        background-size: contain;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    span {
      font-size: vw(22);
    }
  }
  &_contact {
    display: flex;
    width: 100%;
    height: vw(100);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border: vw(4) solid #00428A;
    border-radius: vw(6);
    font-size: vw(30);
    font-weight: bold;
    color: #00428A;
    background: #fff;
    margin-top: vw(30);
    &::before {
      position: relative;
      content: "";
      margin-right: vw(16);
      width: vw(71);
      height: vw(50);
      background: url('../images/icon_envelop_sp.png') 0 0 no-repeat;
      background-size: contain;
    }
  }
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  left: 0;
  top: 0;
  &.open {
    z-index: 99;
  }
}