.ttl{
  font-size: rem(26);
  line-height: 1;
  font-weight: bold;
  padding: 0 0 0 34px;
  position: relative;
  &:before{
    content:"";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  &:after{
    content:"";
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -23px;
    left: 0;
  }
}