@charset "UTF-8";
@font-face {
  font-family: 'Avenir Black';
  font-style: normal;
  src: url("../fonts/Avenir-Black-webfont.eot");
  src: url("../fonts/Avenir-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Black-webfont.woff") format("woff"), url("../fonts/Avenir-Black-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'Avenir Heavy';
  font-style: normal;
  src: url("../fonts/Avenir-Heavy.eot");
  src: url("../fonts/Avenir-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Heavy.woff") format("woff"), url("../fonts/Avenir-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: 'Avenir Light';
  font-style: normal;
  src: url("../fonts/Avenir-Light.eot");
  src: url("../fonts/Avenir-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Light.woff") format("woff"), url("../fonts/Avenir-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?z8koxq");
  src: url("../fonts/icomoon.eot?z8koxq#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?z8koxq") format("truetype"), url("../fonts/icomoon.woff?z8koxq") format("woff"), url("../fonts/icomoon.svg?z8koxq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}

a:hover img {
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}

a:focus {
  outline: none;
}

img {
  vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  color: #333;
  font-family: '游ゴシック','Yu Gothic',YuGothic,'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3',  Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Tahoma, Verdana, Arial, Verdana, sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

a {
  color: #333;
}

body {
  overflow-wrap: break-word;
  word-break: break-word;
}

img {
  vertical-align: bottom;
}

/* clearfix (micro) */
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

/* For IE 6/7 only */
.clearfix {
  *zoom: 1;
}

ul,
ol,
li {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* .row {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
} */
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.show_sp {
  display: none !important;
}

.container {
  min-width: 1128px;
  overflow: hidden;
}

.row {
  max-width: 1042px;
  width: 100%;
  margin: 0 auto;
}

html[data-size="small"] {
  font-size: 9px;
}

html[data-size="medium"] {
  font-size: 10px;
}

html[data-size="large"] {
  font-size: 11px;
}

.header .nav_scroll {
  position: fixed;
  top: -70px;
  left: 0;
  width: 100%;
  background-color: #fff;
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
       box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 999999;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 25px 0;
}

.header .nav_scroll.fixed {
  top: 0;
  min-width: 1280px;
}

.header .nav_scroll .inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav_scroll .inner .logo_sr {
  margin-right: 30px;
  width: 150px;
}

.header .nav_scroll .inner .logo_sr img {
  width: 100%;
  height: auto;
}

.header .nav_scroll ul {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav_scroll ul li.nav_scroll_mypage {
  padding-left: 22px;
  border-left: 1px dotted #ccc;
}

.header .nav_scroll ul li.nav_scroll_mypage a {
  font-size: 1.4rem;
  line-height: 1;
  color: #fff;
  background-color: #F59233;
  position: relative;
  -moz-border-radius: 2px;
       border-radius: 2px;
  padding: 0 20px 0 35px;
  height: 20px;
  line-height: 20px;
}

.header .nav_scroll ul li.nav_scroll_mypage a:before {
  content: "";
  background: url(../../common/images/icon_user.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
}

.header .nav_scroll ul li.nav_scroll_mypage a:hover {
  background-color: #D83637;
  color: #fff;
}

.header .nav_scroll ul li.nav_scroll_mypage a:hover:after {
  content: none;
}

.header .nav_scroll ul li a {
  padding: 0 20px;
  font-weight: bold;
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  border-left: 1px dotted #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  line-height: 1;
  height: 20px;
  white-space: nowrap;
  word-break: keep-all;
}

.header .nav_scroll ul li a:hover {
  color: #008FD0;
}

.header .nav_scroll ul li a:hover::after {
  width: 100%;
  background: #008FD0;
}

.header .nav_scroll ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -12px;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  transition: width 0.3s ease;
  z-index: -1;
}

.header .nav_scroll ul li a::before {
  position: relative;
  content: "";
  margin-right: 7px;
  display: inline-block;
}

.header .nav_scroll ul li a.icon_fire::before {
  background: url("../../common/images/icon_fire_sc.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 17px;
  height: 24px;
}

.header .nav_scroll ul li a.icon_fire:hover::before {
  background: url("../../common/images/icon_fire_sc.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header .nav_scroll ul li a.icon_yen::before {
  background: url("../../common/images/icon_yen_sc.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 28px;
  height: 18px;
}

.header .nav_scroll ul li a.icon_yen:hover::before {
  background: url("../../common/images/icon_yen_sc.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header .nav_scroll ul li a.icon_pencil::before {
  background: url("../../common/images/icon_pencil_sc.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 21px;
  height: 21px;
}

.header .nav_scroll ul li a.icon_pencil:hover::before {
  background: url("../../common/images/icon_pencil_sc.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header .nav_scroll ul li a.icon_plus::before {
  background: url("../../common/images/icon_plus_sc.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 25px;
  height: 25px;
}

.header .nav_scroll ul li a.icon_plus:hover::before {
  background: url("../../common/images/icon_plus_sc.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header .nav_scroll ul li a.icon_note::before {
  background: url("../../common/images/icon_note_sc.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 18px;
  height: 23px;
}

.header .nav_scroll ul li a.icon_note:hover::before {
  background: url("../../common/images/icon_note_sc.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header .nav_scroll ul li a.icon_envelop::before {
  background: url("../../common/images/icon_envelop_sc.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 24px;
  height: 17px;
}

.header .nav_scroll ul li a.icon_envelop:hover::before {
  background: url("../../common/images/icon_envelop_sc.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header_top {
  border-bottom: 10px solid #008FD0;
}

.header_top_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 11px;
}

.header_top h1 {
  font-size: 0;
  width: 150px;
}

.header_top h1 a {
  display: inline-block;
}

.header_top h1 a img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.header_top_r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.header_top_r_b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.header_top_r_b a {
  display: block;
  width: 76px;
  height: 48px;
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
}

.header_top_r_b a::after {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 3px;
  -moz-border-radius: 5px;
       border-radius: 5px;
}

.header_top_r_b a span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -moz-border-radius: 5px;
       border-radius: 5px;
  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
  position: relative;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
}

.header_top_r_b a span::before {
  position: relative;
  content: "";
}

.header_top_r_b a:hover {
  opacity: 1;
}

.header_top_r_b a:hover span {
  -webkit-transform: translateY(3px);
     -moz-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

.header_top_r_b a._person {
  margin-right: 10px;
}

.header_top_r_b a._person span {
  color: #F59233;
  border: 1px solid #F59233;
  background: #fff;
}

.header_top_r_b a._person span::before {
  width: 20px;
  height: 20px;
  background: url("../../common/images/icon_person.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  margin-bottom: 6px;
}

.header_top_r_b a._person::after {
  background: #F59233;
}

.header_top_r_b a._mess span {
  color: #fff;
  background: #FBB713;
}

.header_top_r_b a._mess span::before {
  width: 30px;
  height: 22px;
  background: url("../../common/images/icon_mess.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  margin-bottom: 4px;
}

.header_top_r_b a._mess::after {
  background: #AF7E0E;
}

.header_top_r_size {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-6px);
     -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px);
}

.header_top_r_size p {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 500;
  margin-right: 10px;
}

.header_top_r_size ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.header_top_r_size ul li a {
  font-size: 1.2rem;
  width: 23px;
  height: 23px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-border-radius: 50%;
       border-radius: 50%;
}

.header_top_r_size ul li a:not(:last-child) {
  margin-right: 4px;
}

.header_top_r_size ul li a.active {
  color: #fff;
  font-weight: bold;
  background: #B8B8B8;
}

.header_top_r_search {
  width: 146px;
  border: 0.5px solid #909295;
  -moz-border-radius: 4px;
       border-radius: 4px;
  padding: 1px 32px 1px 7px;
  position: relative;
}

.header_top_r_search::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../../common/images/icon_search.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  right: 9px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_top_r_search input[type="text"] {
  outline: none;
  font-size: 1.2rem;
  line-height: 2.4rem;
  height: 25px;
  border: 0;
  -moz-box-shadow: none;
       box-shadow: none;
  width: 100%;
}

.header_middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 0;
}

.header_middle_link {
  margin-right: 165px;
}

.header_middle_link ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.header_middle_link ul li {
  width: 245px;
  height: 40px;
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
}

.header_middle_link ul li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 3px;
  display: block;
  -moz-border-radius: 4px;
       border-radius: 4px;
  z-index: -1;
}

.header_middle_link ul li a {
  display: block;
  width: 100%;
  height: 100%;
  -moz-border-radius: 4px;
       border-radius: 4px;
  padding: 3px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
}

.header_middle_link ul li a span {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-indent: 9999px;
  text-align: right;
  overflow: hidden;
}

.header_middle_link ul li a span::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
}

.header_middle_link ul li a span::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header_middle_link ul li:hover a {
  opacity: 1;
  -webkit-transform: translateY(3px);
     -moz-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

.header_middle_link ul li:hover a:hover {
  opacity: 1;
}

.header_middle_link ul li._electric {
  margin-right: 25px;
}

.header_middle_link ul li._electric a {
  background: -webkit-linear-gradient(left, #d10f2b 0%, #f2961b 100%);
  background: -moz-linear-gradient(left, #d10f2b 0%, #f2961b 100%);
  background: linear-gradient(90deg, #d10f2b 0%, #f2961b 100%);
}

.header_middle_link ul li._electric a span::after {
  background: url("../../common/images/icon_arrow_electric.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header_middle_link ul li._electric a span::before {
  width: 164px;
  height: 25px;
  background: url("../../common/images/logo_electric_pc.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header_middle_link ul li._electric::after {
  background: -webkit-linear-gradient(left, #d10f2b 0%, #f2961b 100%);
  background: -moz-linear-gradient(left, #d10f2b 0%, #f2961b 100%);
  background: linear-gradient(90deg, #d10f2b 0%, #f2961b 100%);
}

.header_middle_link ul li._electric:hover a span {
  background: -webkit-linear-gradient(left, #d10f2b 0%, #f2961b 100%);
  background: -moz-linear-gradient(left, #d10f2b 0%, #f2961b 100%);
  background: linear-gradient(90deg, #d10f2b 0%, #f2961b 100%);
}

.header_middle_link ul li._electric:hover a span::before {
  background: url("../../common/images/logo_electric_pc_hover.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header_middle_link ul li._electric:hover a span::after {
  background: url("../../common/images/icon_arrow_hover.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header_middle_link ul li._gas a {
  background: -webkit-linear-gradient(left, #004693 0%, #00aeeb 100%);
  background: -moz-linear-gradient(left, #004693 0%, #00aeeb 100%);
  background: linear-gradient(90deg, #004693 0%, #00aeeb 100%);
}

.header_middle_link ul li._gas a span::after {
  background: url("../../common/images/icon_arrow_gas.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header_middle_link ul li._gas a span::before {
  width: 151px;
  height: 24px;
  background: url("../../common/images/logo_gas_pc.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header_middle_link ul li._gas::after {
  background: -webkit-linear-gradient(left, #004693 0%, #00aeeb 100%);
  background: -moz-linear-gradient(left, #004693 0%, #00aeeb 100%);
  background: linear-gradient(90deg, #004693 0%, #00aeeb 100%);
}

.header_middle_link ul li._gas:hover a span {
  background: -webkit-linear-gradient(left, #004693 0%, #00aeeb 100%);
  background: -moz-linear-gradient(left, #004693 0%, #00aeeb 100%);
  background: linear-gradient(90deg, #004693 0%, #00aeeb 100%);
}

.header_middle_link ul li._gas:hover a span::before {
  background: url("../../common/images/logo_gas_pc_hover.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header_middle_link ul li._gas:hover a span::after {
  background: url("../../common/images/icon_arrow_hover.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header_middle_contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_middle_contact_phone {
  display: inline-block;
  padding: 0 0 0 25px;
  position: relative;
  font-size: 2.6rem;
  line-height: 1;
  font-family: "Avenir Black";
  margin-right: 15px;
  pointer-events: none;
}

.header_middle_contact_phone::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 26px;
  background: url("../../common/images/icon_phone.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_middle_contact_time {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: bold;
}

.header_nav {
  border-bottom: 7px solid #ccc;
}

.header_nav ul {
  padding: 25px 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav ul::after {
  position: absolute;
  content: "";
  width: 134px;
  height: 100px;
  background: url("../../common/images/mascot.png") top center no-repeat;
  right: -48px;
  bottom: 0;
}

.header_nav ul li a {
  padding: 0 25px;
  font-weight: bold;
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  border-left: 1px dotted #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  line-height: 1;
  height: 20px;
}

.header_nav ul li a:hover {
  color: #004592;
}

.header_nav ul li a:hover::after {
  background: #004592;
}

.header_nav ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -12px;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  transition: width 0.3s ease;
  z-index: -1;
}

.header_nav ul li a::before {
  position: relative;
  content: "";
  margin-right: 7px;
  display: inline-block;
}

.header_nav ul li a.icon_fire::before {
  background: url("../../common/images/icon_fire.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 17px;
  height: 24px;
}

.header_nav ul li a.icon_fire:hover::before {
  background: url("../../common/images/icon_fire_hr.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header_nav ul li a.icon_yen::before {
  background: url("../../common/images/icon_yen.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 28px;
  height: 18px;
}

.header_nav ul li a.icon_yen:hover::before {
  background: url("../../common/images/icon_yen_hr.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header_nav ul li a.icon_pencil::before {
  background: url("../../common/images/icon_pencil.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 21px;
  height: 21px;
}

.header_nav ul li a.icon_pencil:hover::before {
  background: url("../../common/images/icon_pencil_hr.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header_nav ul li a.icon_plus::before {
  background: url("../../common/images/icon_plus.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 25px;
  height: 25px;
}

.header_nav ul li a.icon_plus:hover::before {
  background: url("../../common/images/icon_plus_hr.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header_nav ul li a.icon_note::before {
  background: url("../../common/images/icon_note.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 18px;
  height: 23px;
}

.header_nav ul li a.icon_note:hover::before {
  background: url("../../common/images/icon_note_hr.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.header_nav ul li a.icon_envelop::before {
  background: url("../../common/images/icon_envelop.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 24px;
  height: 17px;
}

.header_nav ul li a.icon_envelop:hover::before {
  background: url("../../common/images/icon_envelop_hr.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

footer .ft_top {
  border-top: 7px solid #D7D7D7;
  padding: 37px 0 40px;
}

footer .ft_top_l {
  text-align: center;
}

footer .ft_top_l li {
  display: inline-block;
}

footer .ft_top_l li:not(:last-child) {
  margin-right: 20px;
}

footer .ft_top_l li img {
  width: 230px;
  height: 140px;
}

footer .ft_ct {
  background: -webkit-linear-gradient(bottom, #004592 0%, #00aeeb 100%);
  background: -moz-linear-gradient(bottom, #004592 0%, #00aeeb 100%);
  background: linear-gradient(0deg, #004592 0%, #00aeeb 100%);
  position: relative;
}

footer .ft_ct .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 130px;
}

footer .ft_ct figure {
  margin-left: -65px;
  width: 198px;
  position: absolute;
  top: -49px;
}

footer .ft_ct_txt {
  font-size: 1.8rem;
  line-height: 27px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
  padding-left: 147px;
}

footer .ft_ct_tel {
  text-align: center;
}

footer .ft_ct_tel a {
  pointer-events: none;
  font-size: 5.2rem;
  line-height: 1;
  color: #fff;
  font-weight: bold;
  font-family: "Avenir Black";
  position: relative;
  display: block;
  letter-spacing: 2px;
  padding-left: 45px;
}

footer .ft_ct_tel a:before {
  content: "";
  background: url(../../common/images/icon_tel.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 36px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer .ft_ct_tel em {
  font-size: 2rem;
  color: #fff;
  line-height: 1;
  font-style: normal;
  display: block;
  margin-top: 12px;
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
}

footer .ft_ct_tel em span + span {
  margin-left: 20px;
}

footer .ft_ct_contact a {
  position: relative;
  width: 281px;
  height: 52px;
  display: block;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  margin-right: -20px;
}

footer .ft_ct_contact a span {
  font-size: 1.8rem;
  line-height: 1;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
  background: #FBB713;
  width: 100%;
  height: 100%;
  -moz-border-radius: 5px;
       border-radius: 5px;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
}

footer .ft_ct_contact a span:before {
  content: "";
  background: url(../../common/images/icon_mail.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 30px;
  height: 21px;
  margin-right: 13px;
}

footer .ft_ct_contact a:after {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 4px;
  -moz-border-radius: 5px;
       border-radius: 5px;
  background: #AF7E0E;
}

footer .ft_ct_contact a:hover {
  opacity: 1;
}

footer .ft_ct_contact a:hover span {
  -webkit-transform: translateY(3px);
     -moz-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

footer .ft_nav {
  padding: 30px 0;
}

footer .ft_nav .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .ft_nav_l {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -120px;
}

footer .ft_nav_l dl {
  width: -webkit-calc(33.33 - 100px);
  width: -moz-calc(33.33 - 100px);
  width: calc(33.33 - 100px);
  margin: 0 0 0 100px;
}

footer .ft_nav_l dl:nth-of-type(1) dt img {
  width: 163px;
  height: 24px;
}

footer .ft_nav_l dl:nth-of-type(2) dt img {
  width: 149px;
  height: 23px;
}

footer .ft_nav_l dl dt {
  font-size: 2rem;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer .ft_nav_l dl dd ul li {
  margin-bottom: 10px;
}

footer .ft_nav_l dl dd ul li a {
  font-size: 1.4rem;
  line-height: 17px;
  color: #333;
  padding-left: 23px;
  position: relative;
  font-weight: bold;
}

footer .ft_nav_l dl dd ul li a:before {
  content: "";
  background: url(../../common/images/icon_nav.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer .ft_nav_r {
  margin-right: -20px;
}

footer .ft_nav_r ul li {
  margin-bottom: 10px;
}

footer .ft_bottom {
  background: -webkit-linear-gradient(bottom, #004592 0%, #00aeeb 100%);
  background: -moz-linear-gradient(bottom, #004592 0%, #00aeeb 100%);
  background: linear-gradient(0deg, #004592 0%, #00aeeb 100%);
  padding: 15px 0;
}

footer .ft_bottom .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .ft_bottom_copyright {
  font-size: 1.2rem;
  line-height: 21px;
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
  color: #fff;
  margin-left: -20px;
}

footer .ft_bottom_r {
  margin-right: -20px;
}

footer .ft_bottom_r_l li {
  display: inline-block;
  position: relative;
}

footer .ft_bottom_r_l li:after {
  content: "|";
  color: #fff;
  position: absolute;
  top: 50%;
  right: -10px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer .ft_bottom_r_l li:not(:last-child) {
  margin-right: 14px;
}

footer .ft_bottom_r_l li:last-child:after {
  content: none;
}

footer .ft_bottom_r_l li a {
  font-size: 1.2rem;
  line-height: 21px;
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
  color: #fff;
}

footer .ft_bottom_r em {
  font-size: 1.2rem;
  line-height: 21px;
  color: #fff;
  font-weight: bold;
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
  font-style: normal;
  display: block;
  text-align: right;
}

.ttl {
  font-size: 2.6rem;
  line-height: 1;
  font-weight: bold;
  padding: 0 0 0 34px;
  position: relative;
}

.ttl:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ttl:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -23px;
  left: 0;
}

.effect {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.delay_03 {
  -webkit-transition: all 1s ease 0.3s;
  -moz-transition: all 1s ease 0.3s;
  transition: all 1s ease 0.3s;
}

.delay_06 {
  -webkit-transition: all 1s ease 0.6s;
  -moz-transition: all 1s ease 0.6s;
  transition: all 1s ease 0.6s;
}

.delay_09 {
  -webkit-transition: all 1s ease 0.9s;
  -moz-transition: all 1s ease 0.9s;
  transition: all 1s ease 0.9s;
}

.delay_12 {
  -webkit-transition: all 1s ease 1.2s;
  -moz-transition: all 1s ease 1.2s;
  transition: all 1s ease 1.2s;
}

.delay_15 {
  -webkit-transition: all 1s ease 1.5s;
  -moz-transition: all 1s ease 1.5s;
  transition: all 1s ease 1.5s;
}

.fadeIn {
  opacity: 0;
}

.fadeIn.active {
  opacity: 1;
}

.slideUp {
  -webkit-transform: translate3d(0, 100px, 0);
     -moz-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
  opacity: 0;
}

.slideUp.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slideToRight {
  -webkit-transform: translate3d(-100px, 0, 0);
     -moz-transform: translate3d(-100px, 0, 0);
          transform: translate3d(-100px, 0, 0);
  opacity: 0;
}

.slideToRight.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slideToLeft {
  -webkit-transform: translate3d(100px, 0, 0);
     -moz-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
  opacity: 0;
}

.slideToLeft.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.maskToRight {
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  overflow: hidden;
}

.maskToRight::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background: #fff;
  -webkit-transition: all 0.8s linear;
  -moz-transition: all 0.8s linear;
  transition: all 0.8s linear;
  z-index: 2;
}

.maskToRight.active::before {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.waveText {
  display: inline-block;
  will-change: transform;
  -webkit-animation-name: waveText;
     -moz-animation-name: waveText;
          animation-name: waveText;
  -webkit-animation-duration: 4s;
     -moz-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
     -moz-animation-direction: alternate;
          animation-direction: alternate;
}
