@charset "UTF-8";
main {
  margin-top: 6.66667vw;
}

.ttl {
  padding-left: 10.66667vw;
}

.ttl:before {
  background: url(../images/icon_ttl.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 8.13333vw;
  height: 5.2vw;
}

.ttl_st {
  font-size: 4.8vw;
  line-height: 5.86667vw;
  color: #333;
  position: relative;
  padding-left: 4.66667vw;
  font-weight: bold;
}

.ttl_st:before {
  content: "";
  width: 1.46667vw;
  height: 7.33333vw;
  background-color: #00428A;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.st_method_cal {
  margin: 12.13333vw 0 0 0;
}

.st_method_cal .ttl_st {
  margin-bottom: 5.33333vw;
}

.st_method_cal .txt_top {
  font-size: 4vw;
  line-height: 7.33333vw;
}

.st_method_cal .bx_m_cal {
  margin: 6vw auto 12.26667vw;
}

.st_method_cal .tbl_mt .dl_m {
  border: 0.4vw solid #E83843;
}

.st_method_cal .tbl_mt .dl_m > dt {
  font-size: 4.26667vw;
  line-height: 7.46667vw;
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 0.93333vw 0 1.06667vw;
  background-color: #E83843;
}

.st_method_cal .tbl_mt dd table,
.st_method_cal .tbl_mt dd th,
.st_method_cal .tbl_mt dd td {
  border-collapse: collapse;
}

.st_method_cal .tbl_mt_top tr {
  border-bottom: 1px solid #999999;
}

.st_method_cal .tbl_mt_top th {
  width: 17.33333vw;
  font-size: 3.73333vw;
  line-height: 7.33333vw;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid #999999;
}

.st_method_cal .tbl_mt_top td {
  font-size: 3.73333vw;
  line-height: 7.33333vw;
  padding: 2.4vw 1.33333vw 3.06667vw 3.33333vw;
}

.st_method_cal .tbl_mt_b {
  padding: 8.8vw 3.6vw 4vw;
}

.st_method_cal .tbl_mt_b dl {
  border: 0.4vw solid #ccc;
  -moz-border-radius: 1.33333vw;
       border-radius: 1.33333vw;
}

.st_method_cal .tbl_mt_b dl dt {
  font-size: 3.73333vw;
  line-height: 6.53333vw;
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 2vw 0 2.13333vw;
  background-color: #E83843;
  -moz-border-radius-topleft: 1.06667vw;
       border-top-left-radius: 1.06667vw;
  -moz-border-radius-topright: 1.06667vw;
       border-top-right-radius: 1.06667vw;
}

.st_method_cal .tbl_mt_b dl dd {
  padding: 8.26667vw 3.73333vw 5.33333vw;
  background-color: #F6F6F6;
  -moz-border-radius-bottomleft: 1.06667vw;
       border-bottom-left-radius: 1.06667vw;
  -moz-border-radius-bottomright: 1.06667vw;
       border-bottom-right-radius: 1.06667vw;
}

.st_method_cal .tbl_mt_b_price {
  width: 100%;
}

.st_method_cal .tbl_mt_b_price thead:nth-of-type(1) {
  background-color: #FFC1C7;
  border-right: 1px solid #FFC1C7;
}

.st_method_cal .tbl_mt_b_price thead:nth-of-type(1) th {
  color: #E83843;
  font-size: 2.93333vw;
  line-height: 3.86667vw;
  font-weight: normal;
  text-align: left;
  padding: 1.86667vw 0.66667vw;
}

.st_method_cal .tbl_mt_b_price thead:nth-of-type(2) {
  background-color: #000;
  border-right: 1px solid #000;
}

.st_method_cal .tbl_mt_b_price thead:nth-of-type(2) th {
  font-size: 3.2vw;
  line-height: 4vw;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 2.53333vw 0 1.33333vw;
}

.st_method_cal .tbl_mt_b_price tbody {
  border: 1px solid #000;
  background-color: #fff;
}

.st_method_cal .tbl_mt_b_price tbody tr {
  border-bottom: 1px solid #000;
}

.st_method_cal .tbl_mt_b_price tbody tr td {
  text-align: center;
  font-size: 3.2vw;
  line-height: 4vw;
  vertical-align: middle;
  padding: 1.86667vw 0 0.66667vw;
  width: 20%;
}

.st_method_cal .tbl_mt_b_price tbody tr td:not(:last-child) {
  border-right: 1px solid #000;
}

.st_method_cal .tbl_mt_b_price tbody tr td:nth-of-type(4) {
  text-align: right;
  padding-right: 1.33333vw;
}

.st_method_cal .tbl_mt_b_price tbody tr td .red {
  color: #E83843;
  text-align: right;
  display: block;
  padding-right: 1.33333vw;
}

.st_method_cal .tbl_mt_b_price tbody tr td:nth-of-type(1) {
  font-weight: bold;
}

.st_method_cal .tbl_mt_b_art {
  margin-top: 5.73333vw;
}

.st_method_cal .tbl_mt_b_art article:not(:last-child) {
  margin-bottom: 5.73333vw;
}

.st_method_cal .tbl_mt_b_art article h4 {
  font-size: 4vw;
  line-height: 4.93333vw;
  position: relative;
  padding-left: 4vw;
  font-weight: bold;
  margin-bottom: 3.46667vw;
}

.st_method_cal .tbl_mt_b_art article h4:before {
  content: "";
  width: 1.2vw;
  height: 4.8vw;
  position: absolute;
  top: 50%;
  background-color: #000;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.st_method_cal .tbl_mt_b_art article em {
  font-size: 3.73333vw;
  line-height: 7.33333vw;
  padding: 1.33333vw 2.8vw 1.33333vw;
  display: block;
  font-style: normal;
  border: 1px solid #000;
  background-color: #fff;
}

.st_method_cal .tbl_mt .link_pdf {
  font-size: 2.93333vw;
  line-height: 5.73333vw;
  color: #00428A;
  text-decoration: underline;
  text-align: center;
  display: block;
  margin-bottom: 4vw;
}

.st_method_cal .tbl_mt .link_pdf span {
  position: relative;
  padding-left: 8vw;
}

.st_method_cal .tbl_mt .link_pdf span:before {
  content: "";
  background: url(../images/icon_pdf.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 7.06667vw;
  height: 3.6vw;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.st_app_flow {
  padding: 16.4vw 0 0 0;
}

.st_app_flow .ttl_st {
  margin-bottom: 6.13333vw;
}

.st_app_flow .inner {
  padding: 0 4.26667vw;
}

.st_app_flow .inner dl {
  margin-top: 14.66667vw;
}

.st_app_flow .inner dl dt {
  font-size: 3.73333vw;
  line-height: 6.53333vw;
  color: #fff;
  font-weight: bold;
  background-color: #0093D4;
  text-align: center;
  padding: 2.4vw 0 1.86667vw 16.53333vw;
  -moz-border-radius-topleft: 1.33333vw;
       border-top-left-radius: 1.33333vw;
  -moz-border-radius-topright: 1.33333vw;
       border-top-right-radius: 1.33333vw;
}

.st_app_flow .inner dl dt span {
  position: relative;
}

.st_app_flow .inner dl dt span:before {
  content: "";
  background: url(../images/sun.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 19.73333vw;
  height: 15.6vw;
  position: absolute;
  top: -7.86667vw;
  left: -19.86667vw;
}

.st_app_flow .inner dl dd {
  background-color: #EEF7FF;
  padding: 4.8vw 4vw 5.86667vw;
}

.st_app_flow .inner dl dd .bx_art {
  background-color: #fff;
  -moz-border-radius: 1.33333vw;
       border-radius: 1.33333vw;
  padding: 5.86667vw 3.2vw 6.13333vw;
}

.st_app_flow .inner dl dd .bx_art article:not(:last-child) {
  margin-bottom: 2vw;
}

.st_app_flow .inner dl dd .bx_art article h4 {
  font-size: 4.26667vw;
  line-height: 6.66667vw;
  color: #00428A;
  font-weight: bold;
  position: relative;
  padding-left: 5.33333vw;
  margin-bottom: 0.93333vw;
}

.st_app_flow .inner dl dd .bx_art article h4 span {
  color: #333;
  font-weight: normal;
}

.st_app_flow .inner dl dd .bx_art article h4:before {
  content: "●";
  font-size: 4.26667vw;
  line-height: 6.66667vw;
  color: #00428A;
  position: absolute;
  top: 0;
  left: 0;
}

.st_app_flow .inner dl dd .bx_art article p {
  font-size: 4.26667vw;
  line-height: 6.66667vw;
  padding-left: 5.33333vw;
}

.st_app_flow .inner dl dd .bx_art article p.txt_a {
  font-size: 3.73333vw;
  padding-left: 0;
}

.st_app_flow .inner dl dd .bx_art article ul {
  border: 0.26667vw solid #D8D9D9;
  padding: 2.93333vw 0 3.06667vw 3.33333vw;
  margin: 2.66667vw 0 0 0;
  background-color: #F6F6F6;
}

.st_app_flow .inner dl dd .bx_art article ul li {
  font-size: 3.73333vw;
  line-height: 6.66667vw;
  color: #333;
  position: relative;
  padding-left: 2vw;
}

.st_app_flow .inner dl dd .bx_art article ul li:before {
  content: "・";
  font-size: 3.73333vw;
  line-height: 6.66667vw;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -0.93333vw;
}

.btn_signup a {
  position: relative;
  width: 72.66667vw;
  height: 13.86667vw;
  display: block;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  margin: 8.4vw auto 13.73333vw;
}

.btn_signup a span {
  font-size: 6vw;
  line-height: 1;
  color: #00428A;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
  background: #fff;
  width: 100%;
  height: 100%;
  border: 0.4vw solid #00428A;
  -moz-border-radius: 0.66667vw;
       border-radius: 0.66667vw;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
}

.btn_signup a span:before {
  content: "";
  background: url(../images/icon_btn.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 6.93333vw;
  height: 7.33333vw;
  margin-right: 3.33333vw;
}

.btn_signup a:after {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 1.73333vw;
  -moz-border-radius: 0.66667vw;
       border-radius: 0.66667vw;
  background: #00428A;
}
