main {
  margin-top: 35px;
}

.ttl:before {
  background: url(../images/icon_ttl.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 24px;
  height: 33px;
}

.top_about {
  margin: 66px 0 0 0;
  text-align: center;
}

.top_about figure {
  position: relative;
}

.top_about figure figcaption {
  position: absolute;
  width: 100%;
  top: 52px;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.top_about figure figcaption h3 {
  margin-bottom: 43px;
}

.top_about figure figcaption h3 img {
  width: 342px;
  height: 53px;
}

.top_about figure figcaption p {
  font-size: 2rem;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}

.top_about figure figcaption em {
  font-size: 2rem;
  line-height: 40px;
  text-align: center;
  font-style: normal;
  display: block;
  font-weight: bold;
}

.top_about figure figcaption em span {
  color: #004592;
}

.seconds_about {
  padding: 77px 0 0 0;
}

.seconds_about h3 {
  text-align: center;
  margin-bottom: 42px;
}

.seconds_about h3 img {
  width: 648px;
  height: 108px;
}

.seconds_about .art_nb {
  max-width: 894px;
  margin: 0 auto;
}

.seconds_about .art_nb_inner {
  margin: 0 0 0 -28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.seconds_about .art_nb article {
  border: 3px solid #00428A;
  -moz-border-radius: 18px;
       border-radius: 18px;
  width: -webkit-calc(33.33% - 28px);
  width: -moz-calc(33.33% - 28px);
  width: calc(33.33% - 28px);
  margin: 0 0 0 28px;
  padding: 42px 27px 30px;
  position: relative;
}

.seconds_about .art_nb article:before {
  content: "";
  position: absolute;
  top: -24px;
  left: -15px;
  margin: 0 15px 15px 0;
}

.seconds_about .art_nb article:nth-of-type(1):before {
  background: #fff url(../images/nb_01.png) no-repeat;
  -moz-background-size: 59px 41px;
       background-size: 59px 41px;
  width: 74px;
  height: 60px;
}

.seconds_about .art_nb article:nth-of-type(2):before {
  background: #fff url(../images/nb_02.png) no-repeat;
  -moz-background-size: 65px 41px;
       background-size: 65px 41px;
  width: 74px;
  height: 60px;
}

.seconds_about .art_nb article:nth-of-type(2) h4 {
  margin-bottom: 40px;
}

.seconds_about .art_nb article:nth-of-type(3):before {
  background: #fff url(../images/nb_03.png) no-repeat;
  -moz-background-size: 65px 41px;
       background-size: 65px 41px;
  width: 74px;
  height: 60px;
}

.seconds_about .art_nb article h4 {
  font-size: 2.6rem;
  line-height: 40px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}

.seconds_about .art_nb article figure {
  text-align: center;
  margin-bottom: 25px;
}

.seconds_about .art_nb article p {
  font-size: 1.8rem;
  line-height: 30px;
  padding: 0 8px;
}

.bottom_about {
  padding: 126px 0 97px;
}

.bottom_about h3 {
  text-align: center;
  margin-bottom: 37px;
}

.bottom_about_s {
  background-color: #FAF8EA;
  padding: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 980px;
  margin: 0 auto;
  -moz-border-radius: 10px;
       border-radius: 10px;
}

.bottom_about_s_l {
  padding: 48px 0 0 35px;
  width: -webkit-calc(100% - 324px);
  width: -moz-calc(100% - 324px);
  width: calc(100% - 324px);
}

.bottom_about_s_l_i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.bottom_about_s_l_i .img_d img {
  width: 219px;
  height: 46px;
}

.bottom_about_s_l_i .plus {
  margin: 0 10px 0 16px;
}

.bottom_about_s_l_i .plus img {
  width: 25px;
  height: 25px;
}

.bottom_about_s_l_i .img_g img {
  width: 219px;
  height: 46px;
}

.bottom_about_s_l_i .wo {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: bold;
  font-style: normal;
  margin-left: 14px;
}

.bottom_about_s_l p {
  font-size: 2.5rem;
  line-height: 50px;
  font-weight: bold;
  color: #333;
  padding-left: 15px;
}

.bottom_about_s_l p img {
  vertical-align: top;
}

.bottom_about_s figure {
  width: 324px;
  padding: 31px 0 0 0;
}

.bottom_about_s figure img {
  width: 250px;
  height: 220px;
}
