@charset "UTF-8";
main {
  margin-top: 35px;
}

.ttl {
  padding-left: 50px;
}

.ttl:before {
  background: url(../images/icon_ttl.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 37px;
  height: 23px;
}

.ttl_st {
  font-size: 2.5rem;
  line-height: 30px;
  color: #333;
  position: relative;
  padding-left: 25px;
  font-weight: bold;
}

.ttl_st:before {
  content: "";
  width: 7px;
  height: 37px;
  background-color: #00428A;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.st_method_cal {
  margin: 63px 0 0 0;
}

.st_method_cal .ttl_st {
  margin-bottom: 21px;
}

.st_method_cal .txt_top {
  font-size: 1.5rem;
  line-height: 30px;
  padding-left: 25px;
}

.st_method_cal .bx_m_cal {
  margin: 19px auto 70px;
}

.st_method_cal .tbl_mt .dl_m {
  border: 3px solid #E83843;
}

.st_method_cal .tbl_mt .dl_m > dt {
  font-size: 2.6rem;
  line-height: 45px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 13px 0;
  background-color: #E83843;
}

.st_method_cal .tbl_mt dd table,
.st_method_cal .tbl_mt dd th,
.st_method_cal .tbl_mt dd td {
  border-collapse: collapse;
}

.st_method_cal .tbl_mt_top tr {
  border-bottom: 1px solid #999999;
}

.st_method_cal .tbl_mt_top th {
  width: 116px;
  font-size: 1.5rem;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid #999999;
}

.st_method_cal .tbl_mt_top td {
  font-size: 1.5rem;
  line-height: 30px;
  padding: 9px 15px 7px 21px;
}

.st_method_cal .tbl_mt_b {
  padding: 51px 27px 23px;
}

.st_method_cal .tbl_mt_b dl {
  border: 3px solid #ccc;
  -moz-border-radius: 10px;
       border-radius: 10px;
}

.st_method_cal .tbl_mt_b dl dt {
  font-size: 2rem;
  line-height: 35px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 18px 0 15px;
  background-color: #E83843;
  -moz-border-radius-topleft: 8px;
       border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
       border-top-right-radius: 8px;
}

.st_method_cal .tbl_mt_b dl dd {
  padding: 34px 28px 35px 28px;
  background-color: #F6F6F6;
  -moz-border-radius-bottomleft: 8px;
       border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
       border-bottom-right-radius: 8px;
}

.st_method_cal .tbl_mt_b_price {
  width: 100%;
}

.st_method_cal .tbl_mt_b_price thead:nth-of-type(1) {
  background-color: #FFC1C7;
  border-right: 1px solid #FFC1C7;
}

.st_method_cal .tbl_mt_b_price thead:nth-of-type(1) th {
  color: #E83843;
  font-size: 1.3rem;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  padding: 6px 0;
}

.st_method_cal .tbl_mt_b_price thead:nth-of-type(2) {
  background-color: #000;
  border-right: 1px solid #000;
}

.st_method_cal .tbl_mt_b_price thead:nth-of-type(2) th {
  font-size: 1.3rem;
  line-height: 30px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 4px 0 0;
}

.st_method_cal .tbl_mt_b_price tbody {
  border: 1px solid #000;
  background-color: #fff;
}

.st_method_cal .tbl_mt_b_price tbody tr {
  border-bottom: 1px solid #000;
}

.st_method_cal .tbl_mt_b_price tbody tr td {
  text-align: center;
  font-size: 1.5rem;
  line-height: 30px;
  vertical-align: middle;
  padding: 3px 0 0 0;
}

.st_method_cal .tbl_mt_b_price tbody tr td:not(:last-child) {
  border-right: 1px solid #000;
}

.st_method_cal .tbl_mt_b_price tbody tr td .red {
  color: #E83843;
}

.st_method_cal .tbl_mt_b_price tbody tr td:nth-of-type(1) {
  font-weight: bold;
  width: 90px;
}

.st_method_cal .tbl_mt_b_art {
  margin-top: 35px;
}

.st_method_cal .tbl_mt_b_art article:not(:last-child) {
  margin-bottom: 20px;
}

.st_method_cal .tbl_mt_b_art article h4 {
  font-size: 1.6rem;
  line-height: 20px;
  position: relative;
  padding-left: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.st_method_cal .tbl_mt_b_art article h4:before {
  content: "";
  width: 5px;
  height: 19px;
  position: absolute;
  top: 50%;
  background-color: #000;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.st_method_cal .tbl_mt_b_art article em {
  font-size: 1.5rem;
  line-height: 30px;
  padding: 7px 18px 4px;
  display: block;
  font-style: normal;
  border: 1px solid #000;
  background-color: #fff;
}

.st_method_cal .tbl_mt .link_pdf {
  font-size: 1.5rem;
  line-height: 30px;
  color: #00428A;
  text-decoration: underline;
  text-align: center;
  display: block;
  margin-bottom: 21px;
}

.st_method_cal .tbl_mt .link_pdf span {
  position: relative;
  padding-left: 40px;
}

.st_method_cal .tbl_mt .link_pdf span:before {
  content: "";
  background: url(../images/icon_pdf.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 35px;
  height: 17px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.st_app_flow {
  padding: 107px 0 0 0;
}

.st_app_flow .ttl_st {
  margin-bottom: 35px;
}

.st_app_flow .inner {
  padding: 0 30px;
}

.st_app_flow .inner dl {
  margin-top: 98px;
}

.st_app_flow .inner dl dt {
  font-size: 2rem;
  line-height: 35px;
  color: #fff;
  font-weight: bold;
  background-color: #0093D4;
  text-align: center;
  padding: 21px 0 14px;
  -moz-border-radius-topleft: 10px;
       border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
       border-top-right-radius: 10px;
}

.st_app_flow .inner dl dt span {
  position: relative;
}

.st_app_flow .inner dl dt span:before {
  content: "";
  background: url(../images/sun.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 135px;
  height: 106px;
  position: absolute;
  top: -60px;
  left: -160px;
}

.st_app_flow .inner dl dd {
  background-color: #EEF7FF;
  padding: 25px 30px;
}

.st_app_flow .inner dl dd .bx_art {
  background-color: #fff;
  -moz-border-radius: 10px;
       border-radius: 10px;
  padding: 34px 33px 13px;
  font-size: 0;
}

.st_app_flow .inner dl dd .bx_art_item {
  margin-left: -77px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.st_app_flow .inner dl dd .bx_art article {
  width: -webkit-calc(50% - 77px);
  width: -moz-calc(50% - 77px);
  width: calc(50% - 77px);
  margin: 0 0 20px 77px;
  display: inline-block;
}

.st_app_flow .inner dl dd .bx_art article:last-of-type {
  width: 100%;
}

.st_app_flow .inner dl dd .bx_art article h4 {
  font-size: 1.8rem;
  line-height: 30px;
  color: #00428A;
  font-weight: bold;
  position: relative;
  padding-left: 23px;
}

.st_app_flow .inner dl dd .bx_art article h4 span {
  color: #333;
  font-weight: normal;
}

.st_app_flow .inner dl dd .bx_art article h4:before {
  content: "●";
  font-size: 1.8rem;
  line-height: 30px;
  color: #00428A;
  position: absolute;
  top: 0;
  left: 0;
}

.st_app_flow .inner dl dd .bx_art article p {
  font-size: 1.5rem;
  line-height: 30px;
}

.st_app_flow .inner dl dd .bx_art article p.txt_a {
  font-size: 18px;
}

.st_app_flow .inner dl dd .bx_art article ul {
  border: 2px solid #D8D9D9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 150px 15px 30px;
  margin: 20px 0 0 0;
  background-color: #F6F6F6;
}

.st_app_flow .inner dl dd .bx_art article ul li {
  font-size: 1.8rem;
  line-height: 30px;
  color: #333;
  position: relative;
  padding-left: 15px;
}

.st_app_flow .inner dl dd .bx_art article ul li:before {
  content: "・";
  font-size: 1.8rem;
  line-height: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.btn_signup a {
  position: relative;
  width: 406px;
  height: 54px;
  display: block;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  margin: 60px auto 102px;
}

.btn_signup a span {
  font-size: 2.2rem;
  line-height: 1;
  color: #00428A;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
  background: #fff;
  width: 100%;
  height: 100%;
  border: 3px solid #00428A;
  -moz-border-radius: 5px;
       border-radius: 5px;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
}

.btn_signup a span:before {
  content: "";
  background: url(../images/icon_btn.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 24px;
  height: 25px;
  margin-right: 10px;
}

.btn_signup a:after {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 5px;
  -moz-border-radius: 5px;
       border-radius: 5px;
  background: #00428A;
}

.btn_signup a:hover {
  opacity: 1;
}

.btn_signup a:hover span {
  -webkit-transform: translateY(5px);
     -moz-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}
