main {
  margin-top: 6.66667vw;
}

.ttl:before {
  background: url(../images/icon_ttl.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 5.2vw;
  height: 7.2vw;
}

.top_about {
  margin: 11.2vw 0 0 0;
  text-align: center;
}

.top_about figure {
  position: relative;
}

.top_about figure figcaption {
  position: absolute;
  width: 100%;
  top: 7.86667vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.top_about figure figcaption h3 {
  margin-bottom: 7.46667vw;
}

.top_about figure figcaption h3 img {
  width: 55.6vw;
  height: 8.66667vw;
}

.top_about figure figcaption p {
  font-size: 4.26667vw;
  line-height: 6.66667vw;
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-bottom: 6.53333vw;
}

.top_about figure figcaption em {
  font-size: 4.26667vw;
  line-height: 6.66667vw;
  color: #333;
  text-align: center;
  font-style: normal;
  display: block;
  font-weight: bold;
}

.top_about figure figcaption em span {
  color: #004592;
}

.seconds_about {
  padding: 17.73333vw 0 0 0;
}

.seconds_about h3 {
  text-align: center;
  margin-bottom: 14.4vw;
}

.seconds_about h3 img {
  width: 89.33333vw;
  height: 14.93333vw;
}

.seconds_about .art_nb {
  margin: 0 auto;
  padding: 0 5.33333vw;
}

.seconds_about .art_nb article {
  border: 0.4vw solid #00428A;
  -moz-border-radius: 2.4vw;
       border-radius: 2.4vw;
  margin: 0 0 14vw 0;
  padding: 9.86667vw 8vw 5.86667vw;
  position: relative;
}

.seconds_about .art_nb article:before {
  content: "";
  position: absolute;
  top: -5.6vw;
  left: -4.26667vw;
  margin: 0 4.53333vw 7.46667vw 0;
}

.seconds_about .art_nb article:nth-of-type(1):before {
  background: #fff url(../images/nb_01.png) no-repeat;
  -moz-background-size: 16vw 11.06667vw;
       background-size: 16vw 11.06667vw;
  width: 20.4vw;
  height: 16.93333vw;
}

.seconds_about .art_nb article:nth-of-type(1) figure img {
  width: 58.93333vw;
  height: 26.53333vw;
}

.seconds_about .art_nb article:nth-of-type(2):before {
  background: #fff url(../images/nb_02.png) no-repeat;
  -moz-background-size: 17.6vw 11.06667vw;
       background-size: 17.6vw 11.06667vw;
  width: 20vw;
  height: 16vw;
}

.seconds_about .art_nb article:nth-of-type(2) h4 {
  margin-bottom: 4vw;
}

.seconds_about .art_nb article:nth-of-type(2) figure img {
  width: 58.93333vw;
  height: 34.26667vw;
}

.seconds_about .art_nb article:nth-of-type(3):before {
  background: #fff url(../images/nb_03.png) no-repeat;
  -moz-background-size: 17.6vw 11.06667vw;
       background-size: 17.6vw 11.06667vw;
  width: 20vw;
  height: 16vw;
}

.seconds_about .art_nb article:nth-of-type(3) figure img {
  width: 58.93333vw;
  height: 27.46667vw;
}

.seconds_about .art_nb article h4 {
  font-size: 4.8vw;
  line-height: 6.66667vw;
  font-weight: bold;
  color: #333333;
  text-align: center;
  margin-bottom: 5.6vw;
}

.seconds_about .art_nb article figure {
  text-align: center;
  margin-bottom: 4.66667vw;
}

.seconds_about .art_nb article p {
  font-size: 4vw;
  line-height: 8.4vw;
  padding: 0 0.66667vw;
}

.bottom_about {
  padding: 3.6vw 0 24vw;
}

.bottom_about h3 {
  text-align: center;
  margin-bottom: 6.66667vw;
}

.bottom_about h3 img {
  width: 81.06667vw;
  height: 18vw;
}

.bottom_about_s {
  background-color: #FAF8EA;
  padding: 0 4vw;
  margin: 0 auto;
  -moz-border-radius: 1.33333vw;
       border-radius: 1.33333vw;
}

.bottom_about_s_l {
  padding: 7.73333vw 0 0 0;
}

.bottom_about_s_l_i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.33333vw;
}

.bottom_about_s_l_i .img_d img {
  width: 34.26667vw;
  height: 7.73333vw;
}

.bottom_about_s_l_i .plus {
  margin: 0 2vw 0 2vw;
}

.bottom_about_s_l_i .plus img {
  width: 3.73333vw;
  height: 3.73333vw;
}

.bottom_about_s_l_i .img_g img {
  width: 34.26667vw;
  height: 7.73333vw;
}

.bottom_about_s_l_i .wo {
  font-size: 3.86667vw;
  line-height: 1;
  font-weight: bold;
  font-style: normal;
  margin-left: 2vw;
}

.bottom_about_s_l p {
  font-size: 4.26667vw;
  line-height: 9.33333vw;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
}

.bottom_about_s_l p + p {
  margin-top: 2px;
}

.bottom_about_s_l p img {
  vertical-align: top;
  width: 57.86667vw;
  height: 6.53333vw;
  margin: 0.66667vw 0 0 0.66667vw;
}

.bottom_about_s figure {
  padding: 4.53333vw 0 0 0;
  text-align: center;
}

.bottom_about_s figure img {
  width: 46.8vw;
  height: 40.13333vw;
}
