@charset "utf-8";
// ===================================================================
//  use index page
// ===================================================================
main {
  margin-top: vw(50);
}

.ttl {
  padding-left: vw(80);
  &:before {
    background: url(../images/icon_ttl.png) no-repeat;
    background-size: contain;
    width: vw(61);
    height: vw(39);
  }
}

.ttl_st {
  font-size: vw(36);
  line-height: vw(44);
  color: #333;
  position: relative;
  padding-left: vw(35);
  font-weight: bold;
  &:before {
    content: "";
    width: vw(11);
    height: vw(55);
    background-color: #00428A;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.st_method_cal {
  margin: vw(91) 0 0 0;
  .ttl_st {
    margin-bottom: vw(40);
  }
  .txt_top {
    font-size: vw(30);
    line-height: vw(55);
  }
  .bx_m_cal {
    margin: vw(45) auto vw(92);
  }
  .tbl_mt {
    .dl_m {
      border: vw(3) solid #E83843;
      >dt {
        font-size: vw(32);
        line-height: vw(56);
        color: #fff;
        font-weight: bold;
        text-align: center;
        display: block;
        padding: vw(7) 0 vw(8);
        background-color: #E83843;
      }
    }
    dd {
      table,
      th,
      td {
        border-collapse: collapse;
      }
    }
    &_top {
      tr {
        border-bottom: 1px solid #999999;
      }
      th {
        width: vw(130);
        font-size: vw(28);
        line-height: vw(55);
        vertical-align: middle;
        text-align: center;
        border-right: 1px solid #999999;
      }
      td {
        font-size: vw(28);
        line-height: vw(55);
        padding: vw(18) vw(10) vw(23) vw(25);
      }
    }
    &_b {
      padding: vw(66) vw(27) vw(30);
      dl {
        border: vw(3) solid #ccc;
        border-radius: vw(10);
        dt {
          font-size: vw(28);
          line-height: vw(49);
          color: #fff;
          font-weight: bold;
          text-align: center;
          display: block;
          padding: vw(15) 0 vw(16);
          background-color: #E83843;
          border-top-left-radius: vw(8);
          border-top-right-radius: vw(8);
        }
        dd {
          padding: vw(62) vw(28) vw(40);
          background-color: #F6F6F6;
          border-bottom-left-radius: vw(8);
          border-bottom-right-radius: vw(8);
        }
      }
      &_price {
        width: 100%;
        thead {
          &:nth-of-type(1) {
            background-color: #FFC1C7;
            border-right: 1px solid #FFC1C7;
            th {
              color: #E83843;
              font-size: vw(22);
              line-height: vw(29);
              font-weight: normal;
              text-align: left;
              padding: vw(14) vw(5);
            }
          }
          &:nth-of-type(2) {
            background-color: #000;
            border-right: 1px solid #000;
            th {
              font-size: vw(24);
              line-height: vw(30);
              color: #fff;
              text-align: center;
              vertical-align: middle;
              padding: vw(19) 0 vw(10);
            }
          }
        }
        tbody {
          border: 1px solid #000;
          background-color: #fff;
          tr {
            border-bottom: 1px solid #000;
            td {
              text-align: center;
              font-size: vw(24);
              line-height: vw(30);
              vertical-align: middle;
              padding: vw(14) 0 vw(5);
              width: 20%;
              &:not(:last-child) {
                border-right: 1px solid #000;
              }
              &:nth-of-type(4) {
                text-align: right;
                padding-right: vw(10);
              }
              .red {
                color: #E83843;
                text-align: right;
                display: block;
                padding-right: vw(10);
              }
              &:nth-of-type(1) {
                font-weight: bold;
              }
            }
          }
        }
      }
      &_art {
        margin-top: vw(43);
        article {
          &:not(:last-child) {
            margin-bottom: vw(43);
          }
          h4 {
            font-size: vw(30);
            line-height: vw(37);
            position: relative;
            padding-left: vw(30);
            font-weight: bold;
            margin-bottom: vw(26);
            &:before {
              content: "";
              width: vw(9);
              height: vw(36);
              position: absolute;
              top: 50%;
              background-color: #000;
              transform: translateY(-50%);
              left: 0;
            }
          }
          em {
            font-size: vw(28);
            line-height: vw(55);
            padding: vw(10) vw(21) vw(10);
            display: block;
            font-style: normal;
            border: 1px solid #000;
            background-color: #fff;
          }
        }
      }
    }
    .link_pdf {
      font-size: vw(22);
      line-height: vw(43);
      color: #00428A;
      text-decoration: underline;
      text-align: center;
      display: block;
      margin-bottom: vw(30);
      span {
        position: relative;
        padding-left: vw(60);
        &:before {
          content: "";
          background: url(../images/icon_pdf.png) no-repeat;
          background-size: contain;
          width: vw(53);
          height: vw(27);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
      }
    }
  }
}

.st_app_flow {
  padding: vw(123) 0 0 0;
  .ttl_st {
    margin-bottom: vw(46);
  }
  .inner {
    padding: 0 vw(32);
    dl {
      margin-top: vw(110);
      dt {
        font-size: vw(28);
        line-height: vw(49);
        color: #fff;
        font-weight: bold;
        background-color: #0093D4;
        text-align: center;
        padding: vw(18) 0 vw(14) vw(124);
        border-top-left-radius: vw(10);
        border-top-right-radius: vw(10);
        span {
          position: relative;
          &:before {
            content: "";
            background: url(../images/sun.png) no-repeat;
            background-size: contain;
            width: vw(148);
            height: vw(117);
            position: absolute;
            top: vw(-59);
            left: vw(-149);
          }
        }
      }
      dd {
        background-color: #EEF7FF;
        padding: vw(36) vw(30) vw(44);
        .bx_art {
          background-color: #fff;
          border-radius: vw(10);
          padding: vw(44) vw(24) vw(46);
          article {
            &:not(:last-child) {
              margin-bottom: vw(15);
            }
            h4 {
              font-size: vw(32);
              line-height: vw(50);
              color: #00428A;
              font-weight: bold;
              position: relative;
              padding-left: vw(40);
              margin-bottom: vw(7);
              span {
                color: #333;
                font-weight: normal;
              }
              &:before {
                content: "●";
                font-size: vw(32);
                line-height: vw(50);
                color: #00428A;
                position: absolute;
                top: 0;
                left: 0;
              }
            }
            p {
              font-size: vw(32);
              line-height: vw(50);
              padding-left: vw(40);
              &.txt_a {
                font-size: vw(28);
                padding-left: 0;
              }
            }
            ul {
              border: vw(2) solid #D8D9D9;
              padding: vw(22) 0 vw(23) vw(25);
              margin: vw(20) 0 0 0;
              background-color: #F6F6F6;
              li {
                font-size: vw(28);
                line-height: vw(50);
                color: #333;
                position: relative;
                padding-left: vw(15);
                &:before {
                  content: "・";
                  font-size: vw(28);
                  line-height: vw(50);
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: vw(-7);
                }
              }
            }
          }
        }
      }
    }
  }
}

.btn_signup {
  a {
    position: relative;
    width: vw(545);
    height: vw(104);
    display: block;
    transform: translateZ(0);
    margin: vw(63) auto vw(103);
    span {
      font-size: vw(45);
      line-height: 1;
      color: #00428A;
      display: flex;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
      background: #fff;
      width: 100%;
      height: 100%;
      border: vw(3) solid #00428A;
      border-radius: vw(5);
      transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
      &:before {
        content: "";
        background: url(../images/icon_btn.png) no-repeat;
        background-size: contain;
        width: vw(52);
        height: vw(55);
        margin-right: vw(25);
      }
    }
    &:after {
      position: absolute;
      content: "";
      z-index: -1;
      width: 100%;
      height: 100%;
      left: 0;
      top: vw(13);
      border-radius: vw(5);
      background: #00428A;
    }
  }
}