@charset "utf-8";
// ===================================================================
//  use index page
// ===================================================================
main {
  margin-top: vw(50);
}

.ttl {
  &:before {
    background: url(../images/icon_ttl.png) no-repeat;
    background-size: contain;
    width: vw(39);
    height: vw(54);
  }
}

.top_about {
  margin: vw(84) 0 0 0;
  text-align: center;
  figure {
    position: relative;
    figcaption {
      position: absolute;
      width: 100%;
      top: vw(59);
      left: 50%;
      transform: translateX(-50%);
      h3 {
        margin-bottom: vw(56);
        img {
          width: vw(417);
          height: vw(65);
        }
      }
      p {
        font-size: vw(32);
        line-height: vw(50);
        text-align: center;
        font-weight: bold;
        color: #333;
        margin-bottom: vw(49);
      }
      em {
        font-size: vw(32);
        line-height: vw(50);
        color: #333;
        text-align: center;
        font-style: normal;
        display: block;
        font-weight: bold;
        span {
          color: #004592;
        }
      }
    }
  }
}

.seconds_about {
  padding: vw(133) 0 0 0;
  h3 {
    text-align: center;
    margin-bottom: vw(108);
    img {
      width: vw(670);
      height: vw(112);
    }
  }
  .art_nb {
    margin: 0 auto;
    padding: 0 vw(40);
    article {
      border: vw(3) solid #00428A;
      border-radius: vw(18);
      margin: 0 0 vw(105) 0;
      padding: vw(74) vw(60) vw(44);
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: vw(-42);
        left: vw(-32);
        margin: 0 vw(34) vw(56) 0;
      }
      &:nth-of-type(1) {
        &:before {
          background: #fff url(../images/nb_01.png) no-repeat;
          background-size: vw(120) vw(83);
          width: vw(153);
          height: vw(127);
        }
        figure {
          img {
            width: vw(442);
            height: vw(199);
          }
        }
      }
      &:nth-of-type(2) {
        &:before {
          background: #fff url(../images/nb_02.png) no-repeat;
          background-size: vw(132) vw(83);
          width: vw(150);
          height: vw(120);
        }
        h4 {
          margin-bottom: vw(30);
        }
        figure {
          img {
            width: vw(442);
            height: vw(257);
          }
        }
      }
      &:nth-of-type(3) {
        &:before {
          background: #fff url(../images/nb_03.png) no-repeat;
          background-size: vw(132) vw(83);
          width: vw(150);
          height: vw(120);
        }
        figure {
          img {
            width: vw(442);
            height: vw(206);
          }
        }
      }
      h4 {
        font-size: vw(36);
        line-height: vw(50);
        font-weight: bold;
        color: #333333;
        text-align: center;
        margin-bottom: vw(42);
      }
      figure {
        text-align: center;
        margin-bottom: vw(35);
      }
      p {
        font-size: vw(30);
        line-height: vw(63);
        padding: 0 vw(5);
      }
    }
  }
}

.bottom_about {
  padding: vw(27) 0 vw(180);
  h3 {
    text-align: center;
    margin-bottom: vw(50);
    img {
      width: vw(556);
      height: vw(153);
    }
  }
  &_s {
    background-color: #FAF8EA;
    padding: 0 vw(30);
    margin: 0 auto;
    border-radius: vw(10);
    &_l {
      padding: vw(58) 0 0 0;
      &_i {
        display: flex;
        align-items: center;
        margin-bottom: vw(25);
        .img_d {
          img {
            width: vw(257);
            height: vw(58);
          }
        }
        .plus {
          margin: 0 vw(15) 0 vw(15);
          img {
            width: vw(28);
            height: vw(28);
          }
        }
        .img_g {
          img {
            width: vw(257);
            height: vw(58);
          }
        }
        .wo {
          font-size: vw(29);
          line-height: 1;
          font-weight: bold;
          font-style: normal;
          margin-left: vw(15);
        }
      }
      p {
        font-size: vw(32);
        line-height: vw(70);
        font-weight: bold;
        color: #333;
        +p{
          margin-top: 2px;
        }
        img {
          vertical-align: top;
          width: vw(434);
          height: vw(49);
          margin: vw(5) 0 0 vw(5);
        }
      }
    }
    figure {
      padding: vw(34) 0 0 0;
      text-align: center;
      img {
        width: vw(351);
        height: vw(301);
      }
    }
  }
}