@charset "utf-8";
// ===================================================================
//  use index page
// ===================================================================
main {
  margin-top: 35px;
}

.ttl {
  &:before {
    background: url(../images/icon_ttl.png) no-repeat;
    background-size: contain;
    width: 24px;
    height: 33px;
  }
}

.top_about {
  margin: 66px 0 0 0;
  text-align: center;
  figure {
    position: relative;
    figcaption {
      position: absolute;
      width: 100%;
      top: 52px;
      left: 50%;
      transform: translateX(-50%);
      h3 {
        margin-bottom: 43px;
        img {
          width: 342px;
          height: 53px;
        }
      }
      p {
        font-size: rem(20);
        line-height: 40px;
        text-align: center;
        font-weight: bold;
      }
      em {
        font-size: rem(20);
        line-height: 40px;
        text-align: center;
        font-style: normal;
        display: block;
        font-weight: bold;
        span {
          color: #004592;
        }
      }
    }
  }
}

.seconds_about {
  padding: 77px 0 0 0;
  h3 {
    text-align: center;
    margin-bottom: 42px;
    img {
      width: 648px;
      height: 108px;
    }
  }
  .art_nb {
    max-width: 894px;
    margin: 0 auto;
    &_inner {
      margin: 0 0 0 -28px;
      display: flex;
    }
    article {
      border: 3px solid #00428A;
      border-radius: 18px;
      width: calc(33.33% - 28px);
      margin: 0 0 0 28px;
      padding: 42px 27px 30px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: -24px;
        left: -15px;
        margin: 0 15px 15px 0;
      }
      &:nth-of-type(1) {
        &:before {
          background: #fff url(../images/nb_01.png) no-repeat;
          background-size: 59px 41px;
          width: 74px;
          height: 60px;
        }
      }
      &:nth-of-type(2) {
        &:before {
          background: #fff url(../images/nb_02.png) no-repeat;
          background-size: 65px 41px;
          width: 74px;
          height: 60px;
        }
        h4 {
          margin-bottom: 40px;
        }
      }
      &:nth-of-type(3) {
        &:before {
          background: #fff url(../images/nb_03.png) no-repeat;
          background-size: 65px 41px;
          width: 74px;
          height: 60px;
        }
      }
      h4 {
        font-size: rem(26);
        line-height: 40px;
        font-weight: bold;
        color: #333333;
        text-align: center;
        margin-bottom: 30px;
      }
      figure {
        text-align: center;
        margin-bottom: 25px;
      }
      p {
        font-size: rem(18);
        line-height: 30px;
        padding: 0 8px;
      }
    }
  }
}

.bottom_about {
  padding: 126px 0 97px;
  h3 {
    text-align: center;
    margin-bottom: 37px;
  }
  &_s {
    background-color: #FAF8EA;
    padding: 0 30px;
    display: flex;
    max-width: 980px;
    margin: 0 auto;
    border-radius: 10px;
    &_l {
      padding: 48px 0 0 35px;
      width: calc(100% - 324px);
      &_i {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .img_d {
          img {
            width: 219px;
            height: 46px;
          }
        }
        .plus {
          margin: 0 10px 0 16px;
          img {
            width: 25px;
            height: 25px;
          }
        }
        .img_g {
          img {
            width: 219px;
            height: 46px;
          }
        }
        .wo {
          font-size: rem(25);
          line-height: 1;
          font-weight: bold;
          font-style: normal;
          margin-left: 14px;
        }
      }
      p {
        font-size: rem(25);
        line-height: 50px;
        font-weight: bold;
        color: #333;
        padding-left: 15px;
        img {
          vertical-align: top;
        }
      }
    }
    figure {
      width: 324px;
      padding: 31px 0 0 0;
      img {
        width: 250px;
        height: 220px;
      }
    }
  }
}