@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.show_sp {
  display: none !important;
}

.container {
  min-width: 1128px;
  overflow: hidden;
}

.row {
  max-width: 1042px;
  width: 100%;
  margin: 0 auto;
}
html[data-size="small"] {
  font-size: 9px;
}
html[data-size="medium"] {
  font-size: 10px;
}
html[data-size="large"] {
  font-size: 11px;
}
@import "./_header_pc.scss";
@import "./_footer_pc.scss";
@import "./_pagination_pc.scss";
@import "./_ttl_pc.scss";
@import "./_btn_pc.scss";