footer {
  .ft_top {
    border-top: 7px solid #D7D7D7;
    padding: 37px 0 40px;
    &_l {
      text-align: center;
      li {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 20px;
        }
        img {
          width: 230px;
          height: 140px;
        }
      }
    }
  }
  .ft_ct {
    background: linear-gradient(0deg, rgba(0, 69, 146, 1) 0%, rgba(0, 174, 235, 1) 100%);
    position: relative;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 130px;
    }
    figure {
      margin-left: -65px;
      width: 198px;
      position: absolute;
      top: -49px;
    }
    &_txt {
      font-size: rem(18);
      line-height: 27px;
      color: #fff;
      text-align: center;
      font-weight: bold;
      font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
      padding-left: 147px;
    }
    &_tel {
      text-align: center;
      a {
        pointer-events: none;
        font-size: rem(52);
        line-height: 1;
        color: #fff;
        font-weight: bold;
        font-family: $avenir;
        position: relative;
        display: block;
        letter-spacing: 2px;
        padding-left: 45px;
        &:before {
          content: "";
          background: url(../../common/images/icon_tel.png) no-repeat;
          background-size: contain;
          width: 36px;
          height: 48px;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
      em {
        font-size: rem(20);
        color: #fff;
        line-height: 1;
        font-style: normal;
        display: block;
        margin-top: 12px;
        font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
        span {
          +span {
            margin-left: 20px;
          }
        }
      }
    }
    &_contact {
      a {
        position: relative;
        width: 281px;
        height: 52px;
        display: block;
        transform: translateZ(0);
        margin-right: -20px;
        span {
          font-size: rem(18);
          line-height: 1;
          color: #fff;
          display: flex;
          font-weight: bold;
          align-items: center;
          justify-content: center;
          font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
          background: #FBB713;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
          &:before {
            content: "";
            background: url(../../common/images/icon_mail.png) no-repeat;
            background-size: contain;
            width: 30px;
            height: 21px;
            margin-right: 13px;
          }
        }
        &:after {
          position: absolute;
          content: "";
          z-index: -1;
          width: 100%;
          height: 100%;
          left: 0;
          top: 4px;
          border-radius: 5px;
          background: #AF7E0E;
        }
        &:hover {
          opacity: 1;
          span {
            transform: translateY(3px);
          }
        }
      }
    }
  }
  .ft_nav {
    padding: 30px 0;
    .row {
      display: flex;
      justify-content: space-between;
    }
    &_l {
      display: flex;
      justify-content: space-between;
      margin-left: -120px;
      dl {
        width: calc(33.33 - 100px);
        margin: 0 0 0 100px;
        &:nth-of-type(1) {
          dt {
            img {
              width: 163px;
              height: 24px;
            }
          }
        }
        &:nth-of-type(2) {
          dt {
            img {
              width: 149px;
              height: 23px;
            }
          }
        }
        dt {
          font-size: rem(20);
          line-height: 24px;
          font-weight: bold;
          margin-bottom: 20px;
        }
        dd {
          ul {
            li {
              margin-bottom: 10px;
              a {
                font-size: rem(14);
                line-height: 17px;
                color: #333;
                padding-left: 23px;
                position: relative;
                font-weight: bold;
                &:before {
                  content: "";
                  background: url(../../common/images/icon_nav.png) no-repeat;
                  background-size: contain;
                  width: 14px;
                  height: 14px;
                  position: absolute;
                  top: 50%;
                  left: 0;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }
      }
    }
    &_r {
      margin-right: -20px;
      ul {
        li {
          margin-bottom: 10px;
        }
      }
    }
  }

  .ft_bottom {
    background: linear-gradient(0deg, rgba(0, 69, 146, 1) 0%, rgba(0, 174, 235, 1) 100%);
    padding: 15px 0;
    .row {
      display: flex;
      justify-content: space-between;
    }
    &_copyright {
      font-size: rem(12);
      line-height: 21px;
      font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
      color: #fff;
      margin-left: -20px;
    }
    &_r {
      margin-right: -20px;
      &_l {
        li {
          display: inline-block;
          position: relative;
          &:after {
            content: "|";
            color: #fff;
            position: absolute;
            top: 50%;
            right: -10px;
            transform: translateY(-50%);
          }
          &:not(:last-child) {
            margin-right: 14px;
          }
          &:last-child {
            &:after {
              content: none;
            }
          }
          a {
            font-size: rem(12);
            line-height: 21px;
            font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
            color: #fff;
          }
        }
      }
      em {
        font-size: rem(12);
        line-height: 21px;
        color: #fff;
        font-weight: bold;
        font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
        font-style: normal;
        display: block;
        text-align: right;
      }
    }
  }
}