@charset "UTF-8";
@font-face {
  font-family: 'Avenir Black';
  font-style: normal;
  src: url("../fonts/Avenir-Black-webfont.eot");
  src: url("../fonts/Avenir-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Black-webfont.woff") format("woff"), url("../fonts/Avenir-Black-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'Avenir Heavy';
  font-style: normal;
  src: url("../fonts/Avenir-Heavy.eot");
  src: url("../fonts/Avenir-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Heavy.woff") format("woff"), url("../fonts/Avenir-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: 'Avenir Light';
  font-style: normal;
  src: url("../fonts/Avenir-Light.eot");
  src: url("../fonts/Avenir-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Light.woff") format("woff"), url("../fonts/Avenir-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?z8koxq");
  src: url("../fonts/icomoon.eot?z8koxq#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?z8koxq") format("truetype"), url("../fonts/icomoon.woff?z8koxq") format("woff"), url("../fonts/icomoon.svg?z8koxq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}

a:hover img {
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}

a:focus {
  outline: none;
}

img {
  vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  color: #333;
  font-family: '游ゴシック','Yu Gothic',YuGothic,'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3',  Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Tahoma, Verdana, Arial, Verdana, sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

a {
  color: #333;
}

body {
  overflow-wrap: break-word;
  word-break: break-word;
}

img {
  vertical-align: bottom;
}

/* clearfix (micro) */
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

/* For IE 6/7 only */
.clearfix {
  *zoom: 1;
}

ul,
ol,
li {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* .row {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
} */
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.show_pc {
  display: none !important;
}

.container {
  min-width: 320px;
  overflow: hidden;
}

.row {
  padding: 0 5.33333vw;
}

header .hd_top {
  background-color: #008FD0;
  padding: 2vw 0;
}

header .hd_top p {
  font-size: 3.73333vw;
  line-height: 6.4vw;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

header .hd_bottom {
  padding: 4.13333vw 0 2.93333vw;
  border-bottom: 1.86667vw solid #CCCCCC;
}

header .hd_bottom .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .hd_bottom .logo a {
  display: block;
}

header .hd_bottom .logo a img {
  width: 50vw;
  height: 7.73333vw;
}

header .hd_bottom_r_l {
  font-size: 0vw;
}

header .hd_bottom_r_l li {
  width: 14.93333vw;
  height: 14.93333vw;
  background-color: #008FD0;
  padding: 0.53333vw;
  -moz-border-radius: 0.4vw;
       border-radius: 0.4vw;
  display: inline-block;
}

header .hd_bottom_r_l li:not(:last-child) {
  margin-right: 2.93333vw;
}

header .hd_bottom_r_l li:nth-of-type(1) a:before {
  background: url(../../common/images/icon_person_sp.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 6.66667vw;
  height: 6.66667vw;
}

header .hd_bottom_r_l li:nth-of-type(2) a:before {
  background: url(../../common/images/icon_search_sp.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 6.8vw;
  height: 6.8vw;
}

header .hd_bottom_r_l a {
  font-size: 2.93333vw;
  background-color: #fff;
  width: 100%;
  height: 100%;
  font-weight: bold;
  display: block;
  line-height: 1;
  color: #008FD0;
  text-align: center;
  position: relative;
  letter-spacing: -0.26667vw;
  white-space: nowrap;
  padding-top: 10vw;
}

header .hd_bottom_r_l a:before {
  content: "";
  position: absolute;
  top: 1.33333vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu {
  position: fixed;
  width: 90vw;
  height: 100vh;
  overflow: scroll;
  right: -90vw;
  top: 0;
  background: #fff;
  z-index: 99;
  padding: 4vw 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu.open {
  right: 0;
}

.menu_close {
  font-size: 4.8vw;
  display: inline-block;
  color: #008FD0;
  padding: 0 7.33333vw 0 0;
  position: relative;
}

.menu_close::after {
  position: absolute;
  content: "";
  width: 5.2vw;
  height: 5.33333vw;
  background: url("../images/icon_close.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu_close_w {
  text-align: right;
  padding: 0 2.66667vw 0 0;
}

.menu_btn {
  background: #F2F2F2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.66667vw;
  margin-top: 4vw;
}

.menu_btn a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 41.06667vw;
  height: 13.33333vw;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.53333vw solid #00428A;
  -moz-border-radius: 0.8vw;
       border-radius: 0.8vw;
  font-size: 4vw;
  font-weight: bold;
}

.menu_btn a::before {
  position: relative;
  content: "";
  margin-right: 2.13333vw;
}

.menu_btn a:nth-of-type(1) {
  color: #00428A;
  background: #fff;
}

.menu_btn a:nth-of-type(1)::before {
  width: 9.46667vw;
  height: 6.66667vw;
  background: url("../images/icon_envelop_sp.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.menu_btn a:nth-of-type(2) {
  color: #fff;
  background: #00428A;
}

.menu_btn a:nth-of-type(2)::before {
  width: 6.13333vw;
  height: 6.4vw;
  background: url("../images/icon_check_sp.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.menu_main li {
  border-bottom: 1px solid #ccc;
}

.menu_main li a {
  display: block;
  width: 100%;
  font-size: 4.8vw;
  line-height: 1;
  color: #008FD0;
  padding: 6.4vw 0 5.33333vw 16.66667vw;
  position: relative;
}

.menu_main li a::before, .menu_main li a::after {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu_main li a::after {
  width: 2vw;
  height: 3.86667vw;
  background: url("../images/arrow_menu_main.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  right: 2.66667vw;
}

.menu_main li:nth-of-type(1) a::before {
  width: 4.93333vw;
  height: 6.8vw;
  background: url("../images/icon_fire_sp.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 5.33333vw;
}

.menu_main li:nth-of-type(2) a::before {
  width: 8.13333vw;
  height: 5.2vw;
  background: url("../images/icon_yen_sp.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 3.73333vw;
}

.menu_main li:nth-of-type(3) a::before {
  width: 6.26667vw;
  height: 6.26667vw;
  background: url("../images/icon_pencil_sp.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 4.66667vw;
}

.menu_main li:nth-of-type(4) a::before {
  width: 7.06667vw;
  height: 7.06667vw;
  background: url("../images/icon_plus_sp.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 4vw;
}

.menu_extra {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.menu_extra li {
  width: 50%;
  border-bottom: 1px solid #ccc;
}

.menu_extra li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.26667vw;
  line-height: 1.5;
  background: #F2F2F2;
  padding: 3.33333vw 0 2.66667vw 3.33333vw;
}

.menu_extra li:nth-child(even) {
  border-left: 1px solid #ccc;
}

.menu_pad {
  padding: 4.66667vw 2.66667vw 0;
}

.menu_phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.33333vw;
}

.menu_phone a {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 0 0 6.66667vw;
  font-size: 8.13333vw;
  font-family: "Avenir Black";
}

.menu_phone a::before {
  position: absolute;
  content: "";
  width: 5.86667vw;
  height: 7.73333vw;
  background: url("../images/icon_phone_sp.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu_phone span {
  font-size: 2.93333vw;
}

.menu_contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 13.33333vw;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.53333vw solid #00428A;
  -moz-border-radius: 0.8vw;
       border-radius: 0.8vw;
  font-size: 4vw;
  font-weight: bold;
  color: #00428A;
  background: #fff;
  margin-top: 4vw;
}

.menu_contact::before {
  position: relative;
  content: "";
  margin-right: 2.13333vw;
  width: 9.46667vw;
  height: 6.66667vw;
  background: url("../images/icon_envelop_sp.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  left: 0;
  top: 0;
}

.overlay.open {
  z-index: 99;
}

footer .ft_top {
  border-top: 2.13333vw solid #D7D7D7;
  padding: 5.33333vw 0 6.93333vw;
}

footer .ft_top_l {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -4vw;
}

footer .ft_top_l li {
  width: -webkit-calc(50% - 4vw);
  width: -moz-calc(50% - 4vw);
  width: calc(50% - 4vw);
  margin-left: 4vw;
}

footer .ft_top_l li img {
  width: 42.53333vw;
  height: 26vw;
}

footer .ft_easy .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .ft_easy figure {
  margin-left: -2.26667vw;
}

footer .ft_easy figure img {
  width: 31.73333vw;
  height: 28.8vw;
}

footer .ft_easy_btn {
  text-align: center;
  margin-top: 4vw;
}

footer .ft_easy_btn p {
  font-size: 3.6vw;
  line-height: 1;
  margin-bottom: 2.66667vw;
  font-weight: bold;
  color: #00428A;
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
}

footer .ft_easy_btn a {
  position: relative;
  width: 56vw;
  height: 13.33333vw;
  display: block;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
}

footer .ft_easy_btn a em {
  font-size: 4.26667vw;
  line-height: 1;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
  background: #00428A;
  width: 100%;
  height: 100%;
  -moz-border-radius: 0.66667vw;
       border-radius: 0.66667vw;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  font-style: normal;
  padding-left: 9.33333vw;
}

footer .ft_easy_btn a em small {
  display: block;
  font-size: 3.46667vw;
  width: 100%;
  margin-bottom: 0.66667vw;
}

footer .ft_easy_btn a em:before {
  content: "";
  background: url(../../common/images/icon_check_sp.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 6.66667vw;
  height: 6.93333vw;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 6vw;
}

footer .ft_easy_btn a:after {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 1.06667vw;
  -moz-border-radius: 0.66667vw;
       border-radius: 0.66667vw;
  background: #001B33;
}

footer .ft_ct {
  background: -webkit-linear-gradient(bottom, #004592 0%, #00aeeb 100%);
  background: -moz-linear-gradient(bottom, #004592 0%, #00aeeb 100%);
  background: linear-gradient(0deg, #004592 0%, #00aeeb 100%);
  position: relative;
  text-align: center;
  padding: 8vw 0 9.33333vw;
}

footer .ft_ct_txt {
  font-size: 4.8vw;
  line-height: 3.6vw;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
  margin-bottom: 4vw;
}

footer .ft_ct_tel {
  text-align: center;
}

footer .ft_ct_tel a {
  font-size: 11.6vw;
  line-height: 1;
  color: #fff;
  font-weight: bold;
  font-family: "Avenir Black";
  position: relative;
  display: block;
  letter-spacing: 0.26667vw;
  padding-left: 9.73333vw;
  white-space: nowrap;
}

footer .ft_ct_tel a:before {
  content: "";
  background: url(../../common/images/icon_tel.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 8.13333vw;
  height: 10.66667vw;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer .ft_ct_tel em {
  font-size: 3.73333vw;
  color: #fff;
  line-height: 1;
  font-style: normal;
  display: block;
  margin-top: 3.33333vw;
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
}

footer .ft_ct_tel em span + span {
  margin-left: 3.33333vw;
}

footer .ft_ct_contact a {
  position: relative;
  width: 75.73333vw;
  height: 15.06667vw;
  display: block;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  margin: 5.33333vw auto 0;
}

footer .ft_ct_contact a span {
  font-size: 4.8vw;
  line-height: 1;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
  background: #FBB713;
  width: 100%;
  height: 100%;
  -moz-border-radius: 0.66667vw;
       border-radius: 0.66667vw;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
}

footer .ft_ct_contact a span:before {
  content: "";
  background: url(../../common/images/icon_mail.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 8.13333vw;
  height: 5.6vw;
  margin-right: 3.46667vw;
}

footer .ft_ct_contact a:after {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 1.06667vw;
  -moz-border-radius: 0.66667vw;
       border-radius: 0.66667vw;
  background: #AF7E0E;
}

footer .ft_nav {
  background-color: #F0F0F0;
}

footer .ft_nav_l dl dd ul {
  margin: 0 -5.33333vw;
}

footer .ft_nav_l dl dd ul li {
  border-bottom: 1px solid #333;
  padding: 0 5.33333vw;
}

footer .ft_nav_l dl dd ul li a {
  font-size: 4vw;
  line-height: 4.8vw;
  color: #333;
  position: relative;
  font-weight: bold;
  display: block;
  padding: 4.66667vw 0 4.66667vw 9.33333vw;
}

footer .ft_nav_l dl dd ul li a:before {
  content: "";
  background: url(../../common/images/icon_nav.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 3.33333vw;
  height: 3.33333vw;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer .ft_nav_s ul {
  padding: 3.33333vw 0;
}

footer .ft_nav_s ul li {
  display: inline-block;
  padding: 0 0.66667vw;
}

footer .ft_nav_r ul li {
  margin-bottom: 10px;
}

footer .ft_bottom {
  background: -webkit-linear-gradient(bottom, #004592 0%, #00aeeb 100%);
  background: -moz-linear-gradient(bottom, #004592 0%, #00aeeb 100%);
  background: linear-gradient(0deg, #004592 0%, #00aeeb 100%);
  padding: 4.66667vw 0;
  text-align: center;
}

footer .ft_bottom_copyright {
  font-size: 3.33333vw;
  line-height: 5.86667vw;
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
  color: #fff;
  white-space: nowrap;
}

footer .ft_bottom_r em {
  font-size: 3.33333vw;
  line-height: 5.86667vw;
  color: #fff;
  font-weight: bold;
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
  font-style: normal;
  display: block;
}

.ttl {
  font-size: 5.6vw;
  line-height: 1;
  font-weight: bold;
  padding: 0 0 0 7.6vw;
  position: relative;
}

.ttl:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ttl:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -3.46667vw;
  left: 0;
}

.effect {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.delay_03 {
  -webkit-transition: all 1s ease 0.3s;
  -moz-transition: all 1s ease 0.3s;
  transition: all 1s ease 0.3s;
}

.delay_06 {
  -webkit-transition: all 1s ease 0.6s;
  -moz-transition: all 1s ease 0.6s;
  transition: all 1s ease 0.6s;
}

.delay_09 {
  -webkit-transition: all 1s ease 0.9s;
  -moz-transition: all 1s ease 0.9s;
  transition: all 1s ease 0.9s;
}

.delay_12 {
  -webkit-transition: all 1s ease 1.2s;
  -moz-transition: all 1s ease 1.2s;
  transition: all 1s ease 1.2s;
}

.delay_15 {
  -webkit-transition: all 1s ease 1.5s;
  -moz-transition: all 1s ease 1.5s;
  transition: all 1s ease 1.5s;
}

.fadeIn {
  opacity: 0;
}

.fadeIn.active {
  opacity: 1;
}

.slideUp {
  -webkit-transform: translate3d(0, 100px, 0);
     -moz-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
  opacity: 0;
}

.slideUp.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slideToRight {
  -webkit-transform: translate3d(-100px, 0, 0);
     -moz-transform: translate3d(-100px, 0, 0);
          transform: translate3d(-100px, 0, 0);
  opacity: 0;
}

.slideToRight.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slideToLeft {
  -webkit-transform: translate3d(100px, 0, 0);
     -moz-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
  opacity: 0;
}

.slideToLeft.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.maskToRight {
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  overflow: hidden;
}

.maskToRight::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background: #fff;
  -webkit-transition: all 0.8s linear;
  -moz-transition: all 0.8s linear;
  transition: all 0.8s linear;
  z-index: 2;
}

.maskToRight.active::before {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.waveText {
  display: inline-block;
  will-change: transform;
  -webkit-animation-name: waveText;
     -moz-animation-name: waveText;
          animation-name: waveText;
  -webkit-animation-duration: 4s;
     -moz-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
     -moz-animation-direction: alternate;
          animation-direction: alternate;
}
