.wrap_gas {
  padding-top: 125px;
}
.common_step {
  &:not(:last-child) {
    margin-bottom: 125px;
  }
  &_ttl {
    padding: 30px 0 24px 125px;
    position: relative;
    font-size: 3.5rem;
    line-height: 1;
    font-weight: bold;
    &::before {
      position: absolute;
      content: "";
      width: 106px;
      height: 98px;
      left: -1px;
      top: -14px;
    }
  }
  &_pad {
    padding: 0 60px;
  }
  &_sub_ttl {
    padding: 0 0 0 32px;
    position: relative;
    font-size: 2.5rem;
    line-height: 37px;
    font-weight: bold;
    color: #000;
    margin-top: 49px;
    &::before {
      position: absolute;
      content: "";
      width: 7px;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
  &_note {
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
    margin-top: 63px;
    h4 {
      padding: 19px 0 19px 125px;
      position: relative;
      font-size: 0;
      &::before {
        position: absolute;
        content: "";
        width: 122px;
        height: 96px;
        background: url('../images/lion_02.png') 0 0 no-repeat;
        background-size: contain;
        left: -6px;
        bottom: 0;
      }
    }
    &_c {
      background: #fff;
      padding: 23px 20px;
      font-size: 1.5rem;
      line-height: 30px;
      font-weight: 500;
      &._flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &_txt {
        width: calc(100% - 246px - 24px);
      }
      figure {
        width: 246px;
        text-align: right;
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
      ul {
        li {
          position: relative;
          padding: 0 0 0 20px;
          &::before {
            position: absolute;
            content: "";
            width: 14px;
            height: 14px;
            background: #3D3A39;
            border-radius: 50%;
            left: 0;
            top: 8px;
          }
        }
      }
    }
  }
  &.gas_manage {
    .common_step_ttl {
      border-top: 4px solid #00428A;
      color: #00428A;
      &::before {
        background: url('../images/icon_gas_manage.png') 0 0 no-repeat;
        background-size: contain;
      }
    }
    .common_step_sub_ttl {
      &::before {
        background: #00428A;
      }
    }
    .common_step_note {
      border-color: #00428A;
      h4 {
        background: #00428A;
      }
    }
  }
  &.gas_house {
    .common_step_ttl {
      border-top: 4px solid #006EB5;
      color: #006EB5;
      &::before {
        background: url('../images/icon_gas_house.png') 0 0 no-repeat;
        background-size: contain;
      }
    }
    .common_step_sub_ttl {
      &::before {
        background: #006EB5;
      }
    }
    .common_step_note {
      border-color: #006EB5;
      h4 {
        background: #006EB5;
      }
    }
  }
  &.gas_stove {
    .common_step_ttl {
      border-top: 4px solid #0093D4;
      color: #0093D4;
      &::before {
        background: url('../images/icon_gas_stove.png') 0 0 no-repeat;
        background-size: contain;
      }
    }
    .common_step_sub_ttl {
      &::before {
        background: #0093D4;
      }
    }
  }
  &.gas_caution {
    .common_step_ttl {
      border-top: 4px solid #00AEEB;
      color: #00AEEB;
      &::before {
        background: url('../images/icon_gas_caution.png') 0 0 no-repeat;
        background-size: contain;
      }
    }
    .common_step_sub_ttl {
      &::before {
        background: #00AEEB;
      }
    }
    .common_step_note {
      border-color: #00AEEB;
      h4 {
        background: #00AEEB;
      }
    }
  }
  span.red {
    color: #ff0000;
    font-weight: bold;
  }
}
.gas_manage {
  &_figure_i {
    margin-top: 30px;
    text-align: center;
    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }
  &_title {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    color: #00428A;
    margin-top: 27px;
  }
  &_list {
    margin-top: 16px;
    li {
      font-size: 1.5rem;
      line-height: 30px;
      font-weight: 500;
      padding: 0 0 0 20px;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 14px;
        height: 14px;
        background: #00428A;
        left: 0;
        top: 8px;
        border-radius: 50%;
      }
    }
  }
  &_detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 70px;
    figure {
      width: 556px;
      img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
    &_txt {
      color: #E84722;
      font-size: 1.5rem;
      line-height: 30px;
      font-weight: bold;
      width: 297px;
      padding: 34px 20px 90px;
      position: relative;
      transform: translateZ(0);
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url('../images/mess.png') 0 0 no-repeat;
        background-size: 100% 100%;
        z-index: -1;
      }
      &::after {
        position: absolute;
        content: "";
        width: 233px;
        height: 214px;
        background: url('../images/lion_03.png') 0 0 no-repeat;
        background-size: contain;
        left: 50%;
        transform: translateX(-50%);
        bottom: -160px;
        z-index: -2;
      }
    }
  }
}
.gas_house {
  &_wrap {
    display: flex;
    justify-content: space-between;
    article {
      width: 430px;
      background: #EEF7FF;
      border-radius: 8px;
      padding: 50px 42px 30px;
      margin-top: 38px;
      h4 {
        font-size: 2rem;
        line-height: 30px;
        color: #006EB5;
        padding: 0 0 0 25px;
        position: relative;
        font-weight: bold;
        &::before {
          position: absolute;
          content: "";
          width: 14px;
          height: 14px;
          background: #006EB5;
          border-radius: 50%;
          left: 0;
          top: 8px;
        }
      }
      p {
        font-size: 1.5rem;
        line-height: 3rem;
        font-weight: 500;
        margin-top: 22px;
      }
      figure {
        text-align: center;
        margin-top: 23px;
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
    }
  }
  &_sec {
    margin-top: 37px;
    h5 {
      text-align: center;
      transform: translateY(20px);
    }
    &_wrap {
      border: 4px solid #006EB5;
      border-radius: 8px;
      padding: 44px 33px 45px;
      display: flex;
      justify-content: space-between;
    }
    &_col {
      width: 410px;
      ul {
        li {
          position: relative;
          padding: 0 0 0 25px;
          font-size: 1.5rem;
          line-height: 30px;
          font-weight: bold;
          color: #3D3A39;
          &:not(:first-child) {
            border-top: 1px dashed #3D3A39;
          }
          &::before {
            position: absolute;
            content: "";
            width: 14px;
            height: 14px;
            background: #3D3A39;
            border-radius: 50%;
            left: 0;
            top: 8px;
          }
        }
      }
      p {
        font-size: 1.3rem;
        line-height: 1;
        padding: 0 0 0 25px;
        font-weight: 500;
      }
      figure {
        margin-top: 20px;
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
    }
  }
}
.gas_stove {
  &_intro {
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 500;
    margin-top: 22px;
  }
  &_sec {
    &_top {
      margin-top: 43px;
      display: flex;
      justify-content: space-between;
      figure {
        width: 399px;
        margin-right: 61px;
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
      &_r {
        width: calc(100% - 399px - 61px);
        font-size: 1.5rem;
        line-height: 3rem;
        font-weight: 500;
        ul {
          margin-top: 24px;
          li {
            padding: 0 0 0 25px;
            position: relative;
            &::before {
              position: absolute;
              content: "";
              width: 14px;
              height: 14px;
              background: #3D3A39;
              border-radius: 50%;
              left: 0;
              top: 8px;
            }
          }
        }
      }
    }
    &_mid {
      margin-top: 47px;
      h4 {
        text-align: center;
        transform: translateY(20px);
      }
      &_w {
        background: #EEF7FF;
        border-radius: 8px;
        padding: 57px 25px 40px;
        section {
          display: flex;
          justify-content: space-between;
          padding: 20px 55px 20px 0;
          background: #fff;
          border-radius: 8px;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            width: 53px;
            height: 52px;
            left: 0;
            top: 0;
          }
          &:nth-of-type(1) {
            &::before {
              background: url('../images/num_01.png') 0 0 no-repeat;
              background-size: contain;
            }
            figure {
              img {
                width: 142px;
              }
            }
          }
          &:nth-of-type(2) {
            &::before {
              background: url('../images/num_02.png') 0 0 no-repeat;
              background-size: contain;
            }
            figure {
              img {
                width: #{323px/2};
              }
            }
          }
          &:nth-of-type(3) {
            &::before {
              background: url('../images/num_03.png') 0 0 no-repeat;
              background-size: contain;
            }
            figure {
              img {
                width: #{256px/2};
              }
            }
          }
          &:nth-of-type(4) {
            &::before {
              background: url('../images/num_04.png') 0 0 no-repeat;
              background-size: contain;
            }
            figure {
              img {
                width: #{232px/2};
              }
            }
          }
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          figure {
            width: calc(100% - 500px);
            text-align: center;
          }
          ._right {
            width: 500px;
            h5 {
              font-size: 2rem;
              line-height: 3rem;
              font-weight: bold;
              color: #0093D4;
            }
            p {
              font-size: 1.5rem;
              line-height: 3rem;
              font-weight: 500;
              margin-top: 12px;
            }
          }
        }
      }
    }
    &_bot {
      margin-top: 54px;;
      h4 {
        font-size: 2rem;
        line-height: 3.1rem;
        font-weight: bold;
        color: #333;
        position: relative;
        padding: 0 0 0 45px;
        &::before {
          position: absolute;
          content: "";
          width: 32px;
          height: 31px;
          background: url('../images/exclamation.png') 0 0 no-repeat;
          background-size: contain;
          left: 0;
          top: 0;
        }
      }
      &_w {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        figure {
          width: 440px;
          border-radius: 8px;
          border: 2px solid #F2F2F2;
          text-align: center;
          padding: 30px 0 27px;
          &:nth-of-type(1) {
            img {
              width: #{628px/2};
            }
          }
          &:nth-of-type(2) {
            img {
              width: #{476px/2};
            }
          }
          figcaption {
            font-size: 1.6rem;
            line-height: 1;
            font-weight: bold;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
.gas_caution {
  margin-bottom: 109px;
  &_smell {
    border-radius: 8px;
    background: #F7F7F7;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 30px;
    position: relative;
    background: url(../images/bkg_dd.png) 0% 0% / cover no-repeat rgb(244, 244, 244);
    &::after {
      position: absolute;
      content: "";
      width: 104px;
      height: 55px;
      background: url('../images/rectangle.png') 0 0 no-repeat;
      background-size: contain;
      left: 50%;
      transform: translateX(-50%);
      bottom: -75px;
    }
    figure {
      background: #fff;
      padding: 40px 30px 20px;
      text-align: center;
      width: 410px;
      border-radius: 8px;
      &:not(:nth-child(-n+2)) {
        margin-top: 25px;
      }
      &:nth-of-type(3) {
        img {
          width: #{323px/2};
        }
      }
      &:nth-of-type(4) {
        img {
          width: #{243px/2};
        }
      }
      img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
      figcaption {
        position: relative;
        padding: 0 0 0 40px;
        font-size: 1.6rem;
        line-height: 22px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 20px;
        &::before {
          position: absolute;
          content: "";
          width: 23px;
          height: 22px;
          background: url('../images/icon_check.png') 0 0 no-repeat;
          background-size: contain;
          left: 0;
          top: 0;
        }
      }
    }
    &_n {
      margin-top: 94px;
      display: flex;
      padding: 21px 65px 0 43px;
      justify-content: space-between;
      background: #FAF8EA;
      border-radius: 8px;
      &_t {
        padding: 30px 0 0;
        p {
          font-size: 2rem;
          line-height: 3rem;
          font-weight: bold;
          margin-top: 25px;
        }
      }
      figure {
        img {
          width: #{376px/2};
        }
      }
    }
  }
  &_disater_w {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    article {
      width: 440px;
      padding: 33px;
      border-radius: 8px;
      border: 2px solid #ccc;
      h5 {
        font-size: 2rem;
        line-height: 3rem;
        font-weight: bold;
        padding: 0 0 0 25px;
        position: relative;
        color: #00AEEB;
        &::before {
          position: absolute;
          content: "";
          width: 14px;
          height: 14px;
          background: #00AEEB;
          border-radius: 50%;
          left: 0;
          top: 8px;
        }
      }
      p {
        font-size: 1.5rem;
        line-height: 3rem;
        margin-top: 10px;
        font-weight: 500;
      }
      figure {
        text-align: center;
        &._mar {
          margin-top: 24px;
        }
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
      &:nth-of-type(1) {
        figure {
          img {
            width: #{485px/2};
          }
        }
      }
      &:nth-of-type(2) {
        figure {
          img {
            width: #{215px/2};
          }
        }
      }
    }
  }
}