@charset "utf-8";

// ===================================================================
//  use index page
// ===================================================================

/* home
------------------------------------------------- */

/* slider */

.slick-dotted.slick-slider {
  margin-bottom: 25px;
}

.slider.center-item img {
  width: 100%;
  height: auto;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.slick-prev::before, 
.slick-next::before {
  font-size: 40px;
}

.slick-dots {
  background: #008FD1;
  height: 28px;
  font-size: 14px;
}

.home_slider_loading {
  width: 100%;
  height: 300px;
  display: table;
  span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.home_slider {
  position: relative;
  display: none;
}

.center-item {
  .slick-next {
    right: 50px;
    z-index: 99;
  }
  .slick-prev {
    left: 50px;
    z-index: 100;
  }
}

.home_slider {
  .slick-prev, .slick-next {
    width: 36px;
    height: 51px;
  }
  .slick-prev:before, .slick-next:before {
    content: "";
    display: block;
    background-size: 36px 51px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 36px;
    height: 51px;
    opacity: 1;
  }
  .slick-prev:before {
    background-image: url(../images/home_slider_previous.png);
  }
  .slick-next:before {
    background-image: url(../images/home_slider_next.png);
  }
  .slick-dots li {
    margin: 0 15px;
    width: 35px;
    height: 7px;
    padding: 0;
    box-sizing: border-box;
    button {
      width: 35px;
      height: 7px;
      padding: 0;
      box-sizing: border-box;
      background: #fff;
      &:hover {
        background: #414042;
      }
    }
    &.slick-active button {
      background: #414042;
    }
    button:before {
      display: none;
    }
  }
}

#bnr_simulation_home {
  position: absolute;
  top: 50%;
  margin-top: -127px;
  right: 120px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border: 3px solid #f59233;
  padding: 10px;
  background: #fff;
  a {
    display: block;
  }
}

a {
  &#bnr_simulation_home_link {
    background: url(../images/bnr_simulation_home_hover.png) no-repeat center center;
    background-size: cover;
  }
  &#bnr_mypage_home_link {
    background: url(../images/btn_mypage_on.png) no-repeat center center;
    background-size: cover;
  }
}

#bnr_simulation_home {
  a:hover {
    filter: alpha(opacity = 100);
    opacity: 1;
  }
  img {
    display: block;
    transition: all 0.6s ease;
    &:hover {
      filter: alpha(opacity = 0);
      opacity: 0;
    }
  }
}