.ttl {
  margin: 82px 0 55px;
  &:before {
    background: url(../../gas/images/icon_ttl.png) no-repeat;
    background-size: contain;
    width: 24px;
    height: 33px;
  }
}

.list_anc {
  display: flex;
  margin-left: -22px;
  li {
    position: relative;
    transform: translateZ(0);
    width: calc(20% - 22px);
    margin: 0 0 0 22px;
    &:nth-of-type(1) {
      a {
        background-color: #00428A;
        position: relative;
        &:before {
          background: url(../../gas/images/icon_book.png) no-repeat;
          background-size: contain;
          width: 64px;
          height: 59px;
        }
        &:after {
          content: "";
          background: url(../../gas/images/af_li_01.png) no-repeat;
          width: 20px;
          height: 14px;
          position: absolute;
          bottom: 6px;
          right: 10px;
        }
        strong {
          color: #fff;
        }
        em {
          color: #fff;
        }
      }
    }
    &:nth-of-type(2) {
      a {
        &:before {
          background: url(../../gas/images/icon_pipe.png) no-repeat;
          background-size: contain;
          width: 46px;
          height: 63px;
        }
        &:after {
          content: "";
          background: #00428A url(../../gas/images/icon_arrow_down_sp.png) no-repeat;
          background-size: 23px 13px;
          background-position: center center;
          width: 190px;
          height: 26px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &:nth-of-type(3) {
      a {
        border-color: #006EB5;
        &:before {
          background: url(../../gas/images/icon_house.png) no-repeat;
          background-size: contain;
          width: 63px;
          height: 56px;
        }
        &:after {
          content: "";
          background: #006EB5 url(../../gas/images/icon_arrow_down_sp.png) no-repeat;
          background-size: 23px 13px;
          background-position: center center;
          width: 190px;
          height: 26px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        strong {
          letter-spacing: -3px;
          color: #006EB5;
        }
      }
      &:after {
        background-color: #003756;
      }
    }
    &:nth-of-type(4) {
      a {
        border-color: #0093D4;
        &:before {
          background: url(../../gas/images/icon_stove.png) no-repeat;
          background-size: contain;
          width: 54px;
          height: 57px;
        }
        &:after {
          content: "";
          background: #0093D4 url(../../gas/images/icon_arrow_down_sp.png) no-repeat;
          background-size: 23px 13px;
          background-position: center center;
          width: 190px;
          height: 26px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        strong{
          color: #0093D4;
        }
      }
      &:after {
        background-color: #005C7C;
      }
    }
    &:nth-of-type(5) {
      a {
        border-color: #00AEEB;
        &:before {
          background: url(../../gas/images/icon_caution.png) no-repeat;
          background-size: contain;
          width: 61px;
          height: 54px;
        }
        &:after {
          content: "";
          background: #00AEEB url(../../gas/images/icon_arrow_down_sp.png) no-repeat;
          background-size: 23px 13px;
          background-position: center center;
          width: 190px;
          height: 26px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        strong{
          color: #00AEEB;
        }
      }
      &:after {
        background-color: #006E8C;
      }
    }
    a {
      background-color: #fff;
      display: block;
      border: 3px solid #00428A;
      border-radius: 5px;
      height: 100%;
      padding: 97px 15px 44px;
      position: relative;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
      &:before {
        content: "";
        position: absolute;
        top: 23px;
        left: 50%;
        transform: translateX(-50%);
      }
      strong {
        font-size: rem(20);
        line-height: 30px;
        color: #00428A;
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }
      em {
        font-size: rem(15);
        line-height: 26px;
        color: #000;
        font-style: normal;
        display: block;
      }
    }
    &:after {
      position: absolute;
      content: "";
      z-index: -1;
      width: 100%;
      height: 100%;
      left: 0;
      top: 5px;
      border-radius: 5px;
      background: #002547;
    }
    &:hover {
      a {
        opacity: 1;
        transform: translateY(5px);
      }
    }
  }
}

.des_tel {
  margin-top: 125px;
  dt {
    font-size: rem(35);
    line-height: 1;
    color: #fff;
    font-weight: bold;
    padding: 34px 0 30px;
    text-align: center;
    background: linear-gradient(90deg, rgba(0, 69, 146, 1) 0%, rgba(0, 174, 235, 1) 80%);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    position: relative;
    &:after {
      content: "";
      background: url(../../gas/images/lion_01.png) no-repeat;
      background-size: contain;
      width: 182px;
      height: 157px;
      position: absolute;
      right: 35px;
      top: -57px;
    }
  }
  dd {
    padding: 20px 30px 32px;
    background: url(../images/bkg_dd.png) no-repeat #F4F4F4;
    background-size: cover;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    h3 {
      font-size: rem(25);
      line-height: 30px;
      position: relative;
      text-align: center;
      color: #000;
      font-weight: bold;
      margin-bottom: 25px;
      &:before {
        content: "";
        width: 243px;
        height: 2px;
        background: #000;
        position: absolute;
        top: 50%;
        left: 39px;
        transform: translateY(-50%);
      }
      &:after {
        content: "";
        width: 243px;
        height: 2px;
        background: #000;
        position: absolute;
        top: 50%;
        right: 39px;
        transform: translateY(-50%);
      }
    }
    article {
      background-color: #fff;
      border-radius: 12px;
      padding: 26px 40px 35px;
      /* &:nth-of-type(1) {
        h4{
          img{
            width: 379px;
            height: 23px;
          }
        }
      } */
      &:nth-of-type(2) {
        margin-top: 32px;
        padding: 19px 40px 35px;
        .ttl_tbl {
          margin-bottom: 12px;
        }
        /* h4{
          img{
            width: 296px;
            height: 23px;
          }
        } */
      }
      table {
        border-collapse: collapse;
        width: 100%;
        /* .tel {
          &.tel_01 {
            img {
              width: 260px;
              height: 34px;
            }
          }
          &.tel_02 {
            img {
              width: 277px;
              height: 34px;
            }
          }
          &.tel_03 {
            img {
              width: 210px;
              height: 26px;
            }
          }
          &.tel_04 {
            img {
              width: 202px;
              height: 23px;
            }
          }
          &.tel_05 {
            img {
              width: 186px;
              height: 26px;
            }
          }
          &.tel_06 {
            img {
              width: 207px;
              height: 26px;
            }
          }
          &.tel_07 {
            img {
              width: 197px;
              height: 24px;
            }
          }
          &.tel_08 {
            img {
              width: 189px;
              height: 24px;
            }
          }
        } */
      }
      table,
      td {
        border: 1px solid #ccc;
        .tel {
          pointer-events: none;
        }
      }
      h4 {
        text-align: center;
        border-bottom: 4px solid #006EB5;
        padding-bottom: 20px;
        margin-bottom: 14px;
      }
      .ttl_tbl {
        font-size: rem(20);
        line-height: 30px;
        font-weight: bold;
        margin-bottom: 18px;
      }
      .txt_org {
        margin-bottom: 18px;
        &_f {
          background-color: #E84722;
          color: #fff !important;
          padding: 5px 24px;
          margin-right: 21px;
        }
        span {
          color: #E84722;
          font-size: rem(26);
          line-height: 31px;
          font-weight: bold;
          small {
            font-size: rem(20);
            margin-left: 20px;
          }
        }
      }
      .tbl_tel_01 {
        border: 2px solid #ccc;
        tr {
          &:first-of-type {
            td {
              text-align: center;
              padding: 19px 0 15px;
              p {
                font-size: rem(14);
                line-height: 17px;
                color: #333;
                margin-bottom: 11px;
                span {
                  font-size: rem(24);
                  line-height: 24px;
                  font-weight: bold;
                  display: block;
                  margin-bottom: 4px;
                }
              }
            }
          }
          &:last-of-type {
            .dt_flex {
              ;
              padding: 11px 0 9px 92px;
              strong {
                margin: 0 33px 0 70px;
              }
            }
          }
          .dt_flex {
            display: flex;
            align-items: center;
            padding: 6px 0 5px 92px;
            p {
              font-size: rem(13);
              line-height: 1.5;
              font-weight: bold;
            }
            strong {
              font-size: rem(20);
              line-height: 24px;
              margin: 0 32px 0 91px;
            }
          }
        }
      }
      .tbl_tel_02 {
        border: 2px solid #ccc;
        tr {
          .bx_center {
            text-align: center;
            padding: 18px 0 15px;
            &:last-of-type {
              padding: 18px 0 15px;
            }
            p {
              font-size: rem(14);
              line-height: 17px;
              color: #333;
              margin-bottom: 11px;
              span {
                font-size: rem(15);
                line-height: 18px;
                font-weight: bold;
                display: block;
                margin-bottom: 4px;
              }
            }
          }
          &:nth-of-type(2) {
            td {
              padding: 10px 0 4px 27px;
              p {
                font-size: rem(13);
                line-height: 16px;
                +p {
                  margin-top: 5px;
                }
              }
            }
          }
          .bx_t {
            width: 160px;
            vertical-align: middle;
            padding: 30px 0 0 0;
            position: relative;
            .bkg_grey {
              background-color: #ccc;
              color: #fff;
              font-size: rem(14);
              line-height: 17px;
              font-weight: bold;
              height: 30px;
              text-align: center;
              vertical-align: middle;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .time {
              display: block;
              font-style: normal;
              font-size: rem(14);
              line-height: 17px;
              font-weight: bold;
              margin-bottom: 10px;
              span {
                &:first-of-type {
                  margin-right: 10px;
                }
              }
            }
            .txt_center {
              text-align: center;
              display: block;
            }
            em {
              font-style: normal;
              font-size: rem(14);
              line-height: 17px;
              font-weight: bold;
              padding-left: 14px;
            }
          }
          .dt_flex {
            display: flex;
            align-items: center;
            padding: 11px 40px 6px 29px;
            p {
              font-size: rem(13);
              line-height: 1.5;
              font-weight: bold;
              width: calc(100% - 320px);
            }
            strong {
              font-size: rem(20);
              line-height: 24px;
              width: 100px;
              text-align: right;
            }
            .tel {
              width: 220px;
              text-align: right;
            }
          }
        }
      }
    }
  }
}