@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

@import "../common/css/_mixin/mixin";
//---------------------------------------------------------------------------
@import "./_style_pc.scss";
@import "./_thong.scss";
@import "./_dac.scss";
// @include max-screen() {
//   @import "./_style_sp.scss";
// }
@keyframes scrollDown {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    top: 100%;
  }
  50% {
    left: 1px;
    top: -100%;
  }
  75% {
    top: 0%;
  }
  85% {
    left: 1px;
    top: -100%;
  }
  100% {
    left: 0;
    top: 0;
  }
}