/* home
------------------------------------------------- */
/* slider */
.home_slider_loading {
  width: 100%;
  height: 47.33333vw;
  display: table;
}

.home_slider_loading span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.home_slider_loading span img {
  width: auto;
  max-width: 100%;
}

.home_slider {
  position: relative;
  display: none;
}

.ttl {
  margin: 7.06667vw 0 9.33333vw;
}

.ttl:before {
  background: url(../images/icon_ttl.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 5.2vw;
  height: 7.2vw;
}

.list_anc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-left: -5.06667vw;
}

.list_anc li {
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  width: -webkit-calc(50% - 5.06667vw);
  width: -moz-calc(50% - 5.06667vw);
  width: calc(50% - 5.06667vw);
  margin: 0 0 6.13333vw 5.06667vw;
}

.list_anc li:nth-of-type(1) {
  width: 100%;
}

.list_anc li:nth-of-type(1) a {
  background-color: #00428A;
  position: relative;
  padding: 16.53333vw 2.66667vw 3.33333vw;
}

.list_anc li:nth-of-type(1) a:before {
  background: url(../images/icon_book.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 10.8vw;
  height: 9.86667vw;
}

.list_anc li:nth-of-type(1) a:after {
  content: "";
  background: url(../images/af_li_01.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 2.93333vw;
  height: 2.93333vw;
  position: absolute;
  bottom: 2.4vw;
  right: 2.66667vw;
}

.list_anc li:nth-of-type(1) a strong {
  color: #fff;
  margin-bottom: 0;
}

.list_anc li:nth-of-type(1) a em {
  color: #fff;
  text-align: center;
}

.list_anc li:nth-of-type(2) a:before {
  background: url(../images/icon_pipe.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 8vw;
  height: 11.06667vw;
}

.list_anc li:nth-of-type(2) a:after {
  content: "";
  background: #00428A url(../images/icon_arrow_down_sp.png) no-repeat;
  -moz-background-size: 3.86667vw 2.13333vw;
       background-size: 3.86667vw 2.13333vw;
  background-position: center center;
  width: 42vw;
  height: 4.53333vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.list_anc li:nth-of-type(3) a {
  border-color: #006EB5;
}

.list_anc li:nth-of-type(3) a:before {
  background: url(../images/icon_house.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 11.33333vw;
  height: 10vw;
}

.list_anc li:nth-of-type(3) a:after {
  content: "";
  background: #006EB5 url(../images/icon_arrow_down_sp.png) no-repeat;
  -moz-background-size: 3.86667vw 2.13333vw;
       background-size: 3.86667vw 2.13333vw;
  background-position: center center;
  width: 42vw;
  height: 4.53333vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.list_anc li:nth-of-type(3) a strong {
  letter-spacing: -0.4vw;
  color: #006EB5;
}

.list_anc li:nth-of-type(3):after {
  background-color: #003756;
}

.list_anc li:nth-of-type(4) a {
  border-color: #0093D4;
}

.list_anc li:nth-of-type(4) a:before {
  background: url(../images/icon_stove.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 10.93333vw;
  height: 11.06667vw;
}

.list_anc li:nth-of-type(4) a:after {
  content: "";
  background: #0093D4 url(../images/icon_arrow_down_sp.png) no-repeat;
  -moz-background-size: 3.86667vw 2.13333vw;
       background-size: 3.86667vw 2.13333vw;
  background-position: center center;
  width: 42vw;
  height: 4.53333vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.list_anc li:nth-of-type(4) a strong {
  color: #0093D4;
}

.list_anc li:nth-of-type(4):after {
  background-color: #005C7C;
}

.list_anc li:nth-of-type(5) a {
  border-color: #00AEEB;
}

.list_anc li:nth-of-type(5) a:before {
  background: url(../images/icon_caution.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 10.8vw;
  height: 9.73333vw;
}

.list_anc li:nth-of-type(5) a:after {
  content: "";
  background: #00AEEB url(../images/icon_arrow_down_sp.png) no-repeat;
  -moz-background-size: 3.86667vw 2.13333vw;
       background-size: 3.86667vw 2.13333vw;
  background-position: center center;
  width: 42vw;
  height: 4.53333vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.list_anc li:nth-of-type(5) a strong {
  color: #00AEEB;
}

.list_anc li:nth-of-type(5):after {
  background-color: #006E8C;
}

.list_anc li a {
  background-color: #fff;
  display: block;
  border: 0.4vw solid #00428A;
  -moz-border-radius: 0.66667vw;
       border-radius: 0.66667vw;
  height: 100%;
  padding: 16.93333vw 2.66667vw 7.6vw;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
}

.list_anc li a:before {
  content: "";
  position: absolute;
  top: 4vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.list_anc li a strong {
  font-size: 4.26667vw;
  line-height: 6.13333vw;
  color: #00428A;
  display: block;
  text-align: center;
  margin-bottom: 3.46667vw;
}

.list_anc li a em {
  font-size: 3.73333vw;
  line-height: 5.86667vw;
  color: #000;
  font-style: normal;
  display: block;
  letter-spacing: -1px;
}

.list_anc li:after {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0.93333vw;
  -moz-border-radius: 0.66667vw;
       border-radius: 0.66667vw;
  background: #002547;
}

.des_tel {
  margin-top: 10.26667vw;
}

.des_tel dt {
  font-size: 4.8vw;
  line-height: 1;
  color: #fff;
  font-weight: bold;
  padding: 4.53333vw 21.73333vw 4vw 0;
  text-align: center;
  background: -webkit-linear-gradient(left, #004592 0%, #00aeeb 80%);
  background: -moz-linear-gradient(left, #004592 0%, #00aeeb 80%);
  background: linear-gradient(90deg, #004592 0%, #00aeeb 80%);
  -moz-border-radius-topright: 1.6vw;
       border-top-right-radius: 1.6vw;
  -moz-border-radius-topleft: 1.6vw;
       border-top-left-radius: 1.6vw;
  position: relative;
}

.des_tel dt:after {
  content: "";
  background: url(../images/lion_01.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 24.26667vw;
  height: 20.93333vw;
  position: absolute;
  right: 2.93333vw;
  top: -7.6vw;
}

.des_tel dd {
  padding: 4.26667vw 4vw;
  background: url(../images/bkg_dd.png) no-repeat #F4F4F4;
  -moz-background-size: cover;
       background-size: cover;
  -moz-border-radius-bottomright: 12px;
       border-bottom-right-radius: 12px;
  -moz-border-radius-bottomleft: 12px;
       border-bottom-left-radius: 12px;
}

.des_tel dd h3 {
  font-size: 4vw;
  line-height: 4.8vw;
  position: relative;
  text-align: center;
  color: #000;
  font-weight: bold;
  margin-bottom: 2.66667vw;
}

.des_tel dd h3:before {
  content: "";
  width: 13.33333vw;
  height: 0.26667vw;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.des_tel dd h3:after {
  content: "";
  width: 13.33333vw;
  height: 0.26667vw;
  background: #000;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.des_tel dd article {
  background-color: #fff;
  -moz-border-radius: 1.6vw;
       border-radius: 1.6vw;
  padding: 5.06667vw 4.26667vw 4vw;
}

.des_tel dd article:nth-of-type(1) h4 img {
  width: 64.66667vw;
  height: 4.13333vw;
}

.des_tel dd article:nth-of-type(2) {
  margin-top: 4.26667vw;
}

.des_tel dd article:nth-of-type(2) h4 {
  margin-bottom: 4.4vw;
}

.des_tel dd article:nth-of-type(2) h4 img {
  width: 46.13333vw;
  height: 4vw;
}

.des_tel dd article:nth-of-type(2) .ttl_tbl {
  margin-bottom: 4.53333vw;
}

.des_tel dd article table {
  width: 100%;
  border-spacing: inherit;
}

.des_tel dd article table .tel.tel_01 img {
  width: 49.73333vw;
  height: 6.53333vw;
}

.des_tel dd article table .tel.tel_02 img {
  width: 52.93333vw;
  height: 6.8vw;
}

.des_tel dd article table .tel.tel_03 img {
  width: 44vw;
  height: 5.73333vw;
}

.des_tel dd article table .tel.tel_04 img {
  width: 42.26667vw;
  height: 5.6vw;
}

.des_tel dd article table .tel.tel_05 img {
  width: 46.66667vw;
  height: 6.8vw;
}

.des_tel dd article table .tel.tel_06 img {
  width: 52vw;
  height: 6.8vw;
}

.des_tel dd article table .tel.tel_07 img {
  width: 44vw;
  height: 5.6vw;
}

.des_tel dd article table .tel.tel_08 img {
  width: 42.26667vw;
  height: 5.73333vw;
}

.des_tel dd article h4 {
  text-align: center;
  border-bottom: 0.53333vw solid #006EB5;
  padding-bottom: 2.66667vw;
  margin-bottom: 2.26667vw;
}

.des_tel dd article .ttl_tbl {
  font-size: 4vw;
  line-height: 6.66667vw;
  font-weight: bold;
  margin-bottom: 2.4vw;
}

.des_tel dd article .txt_org {
  border-top: 0.26667vw solid #ccc;
  border-left: 0.26667vw solid #ccc;
  border-right: 0.26667vw solid #ccc;
}

.des_tel dd article .txt_org_f {
  background-color: #E84722;
  color: #fff !important;
  padding: 1.46667vw 0 !important;
  text-align: center;
}

.des_tel dd article .txt_org span {
  color: #E84722;
  font-size: 3.73333vw;
  line-height: 4.4vw;
  font-weight: bold;
  display: block;
  padding: 2.93333vw 0 2.53333vw 2vw;
}

.des_tel dd article .txt_org span small {
  font-size: 2.66667vw;
  margin-left: 3.2vw;
}

.des_tel dd article .tbl_tel_01 {
  border: 0.26667vw solid #ccc;
}

.des_tel dd article .tbl_tel_01 tr td {
  border-bottom: 1px solid #ccc;
}

.des_tel dd article .tbl_tel_01 tr:first-of-type td, .des_tel dd article .tbl_tel_01 tr:nth-of-type(2) td {
  text-align: center;
  padding: 2.53333vw 0 4.4vw;
}

.des_tel dd article .tbl_tel_01 tr:first-of-type td p, .des_tel dd article .tbl_tel_01 tr:nth-of-type(2) td p {
  font-size: 2.93333vw;
  line-height: 3.46667vw;
  color: #333;
  margin-bottom: 2.66667vw;
  letter-spacing: -1px;
  text-align: center;
}

.des_tel dd article .tbl_tel_01 tr:first-of-type td p span, .des_tel dd article .tbl_tel_01 tr:nth-of-type(2) td p span {
  font-size: 3.73333vw;
  line-height: 4.4vw;
  font-weight: bold;
  display: block;
  margin-bottom: 2vw;
}

.des_tel dd article .tbl_tel_01 tr:last-of-type td {
  border-bottom: none;
}

.des_tel dd article .tbl_tel_01 tr .dt_flex {
  padding: 2.66667vw 0 3.86667vw 3.46667vw;
}

.des_tel dd article .tbl_tel_01 tr .dt_flex p {
  font-size: 2.93333vw;
  line-height: 5.33333vw;
  font-weight: bold;
  margin-bottom: 2.4vw;
}

.des_tel dd article .tbl_tel_01 tr .dt_flex strong {
  font-size: 3.73333vw;
  line-height: 4.4vw;
  margin: 0 4vw 0 0;
}

.des_tel dd article .tbl_tel_02 {
  border: 0.26667vw solid #ccc;
}

.des_tel dd article .tbl_tel_02 tr td {
  border-bottom: 1px solid #ccc;
}

.des_tel dd article .tbl_tel_02 tr:last-of-type td {
  border-bottom: none;
}

.des_tel dd article .tbl_tel_02 tr .bx_center {
  text-align: center;
  padding: 4.26667vw 0 3.46667vw;
}

.des_tel dd article .tbl_tel_02 tr .bx_center p {
  font-size: 2.93333vw;
  line-height: 3.46667vw;
  color: #333;
  margin-bottom: 2.66667vw;
  letter-spacing: -1px;
  text-align: center;
}

.des_tel dd article .tbl_tel_02 tr .bx_center p span {
  font-size: 3.73333vw;
  line-height: 4.4vw;
  font-weight: bold;
  display: block;
  margin-bottom: 2vw;
}

.des_tel dd article .tbl_tel_02 tr:nth-of-type(4) td {
  padding: 1.6vw 1.33333vw 0.53333vw 2.26667vw;
  border-bottom: none;
}

.des_tel dd article .tbl_tel_02 tr:nth-of-type(4) td p {
  font-size: 2.66667vw;
  line-height: 5.33333vw;
}

.des_tel dd article .tbl_tel_02 tr:nth-of-type(5) .bx_t {
  padding: 11.73333vw 0 3.46667vw 11.46667vw;
}

.des_tel dd article .tbl_tel_02 tr .bx_t {
  padding: 10.26667vw 0 0 9.6vw;
  position: relative;
}

.des_tel dd article .tbl_tel_02 tr .bx_t .bkg_grey {
  background-color: #ccc;
  color: #fff;
  font-size: 3.73333vw;
  line-height: 4.4vw;
  font-weight: bold;
  height: 6.93333vw;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.des_tel dd article .tbl_tel_02 tr .bx_t .time {
  display: block;
  font-style: normal;
  font-size: 3.73333vw;
  line-height: 4.4vw;
  font-weight: bold;
  margin-bottom: 2.93333vw;
}

.des_tel dd article .tbl_tel_02 tr .bx_t .time span:first-of-type {
  margin-right: 1.86667vw;
  display: inline-block;
  width: 26.4vw;
}

.des_tel dd article .tbl_tel_02 tr .bx_t .txt_center {
  padding-left: 10.26667vw;
  display: block;
}

.des_tel dd article .tbl_tel_02 tr .bx_t em {
  font-style: normal;
  font-size: 3.73333vw;
  line-height: 4.4vw;
  font-weight: bold;
}

.des_tel dd article .tbl_tel_02 tr .dt_flex {
  padding: 2.66667vw 0 3.86667vw 3.46667vw;
}

.des_tel dd article .tbl_tel_02 tr .dt_flex p {
  font-size: 2.93333vw;
  line-height: 5.33333vw;
  font-weight: bold;
  margin-bottom: 2.4vw;
}

.des_tel dd article .tbl_tel_02 tr .dt_flex strong {
  font-size: 3.73333vw;
  line-height: 4.4vw;
  margin: 0 4vw 0 0;
}

.common_step {
  margin-top: 16.66667vw;
}

.common_step_ttl {
  padding: 2.66667vw 0 3.2vw 16.66667vw;
  position: relative;
  font-size: 5.6vw;
  line-height: 1.5;
  font-weight: bold;
}

.common_step_ttl::before {
  position: absolute;
  content: "";
  width: 14.13333vw;
  height: 12.93333vw;
  left: -1px;
  top: -1.86667vw;
}

.common_step_sub_ttl {
  padding: 0 0 0 4.26667vw;
  position: relative;
  font-size: 4.8vw;
  line-height: 7.2vw;
  font-weight: bold;
  color: #000;
  margin-top: 9.6vw;
}

.common_step_sub_ttl::before {
  position: absolute;
  content: "";
  width: 1.33333vw;
  height: 7.2vw;
  left: 0;
  top: 0;
}

.common_step_note {
  border-width: 0.4vw;
  border-style: solid;
  -moz-border-radius: 0.8vw;
       border-radius: 0.8vw;
  margin-top: 8.4vw;
}

.common_step_note h4 {
  padding: 2.53333vw 0 2.53333vw 20.93333vw;
  position: relative;
  font-size: 0;
}

.common_step_note h4::before {
  position: absolute;
  content: "";
  width: 19.46667vw;
  height: 15.2vw;
  background: url("../images/lion_02.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: -0.8vw;
  bottom: 0;
}

.common_step_note_c {
  background: #fff;
  padding: 5.06667vw 2.66667vw;
  font-size: 3.73333vw;
  line-height: 6.66667vw;
  font-weight: 500;
}

.common_step_note_c._flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.common_step_note_c_txt {
  width: 100%;
}

.common_step_note_c figure {
  width: 70.66667vw;
  text-align: right;
}

.common_step_note_c figure img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.common_step_note_c ul li {
  position: relative;
  padding: 0 0 0 4.66667vw;
}

.common_step_note_c ul li::before {
  position: absolute;
  content: "";
  width: 3.2vw;
  height: 3.2vw;
  background: #3D3A39;
  -moz-border-radius: 50%;
       border-radius: 50%;
  left: 0;
  top: 1.73333vw;
}

.common_step.gas_manage .common_step_ttl {
  border-top: 0.53333vw solid #00428A;
  color: #00428A;
}

.common_step.gas_manage .common_step_ttl::before {
  background: url("../images/icon_gas_manage.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.common_step.gas_manage .common_step_sub_ttl::before {
  background: #00428A;
}

.common_step.gas_manage .common_step_note {
  border-color: #00428A;
}

.common_step.gas_manage .common_step_note h4 {
  background: #00428A;
}

.common_step.gas_house .common_step_ttl {
  border-top: 0.53333vw solid #006EB5;
  color: #006EB5;
}

.common_step.gas_house .common_step_ttl::before {
  background: url("../images/icon_gas_house.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.common_step.gas_house .common_step_sub_ttl::before {
  background: #006EB5;
}

.common_step.gas_house .common_step_note {
  border-color: #006EB5;
}

.common_step.gas_house .common_step_note h4 {
  background: #006EB5;
}

.common_step.gas_stove .common_step_ttl {
  border-top: 0.53333vw solid #0093D4;
  color: #0093D4;
}

.common_step.gas_stove .common_step_ttl::before {
  background: url("../images/icon_gas_stove.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.common_step.gas_stove .common_step_sub_ttl::before {
  background: #0093D4;
}

.common_step.gas_caution .common_step_ttl {
  border-top: 0.53333vw solid #00AEEB;
  color: #00AEEB;
}

.common_step.gas_caution .common_step_ttl::before {
  background: url("../images/icon_gas_caution.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.common_step.gas_caution .common_step_sub_ttl::before {
  background: #00AEEB;
}

.common_step.gas_caution .common_step_note {
  border-color: #00AEEB;
}

.common_step.gas_caution .common_step_note h4 {
  background: #00AEEB;
}

.common_step span.red {
  color: #ff0000;
  font-weight: bold;
}

.gas_manage_figure_i {
  margin-top: 5.33333vw;
  text-align: center;
}

.gas_manage_figure_i figcaption {
  font-size: 2.66667vw;
  line-height: 1.5;
  margin-top: 2vw;
}

.gas_manage_title {
  font-size: 4.26667vw;
  line-height: 6.66667vw;
  font-weight: bold;
  color: #00428A;
  margin-top: 3.33333vw;
}

.gas_manage_list {
  margin-top: 4vw;
}

.gas_manage_list li {
  font-size: 4vw;
  line-height: 6.66667vw;
  font-weight: 500;
  position: relative;
}

.gas_manage_list li:not(:first-child) {
  margin-top: 1.33333vw;
}

.gas_manage_list li::before {
  position: relative;
  content: "";
  width: 3.2vw;
  height: 3.2vw;
  background: #00428A;
  -moz-border-radius: 50%;
       border-radius: 50%;
  display: inline-block;
}

.gas_manage .common_step_note h4 img {
  width: 31.33333vw;
}

.gas_manage .common_step_note_c figure figcaption {
  font-size: 2.66667vw;
}

.gas_manage_detail {
  margin-top: 9.33333vw;
}

.gas_manage_detail_txt {
  color: #E84722;
  font-size: 2.93333vw;
  line-height: 5.06667vw;
  font-weight: bold;
  padding: 4vw 4vw 14vw;
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
}

.gas_manage_detail_txt::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../images/mess.png") 0 0 no-repeat;
  -moz-background-size: 100% 100%;
       background-size: 100% 100%;
  z-index: -2;
}

.gas_manage_detail_txt::after {
  position: absolute;
  content: "";
  width: 36.26667vw;
  height: 26.26667vw;
  background: url("../images/lion_03.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  right: 10vw;
  bottom: -9.06667vw;
  z-index: -1;
}

.gas_house {
  margin-top: 22.8vw;
}

.gas_house_wrap article {
  background: #EEF7FF;
  -moz-border-radius: 1.06667vw;
       border-radius: 1.06667vw;
  padding: 6.66667vw 5.6vw 4vw;
  margin-top: 5.06667vw;
}

.gas_house_wrap article h4 {
  font-size: 4.26667vw;
  line-height: 6.93333vw;
  color: #006EB5;
  padding: 0 0 0 4.66667vw;
  position: relative;
  font-weight: bold;
}

.gas_house_wrap article h4::before {
  position: absolute;
  content: "";
  width: 3.2vw;
  height: 3.2vw;
  background: #006EB5;
  -moz-border-radius: 50%;
       border-radius: 50%;
  left: 0;
  top: 1.86667vw;
}

.gas_house_wrap article p {
  font-size: 4.26667vw;
  line-height: 6.93333vw;
  font-weight: 500;
  margin-top: 2.66667vw;
}

.gas_house_wrap article figure {
  text-align: center;
  margin-top: 4.53333vw;
}

.gas_house_wrap article:nth-of-type(1) figure img {
  width: 59.73333vw;
}

.gas_house_wrap article:nth-of-type(2) figure img {
  width: 59.33333vw;
}

.gas_house_sec {
  margin-top: 6.8vw;
}

.gas_house_sec h5 {
  text-align: center;
  -webkit-transform: translateY(3.73333vw);
     -moz-transform: translateY(3.73333vw);
      -ms-transform: translateY(3.73333vw);
          transform: translateY(3.73333vw);
}

.gas_house_sec h5 img {
  width: 81.46667vw;
}

.gas_house_sec_wrap {
  border: 0.53333vw solid #006EB5;
  -moz-border-radius: 1.06667vw;
       border-radius: 1.06667vw;
  padding: 9.46667vw 2.66667vw 5.33333vw;
}

.gas_house_sec_col:not(:first-child) {
  margin-top: 9.33333vw;
}

.gas_house_sec_col ul li {
  position: relative;
  padding: 1.33333vw 0 1.33333vw 4.66667vw;
  font-size: 4vw;
  line-height: 6.66667vw;
  font-weight: bold;
  color: #3D3A39;
}

.gas_house_sec_col ul li:not(:first-child) {
  border-top: 1px dashed #3D3A39;
}

.gas_house_sec_col ul li::before {
  position: absolute;
  content: "";
  width: 3.2vw;
  height: 3.2vw;
  background: #3D3A39;
  -moz-border-radius: 50%;
       border-radius: 50%;
  left: 0;
  top: 3.06667vw;
}

.gas_house_sec_col p {
  font-size: 2.93333vw;
  line-height: 5.6vw;
  font-weight: 500;
}

.gas_house_sec_col figure {
  margin-top: 2.66667vw;
}

.gas_house .common_step_note h4 img {
  width: 41.46667vw;
}

.gas_stove_intro {
  font-size: 4vw;
  line-height: 6.66667vw;
  font-weight: 500;
  margin-top: 2.93333vw;
}

.gas_stove_sec_top {
  margin-top: 5.33333vw;
}

.gas_stove_sec_top_r {
  font-size: 4vw;
  line-height: 6.66667vw;
  font-weight: 500;
  margin-top: 4.53333vw;
}

.gas_stove_sec_top_r ul {
  margin-top: 3.2vw;
}

.gas_stove_sec_top_r ul li {
  padding: 0 0 0 4.66667vw;
  position: relative;
}

.gas_stove_sec_top_r ul li::before {
  position: absolute;
  content: "";
  width: 3.2vw;
  height: 3.2vw;
  background: #3D3A39;
  -moz-border-radius: 50%;
       border-radius: 50%;
  left: 0;
  top: 1.73333vw;
}

.gas_stove_sec_mid {
  margin-top: 6.26667vw;
}

.gas_stove_sec_mid h4 {
  text-align: center;
  -webkit-transform: translateY(3.73333vw);
     -moz-transform: translateY(3.73333vw);
      -ms-transform: translateY(3.73333vw);
          transform: translateY(3.73333vw);
}

.gas_stove_sec_mid h4 img {
  width: 81.46667vw;
}

.gas_stove_sec_mid_w {
  background: #EEF7FF;
  -moz-border-radius: 1.06667vw;
       border-radius: 1.06667vw;
  padding: 12vw 2.66667vw 5.33333vw;
}

.gas_stove_sec_mid_w section {
  padding: 5.6vw 2.66667vw;
  background: #fff;
  -moz-border-radius: 8px;
       border-radius: 8px;
  position: relative;
}

.gas_stove_sec_mid_w section::before {
  position: absolute;
  content: "";
  width: 8.26667vw;
  height: 8.26667vw;
  left: 0;
  top: 0;
}

.gas_stove_sec_mid_w section:nth-of-type(1)::before {
  background: url("../images/num_01.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.gas_stove_sec_mid_w section:nth-of-type(1) figure img {
  width: 30.53333vw;
}

.gas_stove_sec_mid_w section:nth-of-type(2)::before {
  background: url("../images/num_02.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.gas_stove_sec_mid_w section:nth-of-type(2) figure img {
  width: 27.86667vw;
}

.gas_stove_sec_mid_w section:nth-of-type(3)::before {
  background: url("../images/num_03.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.gas_stove_sec_mid_w section:nth-of-type(3) figure img {
  width: 22.26667vw;
}

.gas_stove_sec_mid_w section:nth-of-type(4)::before {
  background: url("../images/num_04.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.gas_stove_sec_mid_w section:nth-of-type(4) figure img {
  width: 18.66667vw;
}

.gas_stove_sec_mid_w section:not(:last-child) {
  margin-bottom: 5.33333vw;
}

.gas_stove_sec_mid_w section figure {
  text-align: center;
}

.gas_stove_sec_mid_w section ._right h5 {
  font-size: 4.26667vw;
  line-height: 6.93333vw;
  font-weight: bold;
  color: #0093D4;
}

.gas_stove_sec_mid_w section ._right p {
  font-size: 3.73333vw;
  line-height: 6.4vw;
  font-weight: 500;
  margin-top: 1.6vw;
}

.gas_stove_sec_bot {
  margin-top: 7.2vw;
}

.gas_stove_sec_bot h4 {
  font-size: 4.26667vw;
  line-height: 6.93333vw;
  font-weight: bold;
  color: #333;
  position: relative;
  padding: 0 0 0 7.6vw;
  margin-bottom: 5.33333vw;
}

.gas_stove_sec_bot h4::before {
  position: absolute;
  content: "";
  width: 5.2vw;
  height: 5.2vw;
  background: url("../images/exclamation.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 0;
  top: 0;
}

.gas_stove_sec_bot_w figure {
  -moz-border-radius: 1.06667vw;
       border-radius: 1.06667vw;
  border: 0.53333vw solid #F2F2F2;
  text-align: center;
  padding: 4vw 0;
}

.gas_stove_sec_bot_w figure:nth-child(1) img {
  width: 59.6vw;
}

.gas_stove_sec_bot_w figure:nth-child(2) {
  margin-top: 5.6vw;
}

.gas_stove_sec_bot_w figure:nth-child(2) img {
  width: 45.2vw;
}

.gas_stove_sec_bot_w figure figcaption {
  font-size: 2.93333vw;
  line-height: 1;
  font-weight: bold;
  margin-top: 2.66667vw;
}

.gas_caution {
  margin-bottom: 14.53333vw;
}

.gas_caution_smell {
  -moz-border-radius: 1.06667vw;
       border-radius: 1.06667vw;
  background: #F7F7F7;
  padding: 2.66667vw;
  margin-top: 2.66667vw;
  position: relative;
  background: url(../images/bkg_dd.png) 0% 0%/cover no-repeat #f4f4f4;
}

.gas_caution_smell::after {
  position: absolute;
  content: "";
  width: 17.33333vw;
  height: 9.06667vw;
  background: url("../images/rectangle.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -14.66667vw;
}

.gas_caution_smell figure {
  background: #fff;
  padding: 9.33333vw 2.66667vw 2.66667vw;
  text-align: center;
  -moz-border-radius: 8px;
       border-radius: 8px;
}

.gas_caution_smell figure:not(:nth-child(-n+1)) {
  margin-top: 2.66667vw;
}

.gas_caution_smell figure:nth-of-type(1) img {
  width: 58.93333vw;
}

.gas_caution_smell figure:nth-of-type(2) img {
  width: 55.46667vw;
}

.gas_caution_smell figure:nth-of-type(3) img {
  width: 31.06667vw;
}

.gas_caution_smell figure:nth-of-type(4) img {
  width: 23.6vw;
}

.gas_caution_smell figure img {
  margin-top: 3.2vw;
}

.gas_caution_smell figure figcaption {
  position: relative;
  padding: 0 0 0 6.13333vw;
  font-size: 4vw;
  line-height: 6.66667vw;
  font-weight: bold;
  text-align: left;
}

.gas_caution_smell figure figcaption::before {
  position: absolute;
  content: "";
  width: 4.66667vw;
  height: 4.4vw;
  background: url("../images/icon_check.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 0;
  top: 1.06667vw;
}

.gas_caution_smell_n {
  margin-top: 18.26667vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.93333vw 3.6vw 6vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FAF8EA;
  -moz-border-radius: 1.06667vw;
       border-radius: 1.06667vw;
}

.gas_caution_smell_n figure {
  width: 27.73333vw;
}

.gas_caution_smell_n h4 {
  width: 48.13333vw;
}

.gas_caution_smell_n p {
  width: 100%;
  margin-top: 5.33333vw;
  font-size: 3.73333vw;
  line-height: 6.4vw;
  font-weight: bold;
}

.gas_caution_disater_w {
  margin-top: 3.2vw;
}

.gas_caution_disater_w article {
  padding: 4vw 2.66667vw;
  -moz-border-radius: 1.06667vw;
       border-radius: 1.06667vw;
  border: 2px solid #ccc;
}

.gas_caution_disater_w article:first-child {
  margin-bottom: 5.86667vw;
}

.gas_caution_disater_w article h5 {
  font-size: 4vw;
  line-height: 6.66667vw;
  font-weight: bold;
  padding: 0 0 0 4.66667vw;
  position: relative;
  color: #00AEEB;
}

.gas_caution_disater_w article h5::before {
  position: absolute;
  content: "";
  width: 3.2vw;
  height: 3.2vw;
  background: #00AEEB;
  -moz-border-radius: 50%;
       border-radius: 50%;
  left: 0;
  top: 1.73333vw;
}

.gas_caution_disater_w article p {
  font-size: 4vw;
  line-height: 6.66667vw;
  margin-top: 1.33333vw;
  font-weight: 500;
}

.gas_caution_disater_w article figure {
  text-align: center;
}

.gas_caution_disater_w article figure._mar img {
  width: 49.06667vw;
}

.gas_caution_disater_w article figure img {
  width: 21.86667vw;
  margin-top: 5.6vw;
}

.gas_caution .common_step_note h4 img {
  width: 55.46667vw;
}

@-webkit-keyframes scrollDown {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    top: 100%;
  }
  50% {
    left: 1px;
    top: -100%;
  }
  75% {
    top: 0%;
  }
  85% {
    left: 1px;
    top: -100%;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@-moz-keyframes scrollDown {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    top: 100%;
  }
  50% {
    left: 1px;
    top: -100%;
  }
  75% {
    top: 0%;
  }
  85% {
    left: 1px;
    top: -100%;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes scrollDown {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    top: 100%;
  }
  50% {
    left: 1px;
    top: -100%;
  }
  75% {
    top: 0%;
  }
  85% {
    left: 1px;
    top: -100%;
  }
  100% {
    left: 0;
    top: 0;
  }
}
